<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Página em Branco</title>
		<script>
			function OcultaMsg(){
				document.getElementById("alertMsgFlash").hidden = true;
			}
		</script>
	</head>
	<body class="no-skin" background-image="/assets/images/papelparede/temaLogin.png" onload="javascript:controlaNave();">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					{{#compareString flash.sucesso "true"}}
						<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-block alert-success">
							<p>
								<strong>
									<i class="ace-icon fa fa-check"></i>
									{{flash.texto}}
								</strong>
								<button type="button" class="close" onclick="javascript:OcultaMsg()">
									<i class="ace-icon fa fa-times"></i>
								</button>
							</p>
						</div>
					{{else}}
						{{#compareString flash.sucesso "false"}}
							<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">
								<p>
									<strong>
										<i class="ace-icon fa fa-times"></i>
										{{flash.texto}}
									</strong>
									<button type="button" class="close" onclick="javascript:OcultaMsg()">
										<i class="ace-icon fa fa-times"></i>
									</button>
								</p>
							</div>
							<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
						{{else}}
							<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-warning">
								<p>
									<strong>
										<i class="ace-icon fa fa-times"></i>
										{{flash.texto}}
									</strong>
									<button type="button" class="close" onclick="javascript:OcultaMsg()">
										<i class="ace-icon fa fa-times"></i>
									</button>
								</p>
							</div>
							<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
						{{/compareString}}
					{{/compareString}}
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
	</body>
</html>
