<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Plano de Tratamentos</title>
		<style>
			.expandir-textarea {
				width: 100%;
				box-sizing: border-box;
				resize: none;
			}
		</style>
		<script type="text/javascript">
			
			function defineplanopadrao(){
				
				document.getElementById('is').style.display = 'none';
				document.getElementById('padrao').style.display = 'none';
				document.getElementById('terato').style.display = 'none';

			}
			function mudaPlano() {
				let tipodoc = document.getElementById("tratPlanotipo").value;
				console.log(tipodoc)
				if (tipodoc == "Padrão") {
					document.getElementById('is').style.display = 'none';
					document.getElementById('padrao').style.display = 'block';
					document.getElementById('terato').style.display = 'none';
					document.getElementById('tera').style.display = 'block';
					
				} else if (tipodoc == "Ocupacional") {
					document.getElementById('is').style.display = 'block';
					document.getElementById('padrao').style.display = 'none';
					document.getElementById('terato').style.display = 'block';
					document.getElementById('tera').style.display = 'none';
					
					
				} else {
				document.getElementById('is').style.display = 'none';
				document.getElementById('padrao').style.display = 'none';
				document.getElementById('terato').style.display = 'none';
				

				}
				document.getElementById('tratPlanotipo').ReadOnly
   			}
			
			function atualizaDadosbene(){
				let beneid = document.getElementById("tratBeneid").value;

				var dataIso = document.getElementById(beneid+"_beneDatanasc").value;
				if (dataIso != undefined && dataIso != "undefined"){
					var dataFmt = new Date(dataIso);
					let dataAtual = new Date();
					
					document.getElementById("beneDatanasc").value = formataData(dataFmt);//document.getElementById("_beneDatanasc").value;
					document.getElementById("beneIdade").value = calculaIdade(dataFmt);
				}
				document.getElementById("laudoDiag").value = document.getElementById((beneid+"_laudoDiagEdi")).value;
				//document.getElementById("beneMae").value = document.getElementById(beneid+"_beneMae").value;
				//document.getElementById("benePai").value = document.getElementById(beneid+"_benePai").value;
			}

			function calculaIdade(dataFmt){
				let dataAtual = new Date();
				let ano = dataAtual.getFullYear() - dataFmt.getFullYear();
				let mes = dataAtual.getUTCMonth() - dataFmt.getMonth();
				console.log("dataAtual.getUTCDate(): "+dataAtual.getUTCDate());
				console.log("dataFmt.getUTCDate(): "+dataFmt.getUTCDate());
				let dias = dataAtual.getUTCDate() - dataFmt.getUTCDate();
				if (dias < 0){
					mes = mes-1;
				}
				return (ano + " anos e " + mes + " meses.");
			}
						
						
			function atualizaData(){
				var dataIso = document.getElementById("b").value+"T00:00:00.000Z";
				var dataFmt = new Date(dataIso);
				console.log(dataFmt.toISOString());
				document.getElementById("a").value = dataFmt;
			}
			function formataData(date) {//yyyy-MM-dd
				var d = new Date(date);
				if (d.getTimezoneOffset() == 180){
					d.setHours(d.getHours()+3);
				}
				console.log("d:"+d);
					month = '' + (d.getMonth() + 1);
					day = '' + d.getDate();
					year = d.getFullYear();

				if (month.length == 1) {
					month = '0' + month;
				}
					
				if (day.length == 1) {
					day = '0' + day;
				}

				return [year, month, day].join('-');
			}
			
			function validarFormulario() {
				let tipo = document.getElementById("tratPlanotipo").value;

				if (tipo === 'null' || tipo === undefined || tipo === 'undefined' || tipo === "" || tipo === "-") {
					alert('Por favor, o tipo do plano de tratamento é fundamental. Escolha "Padrão" ou "Ocupacional".');
					return "false"; // Impede o envio do formulário se algum campo estiver em branco
				} else {
					var inputscab = document.getElementsByClassName('cab');
					for (var i = 0; i < inputscab.length; i++) {
						if ((inputscab[i].value.trim() === '' || inputscab[i].value.trim() === '-')) {
							alert('Por favor, preencha todos os campos obrigatórios.');
							return "false";
						}
					}

					if (tipo === "Padrão") {
						var inputspad = document.getElementsByClassName('pad');

						for (var i = 0; i < inputspad.length; i++) {
							if ((inputspad[i].value.trim() === '' || inputspad[i].value.trim() === '-')) {
								alert('Por favor, selecione uma opção para todos os campos obrigatórios.');
								return "false";
							}
						}

						return "true";
					} else {
						var inputsocup = document.getElementsByClassName('ocup');

						for (var i = 0; i < inputsocup.length; i++) {
							if ((inputsocup[i].value.trim() === '' || inputsocup[i].value.trim() === '-')) {
								alert('Por favor, preencha todos os campos obrigatórios.');
								return "false";
							}
						}

						return "true";
					}
				}
			}

			
		function submeterFormulario(){
			let validacao = this.validarFormulario();
			if (validacao == "true"){
				let form = document.getElementById("formPlanoadd");
				form.action = "/area/plano/add";
				form.submit();
			}
		}
		
			
				
			
		</script>
	</head>

	<body onload="javascript:controlaNave(); defineplanopadrao();" class="no-skin">
		<div class="main-content ace-save-state" id="main-container">
			<div class="main-content-inner">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">Route</a>
						</li>

						<li class="active">Plano de Tratamentos</li>
					</ul><!-- /.breadcrumb -->
					
				</div>

				<div class="row">
					<div class="col-sm-12">
						<!-- PAGE CONTENT BEGINS -->
						<form id="formPlanoadd" class="form-horizontal" role="form" action="submeterFormulario();" method="POST">
							<div class="col-sm-12" name="plan" id="plan"><!-- Widget plano -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="orange ace-icon fa fa-check-square bigger-110"></i>
											Tipo plano de tratamento
										</h4>
										<div id="divCarrega" name="divCarrega" class="hidden">
											<!-- /.importante Id de indice-->
											<!-- /.IMPORTANTE!!! TODOS type DEVEM SER text !!!!!!!!!!!-->
											{{#each benes}}
												<input type="text" id="{{_id}}_beneDatanasc" name="beneDatanascEdi" value="{{bene_datanasc}}"/>
											{{/each}}
											{{#each laudos}}
												<input type="text" id="{{laudo_beneid}}_laudoDiagEdi" name="{{laudo_beneid}}_laudoDiagEdi" value="{{laudo_diag}}"/>
											{{/each}}
										</div>
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											
											<div class="row">
												<div class="col-sm-4">
													<label>Tipo de plano de tratamento:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<select name="tratPlanotipo" id="tratPlanotipo" class="chosen-select" class="cab" data-placeholder="-" onchange="javascript:mudaPlano();">
																<option value="-">-</option>
																<option value="Padrão">Padrão</option>
																<option value="Ocupacional">Ocupacional</option>
															</select>
														</div>
													</div>	
												</div>
												
												<div class="col-sm-4">
													<label for="id-date-picker-1">Data plano:</label>
													<div class="row">
														<div class="col-sm-4">
															<div class="input-group">
																<input name="tratTratdata" id="tratTratdata" type="date"  class="cab" onchange="javascript:atualizaData();" />
															</div>
														</div>
													</div>
												</div>

											</div>
											
												
											
										</div>	
									</div>	
								</div>
							</div>
								
							
							<div class="col-sm-12" name="ident" id="ident"><!-- Widget Beneficiario-->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="pink ace-icon fa fa-child bigger-110"></i>
											Beneficiário
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											
											<div class="row">
												<div class="col-xs-12 col-sm-4">
													<label>Beneficiário:</label>
													<div class="form-group">
														<div class="col-sm-8">
															<select name="tratBeneid" id="tratBeneid" class="chosen-select"  class="cab" onchange="javascript:atualizaDadosbene()">
																<option value="766f69643132333435366964">-</option>
																{{#each benes}}
																	<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														As informações complementares são preenchidas automaticamente pelo último laudo emitido e cadastro no sistema.<br>
                                                        
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-4 col-sm-4">
													<label>Data nascimento:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<div class="input-group">
																<input name="beneDatanasc" id="beneDatanasc" type="date" readonly="true"  />
															</div>
														</div>
													</div>
												</div>												
											
												<div class="col-xs-4 col-sm-4">
													<label>Idade:</label>
													<div class="row">
														<div class="col-sm-4">
															<div class="input-group" >
																<input name="beneIdade" id="beneIdade" type="text" readonly="true" />
															</div>
														</div>
													</div>
												</div>
												
											</div>
											
											<div class="row">
												<div class="col-sm-12">
													<label>Diagnóstico:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea name="laudoDiag" id="laudoDiag" style="font-size: 12px" class="form-control" readonly="true"></textarea>
														</div>
													</div>	
												</div>
											</div>

										</div>	
									</div>	
								</div>
							</div>
							
							<div class="col-sm-12" name="tera" id="tera"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="green ace-icon fa fa-user bigger-110"></i>
											Terapeuta
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="tratEspecialidadepad" id="tratEspecialidadepad" class="chosen-select" class="pad" data-placeholder="Escolha...">
																<option value="-">-</option>
																<option value="Fisioterapia">Fisioterapia</option>
																<option value="Fonoaudiologia">Fonoaudiologia</option>
																<option value="Musicoterapia">Musicoterapia</option>
																<option value="Nutrição">Nutrição</option>
																<option value="Psicologia">Psicologia</option>
																<option value="Psicomotricista">Psicomotricista</option>
																<option value="PsicomotricistaFuncional">Psicomotricista Funcional</option>
																<option value="PsicomotricistaRelacional">Psicomotricista Relacional</option>
																<option value="Psicopedagogia">Psicopedagogia</option>
																<option value="TerapiaCognitivoComportamental">Terapia Cognitivo Comportamental</option>
																<option value="TerapiaOcupacional">Terapia Ocupacional</option>
																<option value="TerapiaOcupacionalcomAbordagememIntegraçãoSensorial">Terapia Ocupacional com Abordagem em Integração Sensorial</option>
																<option value="TerapiaAnáliseDoComportamentoAplicada-ABA">Terapia Análise Do Comportamento Aplicada - ABA</option>
																<option value="TerapiaAnáliseDoComportamentoAplicada-ABAEscolar">Terapia Análise Do Comportamento Aplicada - ABA Escolar</option>
															</select>
														</div>
													</div>	
												</div>
												

											<div class="row">
												<div class="col-xs-12 col-sm-4">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-8">
															<select name="tratTerapeutaidpad" id="tratTerapeutaidpad" class="pad" class="chosen-select" >
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																	<option value="{{_id}}">{{usuario_nomecompleto}}</option>
																{{/each}}
															</select>
														</div>
													</div>
												</div>												
											</div>

												

												<div class="col-sm-3">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhopad" id="tratRegconselhopad" class="pad" data-placeholder="-" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											
										</div>	
									</div>	
								</div>
							</div>							
							
							<div class="col-sm-12" name="terato" id="terato"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="green ace-icon fa fa-user bigger-110"></i>
											Terapeutas
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="tratEspecialidadeis" id="tratEspecialidadeis" class="chosen-select" class="ocup" data-placeholder="Escolha...">
																<option value="-">-</option>
																<option value="Fisioterapia">Fisioterapia</option>
																<option value="Fonoaudiologia">Fonoaudiologia</option>
																<option value="Musicoterapia">Musicoterapia</option>
																<option value="Nutrição">Nutrição</option>
																<option value="Psicologia">Psicologia</option>
																<option value="Psicomotricista">Psicomotricista</option>
																<option value="PsicomotricistaFuncional">Psicomotricista Funcional</option>
																<option value="PsicomotricistaRelacional">Psicomotricista Relacional</option>
																<option value="Psicopedagogia">Psicopedagogia</option>
																<option value="TerapiaCognitivoComportamental">Terapia Cognitivo Comportamental</option>
																<option value="TerapiaOcupacional">Terapia Ocupacional</option>
																<option value="TerapiaOcupacionalcomAbordagememIntegraçãoSensorial">Terapia Ocupacional com Abordagem em Integração Sensorial</option>
																<option value="TerapiaAnáliseDoComportamentoAplicada-ABA">Terapia Análise Do Comportamento Aplicada - ABA</option>
																<option value="TerapiaAnáliseDoComportamentoAplicada-ABAEscolar">Terapia Análise Do Comportamento Aplicada - ABA Escolar</option>
															</select>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">	
												<div class="col-sm-6">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="tratTerapeutaidis" id="tratTerapeutaidis" class="chosen-select" class="ocup" data-placeholder="-" >
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nomecompleto}}</option>
																{{/each}}
															</select>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhois" id="tratRegconselhois" class="ocup" data-placeholder="-" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="tratEspecialidadeavd" id="tratEspecialidadeavd" class="chosen-select" class="ocup" data-placeholder="Escolha...">
																<option value="-">-</option>
																<option value="Fisioterapia">Fisioterapia</option>
																<option value="Fonoaudiologia">Fonoaudiologia</option>
																<option value="Musicoterapia">Musicoterapia</option>
																<option value="Nutrição">Nutrição</option>
																<option value="Psicologia">Psicologia</option>
																<option value="Psicomotricista">Psicomotricista</option>
																<option value="PsicomotricistaFuncional">Psicomotricista Funcional</option>
																<option value="PsicomotricistaRelacional">Psicomotricista Relacional</option>
																<option value="Psicopedagogia">Psicopedagogia</option>
																<option value="TerapiaCognitivoComportamental">Terapia Cognitivo Comportamental</option>
																<option value="TerapiaOcupacional">Terapia Ocupacional</option>
																<option value="TerapiaOcupacionalcomAbordagememIntegraçãoSensorial">Terapia Ocupacional com Abordagem em Integração Sensorial</option>
																<option value="TerapiaAnáliseDoComportamentoAplicada-ABA">Terapia Análise Do Comportamento Aplicada - ABA</option>
																<option value="TerapiaAnáliseDoComportamentoAplicada-ABAEscolar">Terapia Análise Do Comportamento Aplicada - ABA Escolar</option>
															</select>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">	
												<div class="col-sm-4">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<select name="tratTerapeutaidavd" id="tratTerapeutaidavd" class="chosen-select" class="ocup" data-placeholder="-" >
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nomecompleto}}</option>
																{{/each}}
															</select>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhoavd" id="tratRegconselhoavd" class="ocup" data-placeholder="-" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											
										</div>	
									</div>	
								</div>
							</div>		

							<div class="col-sm-12" name="padrao" id="padrao" ><!-- Widget Padrão -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="orange ace-icon fa fa-cubes bigger-110"></i>
											Plano de Tratamento - Padrão</h4>

										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>
									
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												
												<div class="col-sm-12">
													<label>Histórico clínico:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea  name="tratHistoricopad" id="tratHistoricopad" class="pad" style="font-size: 12px" data-placeholder="-" placeholder="Com base na sua especialidade terapêutica." class="form-control" rows="3" ></textarea>
														</div>	
													</div>
												</div>

												<div class="col-sm-12">
													<label>Objetivos gerais:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea name="tratObjgeralpad" id="tratObjgeralpad" class="pad" style="font-size: 12px" data-placeholder="-" placeholder="Descreva os objetivos da sua intervenção terapêutica para os próximos 6 meses de forma geral, seguindo uma sequência de acontecimentos ou informando a sua organização / planejamento com o beneficiário." class="form-control" rows="3"></textarea>
														</div>
													</div>	
												</div>
												
												<div class="col-sm-12">
													<label>Objetivos específicos:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea  name="tratObjespecificopad" id="tratObjespecificopad" class="pad" style="font-size: 12px" data-placeholder="-" placeholder="Descreva os objetivos específicos da sua intervenção terapêutica, detalhando métodos, técnicas e meios utilizados para a evolução do beneficiário." class="form-control" rows="3" ></textarea>
														</div>
													</div>	
												</div>

												<div class="col-sm-12">
													<label>Estratégias:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea  name="tratEstrategiapad" id="tratEstrategiapad" class="pad" style="font-size: 12px" data-placeholder="-" placeholder="Descreva suas estratégias para os próximos seis meses de intervenção terapêutica." class="form-control" rows="3" ></textarea>
														</div>
													</div>	
												</div>

												
												
											</div>
										</div>										
									</div>		
								</div>
							</div>
									
							<div class="col-xs-12 col-sm-12" name="is" id="is"><!-- Widget Dados TO IS e TO AVD -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="purple ace-icon fa fa-rss bigger-110"></i>
											Plano de Tratamento</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											
											</span>
									</div>
									<div class="widget-body">
										<div class="widget-main">												
											<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
												<thead></thead>
												<tbody>
													<tr>
														<td><label>Diagnóstico terapêutico ocupacional:</label></td>
													</tr>
													<tr>
														<td><textarea  name="tratDiagnosticoocup" id="tratDiagnosticoocup"  class="expandir-textarea ocup" style="font-size: 12px; height: 100%" placeholder="-" class="form-control" rows="5" ></textarea></td>
													</tr>
													<tr>
														<td><label>Metas à curto prazo:</label></td>
													</tr>
													<tr>
														<td><textarea  name="tratMetacurtois" id="tratMetacurtois" class="expandir-textarea ocup" style="font-size: 12px"  placeholder="-" class="form-control" rows="2" ></textarea></td>
													</tr>
													<tr>
														<td><label>Metas à médio prazo:</label></td>
													</tr>
													<tr>
														<td><textarea name="tratMetamediois" id="tratMetamediois" class="expandir-textarea ocup" style="font-size: 12px"  placeholder="-" class="form-control" rows="2" ></textarea></td>
													</tr>
													<tr>
														<td><label>Metas à longo prazo:</label></td>
													</tr>
													<tr>
														<td><textarea name="tratMetalongois" id="tratMetalongois" class="expandir-textarea ocup" style="font-size: 12px" placeholder="-" class="form-control" rows="2"></textarea></td>
													</tr>
													<tr>
														<td><label>Estratégias e objetivos:</label></td>
													</tr>
													<tr>
														<td><textarea  name="tratObjetivois" id="tratObjetivois" class="expandir-textarea ocup" style="font-size: 12px" placeholder="-" rows="3" class="form-control" rows="2"></textarea></td>
													</tr>
												</tbody>
												<tfoot></tfoot>
											</table>
										
											<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Id do usuário que digitou no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratUsuidcad" id="tratUsuidcad" type="text" style="font-size: 12px" placeholder="-" class="form-control" />
															
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Data da alteração digitada no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratDatacad" id="tratDatacad" type="date" onchange="javascript:atualizaData()" />
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-sm-12" name="obs" id="obs"><!-- Widget Dados TO IS e TO AVD -->
								<div class="widget-box">
									
									<div class="widget-body">
										<div class="widget-main">												
											<label>Observações:</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea  name="tratObspad" id="tratObspad"  style="font-size: 12px"  class="form-control" rows="3" ></textarea>
												</div>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="space-4"></div>							
							<div class="space-4"></div>
							<div>
								<div class="col-xs-12" style="text-align: center;" >
									<button class="btn btn-info" type="button" onclick="javascript:submeterFormulario();">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</div><!-- /.form-actions -->
						</div>
						</form><!-- /.form -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content-inner -->
		</div><!-- /.main-content -->
	</body><!-- /.<body -->
</html>