<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Plano de Tratamentos</title>
		<script type="text/javascript">
			
			function defineplanopadrao(){
				document.getElementById("tratPlanotipo").value = document.getElementById("tratPlanotipoEdi").value;
			}
			function mudaPlano() {
				let tipodoc = document.getElementById("tratPlanotipoEdi").value;
				console.log(tipodoc)
				if (tipodoc == "Padrão") {
					document.getElementById('is').style.display = 'none';
					document.getElementById('padrao').style.display = 'block';
					document.getElementById('terato').style.display = 'none';
					document.getElementById('tera').style.display = 'block';
					
				} else if (tipodoc == "Ocupacional") {
					document.getElementById('is').style.display = 'block';
					document.getElementById('padrao').style.display = 'none';
					document.getElementById('terato').style.display = 'block';
					document.getElementById('tera').style.display = 'none';
					
				} else {
				document.getElementById('is').style.display = 'none';
				document.getElementById('padrao').style.display = 'none';
				document.getElementById('terato').style.display = 'none';

				}
				document.getElementById('tratPlanotipo').ReadOnly
   			}
			function atualizaTerapeutaId(){
				document.getElementById("tabilTerapeutaId").value = document.getElementById("atendTerapeutaid").value
			}
			function atualizaData(){
				var hora = "00:00"
				var data = document.getElementById("tratTratdata").value+"T"+hora+":00.000Z";
				var datafmt = new Date(data);
				document.getElementById("tratTratdata").value = datafmt.toISOString();
			}
			function permitirSalvar(){
				
				
			}
			function carregaBody(){
			let dtnsc = new Date(document.getElementById("tratTratdataEdi").value);
			let mes = (dtnsc.getMonth()+1).toString();
			let dia = (dtnsc.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(dtnsc.getFullYear()+"-"+mes+"-"+dia).toString();
					
			document.getElementById("tratPlanotipo").value = document.getElementById("tratPlanotipoEdi").value;
			document.getElementById("tratBeneid").value = document.getElementById("tratBeneidEdi").value;
			document.getElementById("tratTratdata").value = fulldate;
			document.getElementById("tratDiagnostico").value = document.getElementById("tratDiagnosticoEdi").value;
			document.getElementById("tratEspecialidadepad").value = document.getElementById("tratEspecialidadepadEdi").value;
			document.getElementById("tratTerapeutaidpad").value = document.getElementById("tratTerapeutaidpadEdi").value;
			document.getElementById("tratRegconselhopad").value = document.getElementById("tratRegconselhopadEdi").value;
			document.getElementById("tratHistoricopad").value = document.getElementById("tratHistoricopadEdi").value;
			document.getElementById("tratObjgeralpad").value = document.getElementById("tratObjgeralpadEdi").value;
			document.getElementById("tratObjespecificopad").value = document.getElementById("tratObjespecificopadEdi").value;
			document.getElementById("tratEstrategiapad").value = document.getElementById("tratEstrategiapadEdi").value;
			document.getElementById("tratObspad").value = document.getElementById("tratObspadEdi").value;
			document.getElementById("tratDiagnosticoocup").value = document.getElementById("tratDiagnosticoocupEdi").value;
			document.getElementById("tratEspecialidadeis").value = document.getElementById("tratEspecialidadeisEdi").value;
			document.getElementById("tratTerapeutaidis").value = document.getElementById("tratTerapeutaidisEdi").value;
			document.getElementById("tratRegconselhois").value = document.getElementById("tratRegconselhoisEdi").value;
			document.getElementById("tratMetacurtois").value = document.getElementById("tratMetacurtoisEdi").value;
			document.getElementById("tratMetamediois").value = document.getElementById("tratMetamedioisEdi").value;
			document.getElementById("tratMetalongois").value = document.getElementById("tratMetalongoisEdi").value;
			document.getElementById("tratObjetivois").value = document.getElementById("tratObjetivoisEdi").value;
			document.getElementById("tratEspecialidadeavd").value = document.getElementById("tratEspecialidadeavdEdi").value;
			document.getElementById("tratTerapeutaidavd").value = document.getElementById("tratTerapeutaidavdEdi").value;
			document.getElementById("tratRegconselhoavd").value = document.getElementById("tratRegconselhoavdEdi").value;
			console.log("ta chegando aqui?");
			let usuarioAtual = document.getElementById("usuarioAtual").value;
			if ((document.getElementById("tratTerapeutaidpad").value || document.getElementById("tratTerapeutaidis").value || document.getElementById("tratTerapeutaidavd").value) == usuarioAtual){
				document.getElementById("acaoSalvar").style.display = '';
			} else {
				document.getElementById("acaoSalvar").style.display = 'none';
			}
			}
		</script>
	</head>

	<body onload="javascript:controlaNave();carregaBody();mudaPlano();" class="no-skin">
		<div class="main-content ace-save-state" id="main-container">
			<div class="main-content-inner">
				<div class="row">
					<div class="col-sm-12">
						<div class="breadcrumbs" id="breadcrumbs">
							<ul class="breadcrumb">
								<li>
									<i class="ace-icon fa fa-home home-icon"></i>
									<a href="#">Route</a>
								</li>

								<li class="active">Plano de Tratamentos - Visualizar</li>
							</ul><!-- /.breadcrumb -->
							<div id="divCarrega" name="divCarrega" class="hidden">
								<input id="tratPlanotipoEdi" name="tratPlanotipoEdi" value="{{trat.trat_planotipo}}"/>
								<input id="tratBeneidEdi" name="tratBeneidEdi" value="{{trat.trat_beneid}}"/>
								<input id="tratBeneidadeEdi" name="tratBeneidadeEdi" value="{{trat.trat_beneidade}}"/>
								<input id="tratTratdataEdi" name="tratTratdataEdi" value="{{trat.trat_tratdata}}"/>
								<input id="tratTratdatavigenciaEdi" name="tratTratdatavigenciaEdi" value="{{trat.trat_tratdatavigencia}}"/>
								<input id="tratDiagnosticoEdi" name="tratDiagnosticoEdi" value="{{trat.trat_diagnostico}}"/>
								<input id="tratEspecialidadepadEdi" name="tratEspecialidadepadEdi" value="{{trat.trat_especialidadepad}}"/>
								<input id="tratTerapeutaidpadEdi" name="tratTerapeutaidpadEdi" value="{{trat.trat_terapeutaidpad}}"/>
								<input id="tratRegconselhopadEdi" name="tratRegconselhopadEdi" value="{{trat.trat_regconselhopad}}"/>
								<input id="tratHistoricopadEdi" name="tratHistoricopadEdi" value="{{trat.trat_historicopad}}"/>
								<input id="tratObjgeralpadEdi" name="tratObjgeralpadEdi" value="{{trat.trat_objgeralpad}}"/>
								<input id="tratObjespecificopadEdi" name="tratObjespecificopadEdi" value="{{trat.trat_objespecificopad}}"/>
								<input id="tratEstrategiapadEdi" name="tratEstrategiapadEdi" value="{{trat.trat_estrategiapad}}"/>
								<input id="tratObspadEdi" name="tratObspadEdi" value="{{trat.trat_obspad}}"/>
								<input id="tratDiagnosticoocupEdi" name="tratDiagnosticoocupEdi" value="{{trat.trat_diagnosticoocup}}"/>
								<input id="tratEspecialidadeisEdi" name="tratEspecialidadeisEdi" value="{{trat.trat_especialidadeis}}"/>
								<input id="tratTerapeutaidisEdi" name="tratTerapeutaidisEdi" value="{{trat.trat_terapeutaidis}}"/>
								<input id="tratRegconselhoisEdi" name="tratRegconselhoisEdi" value="{{trat.trat_regconselhois}}"/>
								<input id="tratMetacurtoisEdi" name="tratMetacurtoisEdi" value="{{trat.trat_metacurtois}}"/>
								<input id="tratMetamedioisEdi" name="tratMetamedioisEdi" value="{{trat.trat_metamediois}}"/>
								<input id="tratMetalongoisEdi" name="tratMetalongoisEdi" value="{{trat.trat_metalongois}}"/>
								<input id="tratObjetivoisEdi" name="tratObjetivoisEdi" value="{{trat.trat_objetivois}}"/>
								<input id="tratEspecialidadeavdEdi" name="tratEspecialidadeavdEdi" value="{{trat.trat_especialidadeavd}}"/>
								<input id="tratTerapeutaidavdEdi" name="tratTerapeutaidavdEdi" value="{{trat.trat_terapeutaidavd}}"/>
								<input id="tratRegconselhoavdEdi" name="tratRegconselhoavdEdi" value="{{trat.trat_regconselhoavd}}"/>
								<input id="usuarioAtual" name="usuarioAtual" value="{{usuarioAtual}}"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<!-- PAGE CONTENT BEGINS -->
						<form class="form-horizontal" role="form" action="/menu/area/plano/atualizar" method="POST">
							<input class="hidden" id="tratId" name="tratId" value="{{trat._id}}" />
							<div class="col-sm-12" name="plan" id="plan"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="brown ace-icon fa fa-child bigger-110"></i>
											Tipo plano de tratamento
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											
											<div class="row">
												<div class="col-sm-2">
													<label>Escolha o plano de tratamento:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<select name="tratPlanotipo" id="tratPlanotipo" class="chosen-select" value="{{trat.trat_planotipo}}">
																<option value="-">-</option>
																<option value="Padrão">Padrão</option>
																<option value="Ocupacional">Ocupacional</option>
															</select>
														</div>
													</div>	
												</div>
											</div>
										</div>	
									</div>	
								</div>
							</div>
							
							<div class="col-sm-12" name="ident" id="ident"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="brown ace-icon fa fa-child bigger-110"></i>
											Beneficiário
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											
											<div class="row">
																					
												<div class="col-xs-12 col-sm-4">
													<label>Beneficiário:</label>
													<div class="form-group">
														<div class="col-sm-8">
															<select name="tratBeneid" id="tratBeneid" class="chosen-select" placeholder="Colocar nome completo." >
																<option value="766f69643132333435366964">-</option>
																{{#each benes}}
																	<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>
												</div>												
																						
																							
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label for="id-date-picker-1">Data plano:</label>
													<div class="row">
														<div class="col-sm-4">
															<div class="input-group">
																<input name="tratTratdata" id="tratTratdata" type="date" />
															</div>
														</div>
													</div>
												</div>
												
											</div>
										</div>	
									</div>	
								</div>
							</div>

							<div class="col-sm-12" name="tera" id="tera"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="green ace-icon fa fa-user bigger-110"></i>
											Terapeuta
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="tratEspecialidadepad" id="tratEspecialidadepad" placeholder="Colocar nome da sua terapia." class="form-control" />
														</div>
													</div>	
												</div>
												
												<div class="col-sm-4">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<select name="tratTerapeutaidpad" id="tratTerapeutaidpad" class="chosen-select" placeholder="Escolha..." >
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																	<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>	
												</div>

												<div class="col-sm-3">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhopad" id="tratRegconselhopad" placeholder="" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											
										</div>	
									</div>	
								</div>
							</div>							
							
							<div class="col-sm-12" name="terato" id="terato"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="green ace-icon fa fa-user bigger-110"></i>
											Terapeutas
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="tratEspecialidadeis" id="tratEspecialidadeis" data-placeholder="TO - Terapia Ocupacional" class="form-control" class="readonly"/>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">	
												<div class="col-sm-4">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<select name="tratTerapeutaidis" id="tratTerapeutaidis" class="chosen-select" placeholder="Escolha..." style="width:400px;">
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>	
												</div>

												<div class="col-sm-3">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhois" id="tratRegconselhois" placeholder="" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="tratEspecialidadeavd" id="tratEspecialidadeavd" data-placeholder="TO - Terapia Ocupacional" class="form-control" class="readonly"/>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">	
												<div class="col-sm-4">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<select name="tratTerapeutaidavd" id="tratTerapeutaidavd" class="chosen-select" placeholder="Escolha..." style="width:400px;">
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>	
												</div>

												<div class="col-sm-3">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhoavd" id="tratRegconselhoavd" placeholder="" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											
										</div>	
									</div>	
								</div>
							</div>		

							<div class="col-sm-12" name="infoad" id="infoad"><!-- Informações Complementar -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="green ace-icon fa fa-archive bigger-110"></i>
											Informações complemetares
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-xs-12">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														As informações adicionais são oriundas do cadastro do beneficiário e último laudo emitido e cadastrado no sistema.<br>
                                                        Qualquer informação divergente contante aqui, deve ser reportado IMEDIATAMENTE ao administrativo.<br>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-4 col-sm-4">
													<label>Data nascimento:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<div class="input-group">
																<input name="beneDatanasc" id="beneDatanasc" type="date" class="readonly" onchange="javascript:atualizaData()" />
															</div>
														</div>
													</div>
												</div>												
											
												<div class="col-xs-4 col-sm-4">
													<label for="id-date-picker-1">Idade:</label>
													<div class="row">
														<div class="col-sm-4">
															<div class="input-group">
																<input name="beneIdade" id="beneIdade" type="text" class="readonly" onchange="" />
															</div>
														</div>
													</div>
												</div>
												
											</div>
											<div class="row">
												<div class="col-xs-6 col-sm-6" >
													<label for="id-date-picker-1">Diagnóstico:</label>
													<div class="row">
														<div class="col-sm-6">
															<div class="input-group">
																<input type="text" name="laudoDiag" id="laudoDiag" class="readonly" class="form-control"  />
															</div>
														</div>
													</div>
												</div>
											
												<div class="col-xs-6 col-sm-6">
													<label for="id-date-picker-1">Médico responsável:</label>
													<div class="row">
														<div class="col-sm-6">
															<div class="input-group">
																<input type="text" name="laudoMedico" id="laudoMedico" class="readonly" class="form-control"  />
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<label for="id-date-picker-1">Especialidade:</label>
													<div class="row">
														<div class="col-sm-12">
															<div class="input-group">
																<input type="text" name="laudoMedicoesp" id="laudoMedicoesp" class="readonly" class="form-control" />
															</div>
															
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 col-sm-4">
													<label>Data ultimo laudo:</label>
													<div class="form-group">
														<div class="col-sm-8">
															<div class="input-group">
																<input name="laudoData" id="laudoData" type="date" class="readonly" onchange="javascript:atualizaData()" />
															</div>
														</div>
													</div>
												</div>												
											</div>
											<div class="row">
												<div class="col-xs-6 col-sm-6">
													<label for="id-date-picker-1">Nome mãe:</label>
													<div class="row">
														<div class="col-sm-6">
															<div class="input-group">
																<input type="text" name="beneMae" id="beneMae"  class="readonly" class="form-control" />
															</div>
															
														</div>
													</div>
												</div>
											
												<div class="col-xs-6 col-sm-6">
													<label for="id-date-picker-1">Nome pai:</label>
													<div class="row">
														<div class="col-sm-6">
															<div class="input-group">
																<input type="text" name="benePai" id="benePai" class="readonly" class="form-control" />
															</div>
															
														</div>
													</div>
												</div>
											</div>
										</div>	
									</div>	
								</div>
							</div>

							<div class="col-sm-12" name="diag" id="diag"><!-- Widget Diagnóstico clínico -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="red ace-icon fa fa-heartbeat bigger-120"></i>
											Diagnóstico clínico
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-sm-12">
													<label>Diagnóstico clínico:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="tratDiagnostico" id="tratDiagnostico" style="font-size: 12px" placeholder="Utilizar o diagnóstico que está escrito no laudo médico." class="form-control" rows="5"  data-iconlibrary="fa"></textarea>
														</div>
													</div>	
												</div>
											</div>
										</div>	
									</div>	
								</div>
							</div>

							<div class="col-sm-12" name="padrao" id="padrao" ><!-- Widget Padrão -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="orange ace-icon fa fa-cubes bigger-110"></i>
											Plano de Tratamento - Padrão</h4>

										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>
									
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												
												<div class="col-sm-12">
													<label>Histórico clínico:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="tratHistoricopad" id="tratHistoricopad"  style="font-size: 12px" placeholder="Com base na sua especialidade terapêutica." class="form-control" rows="3"  data-iconlibrary="fa"></textarea>
														</div>
													</div>	
												</div>

												<div class="col-sm-12">
													<label>Objetivos gerais:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="tratObjgeralpad" id="tratObjgeralpad"  style="font-size: 12px" placeholder="Descreva os objetivos da sua intervenção terapêutica para os próximos 6 meses de forma geral, seguindo uma sequência de acontecimentos ou informando a sua organização / planejamento com o beneficiário." class="form-control" rows="3"  data-iconlibrary="fa"></textarea>
														</div>
													</div>	
												</div>
												
												<div class="col-sm-12">
													<label>Objetivos específicos:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="tratObjespecificopad" id="tratObjespecificopad"  style="font-size: 12px" placeholder="Descreva os objetivos específicos da sua intervenção terapêutica, detalhando métodos, técnicas e meios utilizados para a evolução do beneficiário." class="form-control" rows="3"  data-iconlibrary="fa"></textarea>
														</div>
													</div>	
												</div>

												<div class="col-sm-12">
													<label>Estratégias:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="tratEstrategiapad" id="tratEstrategiapad"  style="font-size: 12px" placeholder="Descreva suas estratégias para os próximos seis meses de intervenção terapêutica." class="form-control" rows="3"  data-iconlibrary="fa"></textarea>
														</div>
													</div>	
												</div>

												<div class="col-sm-12">
													<label>Observações:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea type="text" name="tratObspad" id="tratObspad"  style="font-size: 12px" placeholder="" class="form-control" rows="3"  data-iconlibrary="fa"></textarea>
														</div>
													</div>	
												</div>
												
											</div>
										</div>										
									</div>		
								</div>
							</div>
							
									
							<div class="col-sm-12" name="is" id="is"><!-- Widget Dados TO IS e TO AVD -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="purple ace-icon fa fa-rss bigger-110"></i>
											Plano de Tratamento</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											
											</span>
									</div>
									<div class="widget-body">
										<div class="widget-main">												
											
											<label>Diagnóstico terapêutico ocupacional:</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea type="text" name="tratDiagnosticoocup" id="tratDiagnosticoocup" style="font-size: 12px" placeholder="Com base na sua especialidade terapêutica." class="form-control" rows="5"  data-iconlibrary="fa"></textarea>
												</div>
											</div>	


											<label>Metas à curto prazo:</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea type="text" name="tratMetacurtois" id="tratMetacurtois"  style="font-size: 12px" placeholder="" class="form-control" rows="2"  data-iconlibrary="fa"></textarea>
												</div>
											</div>
											


											<label>Metas à médio prazo:</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea type="text" name="tratMetamediois" id="tratMetamediois"  style="font-size: 12px" placeholder="" class="form-control" rows="2"  data-iconlibrary="fa"></textarea>
												</div>
											</div>
											


											<label>Metas à longo Prazo</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea type="text" name="tratMetalongois" id="tratMetalongois"  style="font-size: 12px" placeholder="" class="form-control" rows="2"  data-iconlibrary="fa"></textarea>
												</div>
											</div>
											


											<label>Estratégias e objetivos</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea type="text" name="tratObjetivois" id="tratObjetivois"  style="font-size: 12px" placeholder="" class="form-control" rows="2"  data-iconlibrary="fa"></textarea>
												</div>
											</div>
																							
										
											<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Id do usuário que digitou no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratUsuidcad" id="tratUsuidcad" type="text" />
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Data da alteração digitada no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratDatacad" id="tratDatacad" type="date" onchange="javascript:atualizaData()" />
														</div>
													</div>
												</div>
											</div>
											<!--<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Id do usuário que alterou no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratUsuidedi" id="tratUsuidedi" type="text" />
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Data da alteração digitada no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratDataedi" id="tratDataedi" type="date" onchange="javascript:atualizaData()" />
														</div>
													</div>
												</div>
											</div>
											-->
											



										</div>
									</div>
								</div>
							</div>
															

							<div class="space-4"></div>							
							<div class="space-4"></div>

							<div class="form-actions">
								<div class="col-xs-12" style="text-align: center;" >
									<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="hidden btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</div><!-- /.form-actions -->

						</form><!-- /.form -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content-inner -->
		</div><!-- /.main-content -->
	</body><!-- /.<body -->
</html>
