<!DOCTYPE html>
<html lang="pt-br">
	<head id="cabecalho" name="cabecalho">
		<title>Relatório Semestral</title>
		<style>
			/* Estilos gerais para o cabeçalho e o rodapé */
			#cabecalho {
				margin: 100; /* Margem inicial zero */
				text-align: left; /* Alinhamento à esquerda */
				width: 100%; /* Ocupar toda a largura */
				object-position: left;
				padding-top: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
			}
			#rodape {
				margin: 0; /* Margem inicial zero */
				object-position: left;
				text-align: left; /* Alinhamento à esquerda */
				width: 100%; /* Ocupar toda a largura */

				
			}

			/* Estilos para o conteúdo da página */
			#conteudo {
				padding-top: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
				padding-bottom: 100px; /* Ajuste o valor conforme necessário para evitar sobreposição com o rodapé */
				text-align: justify; /* Alinhamento à esquerda */
				font-family: calibri;
				font-size: 11px;
				display: flex;
            	flex-direction: column;
			}

			/* Estilos específicos para a visualização de impressão */
			@media print {
				#cabecalho {
				position: fixed;
				top: 0;
				padding-top: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
				padding-bottom: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o rodapé */
				}

				#rodape {
				position: fixed;
				bottom: 0;
				padding-top: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
				padding-bottom: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o rodapé */
				}
			}
		</style>
		
	</head>
	<body id="conteudo" name="conteudo" onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner noprint">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs" style="display: none">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Plano de Tratamento</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<form role="form" action="">
						<div class="breadcrumbs" id="breadcrumbs" style="align-items: center;" style="text-align: center;"/>
							<ul class="breadcrumb">
								
							</ul><!-- /.breadcrumb -->
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col-xs-12" style="page-break-before: always;">
						<!-- PAGE CONTENT BEGINS -->
						<div class="space-6"></div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="widget-box transparent">
										<div class="widget-header widget-header-large">
											<h3 class="widget-title grey lighter">
												
												PlANO DE TRATAMENTO
											</h3>
										</div>
									<div class="widget-body">
										<div class="widget-main padding-24">
											<div class="row">
												<div class="col-xs-12">
													<div style="text-align: left;">
														<label>NOME:</label>&nbsp;{{trat.trat_beneid}}<br>
														<label>TERAPIA:</label>&nbsp;{{trat.trat_especialidadepad}}<br>
														<label>TERAPEUTA:</label>&nbsp;{{trat.trat_terapeutaidpad}}&nbsp;-&nbsp;{{trat.trat_regconselhopad}}<br>
													</div>
												</div>
											</div>
												
										</div>	
									</div>
								</div>
							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
					<div class="col-xs-12" style="page-break-after: always;" >
						<!-- PAGE CONTENT BEGINS -->
						<div class="space-6"></div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="widget-box transparent">
										<div class="widget-header widget-header-large">
											<h3 class="widget-title grey lighter">
												
												PlANO DE TRATAMENTO
											</h3>
										</div>
									<div class="widget-body">
										<div class="widget-main padding-24">
											<div class="row">
												<div class="col-xs-12">
													<div style="text-align: left;">
														<label>NOME:</label>&nbsp;{{trat.trat_beneid}}<br>
														<label>TERAPIA:</label>&nbsp;{{trat.trat_especialidadepad}}<br>
														<label>TERAPEUTA:</label>&nbsp;{{trat.trat_terapeutaidpad}}&nbsp;-&nbsp;{{trat.trat_regconselhopad}}<br>
													</div>
												</div>
											</div>
											<hr><!-- Quebra linha e poe uma linha pontilhada -->
											<div class="row">
												<div class="col-xs-12">
													<span>HISTÓRICO CLÍNICO</span>
													
														<p>
															{{trat.trat_historicopad}}
														</p>
													<hr><!-- Quebra linha e poe uma linha pontilhada -->
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<span>OBJETIVOS GERAIS</span>
													
														<p>
															{{trat.trat_objgeralpad}}
														</p>
													<hr><!-- Quebra linha e poe uma linha pontilhada -->
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<span>OBJETIVO ESPECÍFICOS</span>
													
														<p>
															{{trat.trat_objespecificopad}}
														</p>
													<hr><!-- Quebra linha e poe uma linha pontilhada -->
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<span>ESTRATÉGIAS</span>
													
														<p>
															{{trat.trat_estrategiapad}}
														</p>
													<hr><!-- Quebra linha e poe uma linha pontilhada -->
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<span>OBSERVAÇÕES</span>
													
														<p>
															{{trat.trat_obspad}}
														</p>
													<hr><!-- Quebra linha e poe uma linha pontilhada -->
												</div>
											</div>	
										</div>	
									</div>
								</div>
							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
	<footer id="rodape" name="rodape">
		<div class="col-sm-12">
			<div class="row"><!-- Área reservada para Assinaturas -->
				<div class="space space-32"></div>
				<div class="col-xs-4 col-sm-4">
					<div class="hr"></div>
					<label>Assinatura do Responsável</label>
				</div>
				<div class="col-xs-4 col-sm-4">
					<div class=""></div>
					<label></label>
				</div>
				<div class="col-xs-4 col-sm-4">
					<div class="hr"></div>
					<label>Assinatura da Clínica</label>
				</div>
			</div><!-- /.Área reservada para Assinaturas -->
		</div>
	</footer>
</html>
