<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Plano de Tratamentos</title>
		<script type="text/javascript">
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("atendBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("atendConvid").value = v1;
			}
			function defineplanopadrao(){
				
				document.getElementById('is').style.display = 'none';
				document.getElementById('padrao').style.display = 'none';
				document.getElementById('terato').style.display = 'none';
				
			}
			function mudaPlano() {
				let tipodoc = document.getElementById("tratPlanotipo").value;
				console.log(tipodoc)
				if (tipodoc == "Padrão") {
					document.getElementById('is').style.display = 'none';
					document.getElementById('padrao').style.display = 'block';
					document.getElementById('terato').style.display = 'none';
					document.getElementById('tera').style.display = 'block';
					
				} else if (tipodoc == "Ocupacional") {
					document.getElementById('is').style.display = 'block';
					document.getElementById('padrao').style.display = 'none';
					document.getElementById('terato').style.display = 'block';
					document.getElementById('tera').style.display = 'none';
					
					
				} else {
				document.getElementById('is').style.display = 'none';
				document.getElementById('padrao').style.display = 'none';
				document.getElementById('terato').style.display = 'none';
				

				}
				document.getElementById('tratPlanotipo').ReadOnly
   			}
			function atualizaTerapeutaId(){
				document.getElementById("tabilTerapeutaId").value = document.getElementById("atendTerapeutaid").value
			}
			function atualizaData(){
				var hora = "00:00"
				var data = document.getElementById("atenddata").value+"T"+hora+":00.000Z";
				var datafmt = new Date(data);
				document.getElementById("atendAtenddata").value = datafmt.toISOString();
			}
			
		</script>
	</head>

	<body onload="javascript:controlaNave(); defineplanopadrao();" class="no-skin">
		<div class="main-content ace-save-state" id="main-container">
			<div class="main-content-inner">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">Route</a>
						</li>

						<li class="active">Plano de Tratamentos</li>
					</ul><!-- /.breadcrumb -->
					
				</div>

				<div class="row">
					<div class="col-sm-12">
						<!-- PAGE CONTENT BEGINS -->
						<form class="form-horizontal" role="form" action="/menu/area/plano/add" method="POST">
							<div class="col-sm-12" name="plan" id="plan"><!-- Widget plano -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="brown ace-icon fa fa-child bigger-110"></i>
											Tipo plano de tratamento
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											
											<div class="row">
												<div class="col-sm-12">
													<label>Tipo de plano de tratamento:</label>
													<div class="form-group">
														<div class="col-sm-9">
															<select name="tratPlanotipo" id="tratPlanotipo" class="chosen-select" data-placeholder="-" onchange="javascript:mudaPlano()">
																<option value="-">-</option>
																<option value="Padrão">Padrão</option>
																<option value="Ocupacional">Ocupacional</option>
															</select>
														</div>
													</div>	
												</div>
											</div>
										</div>	
									</div>	
								</div>
							</div>
								
							
							<div class="col-sm-12" name="ident" id="ident"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="brown ace-icon fa fa-child bigger-110"></i>
											Beneficiário
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											
											<div class="row">
												<div class="col-xs-12 col-sm-4">
													<label>Beneficiário:</label>
													<div class="form-group">
														<div class="col-sm-8">
															<select name="tratBeneid" id="tratBeneid" class="chosen-select" data-placeholder="-" placeholder="Colocar nome completo." >
																<option value="766f69643132333435366964">-</option>
																{{#each benes}}
																	<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>
												</div>												
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label for="id-date-picker-1">Data plano:</label>
													<div class="row">
														<div class="col-sm-4">
															<div class="input-group">
																<input name="tratTratdata" id="tratTratdata" type="date" onchange="javascript:atualizaData()" />
															</div>
														</div>
													</div>
												</div>
												
											</div>
										</div>	
									</div>	
								</div>
							</div>

							<div class="col-sm-12" name="tera" id="tera"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="green ace-icon fa fa-user bigger-110"></i>
											Terapeuta
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="tratEspecialidadepad" id="tratEspecialidadepad" value="-" placeholder="Colocar nome da sua terapia." class="form-control" />
														</div>
													</div>	
												</div>
												

											<div class="row">
												<div class="col-xs-12 col-sm-4">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-8">
															<select name="tratTerapeutaidpad" id="tratTerapeutaidpad" class="chosen-select" >
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																	<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>
												</div>												
											</div>

												

												<div class="col-sm-3">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhopad" id="tratRegconselhopad" value="-" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											
										</div>	
									</div>	
								</div>
							</div>							
							
							<div class="col-sm-12" name="terato" id="terato"><!-- Widget Dados Básicos -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="green ace-icon fa fa-user bigger-110"></i>
											Terapeutas
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="tratEspecialidadeis" id="tratEspecialidadeis" value="-" class="form-control" class="readonly"/>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">	
												<div class="col-sm-6">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<select name="tratTerapeutaidis" id="tratTerapeutaidis" class="chosen-select" placeholder="Escolha..." >
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhois" id="tratRegconselhois"  value="-" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-sm-6">
													<label>Especialidade:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="tratEspecialidadeavd" id="tratEspecialidadeavd"  value="-"class="form-control" class="readonly"/>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">	
												<div class="col-sm-4">
													<label>Terapeuta:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<select name="tratTerapeutaidavd" id="tratTerapeutaidavd" class="chosen-select" placeholder="Escolha..." style="width:400px;">
																<option value="766f69643132333435366964">-</option>
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">
												<div class="col-sm-3">
													<label>Registro do conselho:</label>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" name="tratRegconselhoavd" id="tratRegconselhoavd" value="-" class="form-control" />
														</div>
													</div>	
												</div>
											</div>
											
										</div>	
									</div>	
								</div>
							</div>		

							<div class="col-sm-12" name="diag" id="diag"><!-- Widget Diagnóstico clínico -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="red ace-icon fa fa-heartbeat bigger-120"></i>
											Diagnóstico clínico
										</h4>
										
										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												<div class="col-xs-12">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														Utilizar o diagnóstico que está escrito no laudo médico, e não o que consta na anamnese (pode acontecer alguma alteração no laudo depois da realização da anamnese e o diagnóstico ter sido alterado).<br>
														- Atenção as atualizações do laudo do beneficiário!<br>
														- O diagnóstico precisa ser escrito por completo (não apenas a sigla do transtorno);<br>
														- Incluindo o CID;<br>
														- Não usar a palavra "paciente" no plano de tratamento.<br>
													</div>
												</div>
												<div class="col-sm-12">
													<label>Diagnóstico clínico:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea name="tratDiagnostico" id="tratDiagnostico" style="font-size: 12px" data-placeholder="-" value="-" placeholder="Utilizar o diagnóstico que está escrito no laudo médico." class="form-control"></textarea>
														</div>
													</div>	
												</div>
											</div>
										</div>	
									</div>	
								</div>
							</div>

							<div class="col-sm-12" name="padrao" id="padrao" ><!-- Widget Padrão -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="orange ace-icon fa fa-cubes bigger-110"></i>
											Plano de Tratamento - Padrão</h4>

										<span class="widget-toolbar">

											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>
									
										</span>
									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div class="row">
												
												<div class="col-sm-12">
													<label>Histórico clínico:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea  name="tratHistoricopad" id="tratHistoricopad"  style="font-size: 12px" data-placeholder="-" value="-" placeholder="Com base na sua especialidade terapêutica." class="form-control" rows="3" ></textarea>
														</div>	
													</div>
												</div>

												<div class="col-sm-12">
													<label>Objetivos gerais:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea name="tratObjgeralpad" id="tratObjgeralpad"  style="font-size: 12px" data-placeholder="-" value="-" placeholder="Descreva os objetivos da sua intervenção terapêutica para os próximos 6 meses de forma geral, seguindo uma sequência de acontecimentos ou informando a sua organização / planejamento com o beneficiário." class="form-control" rows="3"></textarea>
														</div>
													</div>	
												</div>
												
												<div class="col-sm-12">
													<label>Objetivos específicos:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea  name="tratObjespecificopad" id="tratObjespecificopad"  style="font-size: 12px" data-placeholder="-" value="-" placeholder="Descreva os objetivos específicos da sua intervenção terapêutica, detalhando métodos, técnicas e meios utilizados para a evolução do beneficiário." class="form-control" rows="3" ></textarea>
														</div>
													</div>	
												</div>

												<div class="col-sm-12">
													<label>Estratégias:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea  name="tratEstrategiapad" id="tratEstrategiapad"  style="font-size: 12px" data-placeholder="-" value="-" placeholder="Descreva suas estratégias para os próximos seis meses de intervenção terapêutica." class="form-control" rows="3" ></textarea>
														</div>
													</div>	
												</div>

												<div class="col-sm-12">
													<label>Observações:</label>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea  name="tratObspad" id="tratObspad"  style="font-size: 12px" data-placeholder="-" value="-" placeholder="" class="form-control" rows="3" ></textarea>
															
														</div>
													</div>	
												</div>
												
											</div>
										</div>										
									</div>		
								</div>
							</div>
							
									
							<div class="col-sm-12" name="is" id="is"><!-- Widget Dados TO IS e TO AVD -->
								<div class="widget-box">
									<div class="widget-header">
										<h4 class="widget-title">
											<i class="purple ace-icon fa fa-rss bigger-110"></i>
											Plano de Tratamento</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											
											</span>
									</div>
									<div class="widget-body">
										<div class="widget-main">												
											
											<label>Diagnóstico terapêutico ocupacional:</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea  name="tratDiagnosticoocup" id="tratDiagnosticoocup" style="font-size: 12px" value="-" placeholder="" class="form-control" rows="5" ></textarea>
												</div>
											</div>	


											<label>Metas à curto prazo:</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea  name="tratMetacurtois" id="tratMetacurtois" style="font-size: 12px" value="-" placeholder="" class="form-control" rows="2" ></textarea>
												</div>
											</div>
											


											<label>Metas à médio prazo:</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea name="tratMetamediois" id="tratMetamediois" style="font-size: 12px" value="-" placeholder="" class="form-control" rows="2" ></textarea>
												</div>
											</div>
											


											<label>Metas à longo Prazo</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea name="tratMetalongois" id="tratMetalongois" style="font-size: 12px" value="-" placeholder="" class="form-control" rows="2" ></textarea>
												</div>
											</div>
											


											<label>Estratégias e objetivos</label>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea  name="tratObjetivois" id="tratObjetivois" style="font-size: 12px" value="-" placeholder="" class="form-control" rows="2"   ></textarea>
												</div>
											</div>
																							
										
											<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Id do usuário que digitou no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratUsuidcad" id="tratUsuidcad" type="text" style="font-size: 12px" value="-" placeholder="" class="form-control" />
															
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 ">
												<label class="hidden" for="id-date-picker-1">Data da alteração digitada no sistema</label>
												<div class="row">
													<div class="col-xs-4">
														<div class="input-group">
															<input class="hidden" name="tratDatacad" id="tratDatacad" type="date" onchange="javascript:atualizaData()" />
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
															

							<div class="space-4"></div>							
							<div class="space-4"></div>

							<div class="form-actions">
								<div class="col-xs-12" style="text-align: center;" >
									<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</div><!-- /.form-actions -->

						</form><!-- /.form -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content-inner -->
		</div><!-- /.main-content -->
	</body><!-- /.<body -->
</html>