<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>contas a receber</title>
		<script type="text/javascript">
			function atualizaCheckbox(checkbox) {
			// Obtém o valor do checkbox (true ou false)
			let valcheck;

			if (checkbox.checked !== undefined) {
				valcheck = checkbox.checked;
			} else {
				// Caso a propriedade "checked" não esteja disponível, tenta obter o estado usando o atributo "value"
				valcheck = checkbox.value === "true";
			}

			// Constrói o nome do campo temporário
			const checkboxTempName = checkbox.name + "temp";

			// Obtém a referência ao campo temporário
			const tempField = document.getElementsByName(checkboxTempName)[0];

			// Verifica se o campo temporário foi encontrado antes de atribuir o valor
			if (tempField) {
				tempField.value = valcheck;
				console.log('Valor: ' + valcheck);
			} else {
				console.error('Campo temporário não encontrado para ' + checkboxTempName);
			}
		}
			function calculaImposto(){
				let valorNf = document.getElementById("contarecVlrnf").value;
				//Checagem do imposto que irá participar da Nf
				let checkpis  = document.getElementById("checkboxPistemp").value;
				let checkcssl  = document.getElementById("checkboxCssltemp").value;
				let checkcofins  = document.getElementById("checkboxCofinstemp").value;
				let checkirpf  = document.getElementById("checkboxIrpftemp").value;
				let checkiss  = document.getElementById("checkboxIsstemp").value;
				console.log("checagens:"+checkpis+":"+checkcssl+":"+checkcofins+":"+checkirpf+":"+checkiss)
				//Valores Temporários para os campos dos Impotos
				let vlrpis  = document.getElementById("contarecVlrpis").value;
				let vlrcssl  = document.getElementById("contarecVlrcssl").value;
				let vlrcofins  = document.getElementById("contarecVlrcofins").value;
				let vlrirpf  = document.getElementById("contarecVlrirpf").value;
				let vlriss  = document.getElementById("contarecVlriss").value;
				console.log("Valores nos Impostos:"+vlrpis+":"+vlrcssl+":"+vlrcofins+":"+vlrirpf+":"+vlriss)
				//Aliquotas dos impostos
				let alqpis  = document.getElementById("contarecAlqpis").value;
				let alqcssl  = document.getElementById("contarecAlqcssl").value;
				let alqcofins  = document.getElementById("contarecAlqcofins").value;
				let alqirpf  = document.getElementById("contarecAlqirpf").value;
				let alqiss  = document.getElementById("contarecAlqiss").value;
				console.log("Alíquotas:"+alqpis+":"+alqcssl+":"+alqcofins+":"+alqirpf+":"+alqiss)
				//Checagem e cálculo
				console.log("Valores Atualizados:"+vlrpis+":"+vlrcssl+":"+vlrcofins+":"+vlrirpf+":"+vlriss+":"+valorNf)
				if (valorNf == null || valorNf <= 0,01){}else{
					if (checkpis == null || checkpis == false || alqpis <= 0,001 || alqpis == null){Vlrpis = valorNf * alqpis}else{Vlrpis = valorNf * alqpis};
					if (checkcssl == null || checkcssl == false || alqcssl <= 0,001 || alqcssl == null){}else{vlrcssl = valorNf * alqcssl};
					if (checkcofins == null || checkcofins == false || alqcofins <= 0,001 || alqcofins == null){}else{vlrcofins = valorNf * alqcofins};
					if (checkirpf == null || checkirpf == false || alqirpf <= 0,001 || alqirpf == null){}else{vlrirpf = valorNf * alqirpf};
					if (checkiss == null || checkiss == false || alqiss <= 0,001 || alqiss == null){}else{vlriss = valorNf * alqiss};
							console.log("Valores Atualizados:"+vlrpis+":"+vlrcssl+":"+vlrcofins+":"+vlrirpf+":"+vlriss+":"+valorNf)
							document.getElementById("contarecVlrpis").value = vlrpis;
							document.getElementById("contarecVlrcssl").value = vlrcssl;
							document.getElementById("contarecVlrcofins").value = vlrcofins;
							document.getElementById("contarecVlrirpf").value = vlrirpf;
							document.getElementById("contarecVlriss").value = vlriss;
				}
			}
			
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("contarecBeneid").value).value.toString();
				console.log("contarecTomadorEdi: "+document.getElementById("contarecTomadorEdi").value)
				document.getElementById("contarecBenenome").value = document.getElementById("contarecBenenomeEdi").value;
				document.getElementById("contarecTomador").value = document.getElementById("contarecTomadorEdi").value;
				document.getElementById("contarecCpfcnpj").value = document.getElementById("contarecCpfcnpjEdi").value; //repete o nome do beneficiário no cabeçalho
				document.getElementById("contarecRetencao").value = document.getElementById("contarecRetencaoEdi").value;
			}
			function atualizaConvId(){
				let convId = document.getElementById("contarecConvid").value;
				console.log(convId)
			}
		</script>
	</head>
	<div id="divCarrega" class="hidden" class="col-sm-5">
		{{#each benes}}
			{{#each ../convs}}
				{{#ifEqual ../bene_convid _id}}
					<input value="{{../bene_convid}}" id="{{../_id}}" name="refAgendaConvid" />
				{{/ifEqual}}
			{{/each}}
			
			<input id="contarecBenenomeEdi" name="contarecBenenomeEdi" value="{{bene_nome}}"/>
			<input id="contarecTomadorEdi" name="contarecTomadorEdi" value="{{bene_ordemnome}}"/>
			<input id="contarecCpfcnpjEdi" name="contarecCpfcnpjEdi" value="{{bene_ordemdoc}}"/>
			<input id="contarecRetencaoEdi" name="contarecRetencaoEdi" value="{{bene_ordemretem}}"/>

		{{/each}}
	</div>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Contas à receber - Cadastro</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/financeiro/receita/add" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Dados</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div >
													<!-- Registro de Operadores -->
													<label> Usuário Cadastro</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input type="text" name="contarecUsuidcad" id="contarecUsuidcad" placeholder="" value="{{usuarioAtual}}" />
														</div>
													</div>
													<label> Data Cadastro</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input name="contarecDatacad" id="contarecDatacad" placeholder=""  value="{{dataAtual}}"/>
														</div>
													</div>
													<label> Usuário Editou</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input type="text" name="contarecUsuidedi" id="contarecUsuidedi" placeholder=""  />
														</div>
													</div>
													<label> Data Edição</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input type="date" name="contarecDataedi" id="contarecDataedi" placeholder="" />
														</div>
													</div>
												</div>
												<!-- Identificador da NF -->
												<label for="id-date-picker-1">Data Emissão da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataevento" name="contarecDataevento" type="date">
													</div>
												</div>
												<label>Ano/Mês Referência</label>
												<div class="form-group">
													<div class="col-sm-1">
														<input type="text" name="contarecAnomesatend" id="contarecAnomesatend" placeholder=""  />
													</div>
												</div>
												<label> Número da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecNfnum" id="contarecNfnum" placeholder=""  />
													</div>
												</div>
												<label>Beneficiário</label>
												<div class="form-group" >
													<div class="col-xs-9 col-sm-9">
														<select class="col-xs-9 col-sm-9" name="contarecBeneid" id="contarecBeneid" class="chosen-select" data-placeholder="Escolha..."  onchange="javascript:selectConv()">
															<option value="766f69643132333435366964">-</option>
															{{#each benes}}
																<option value="{{_id}}">{{bene_nome}}</option>
															{{/each}}
														</select>
													</div>
												</div>
												<label> Convênio</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select style="pointer-events: none; touch-action: none;" tabindex="-1" aria-disabled="true" name="contarecConvid"  id="contarecConvid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaConvId()">
															{{#each benes}}
																{{#each ../convs}}
																	<option value="766f69643132333435366964">-</option>
																	{{#ifEqual ../bene_convid _id}}
																		<option value="{{../bene_convid}}">{{conv_nome}}</option>
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</select>
													</div>
												</div>
												<label> Nome Do Beneficiário</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecBenenome" id="contarecBenenome" placeholder=""  />
													</div>
												</div>
												<label>Nome do Tomador do Serviço perante a prefeitura</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecTomador" id="contarecTomador" placeholder="" />
													</div>
												</div>
												<label>CPF/CNPJ do Tomador</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecCpfcnpj" id="contarecCpfcnpj" placeholder=""  />
													</div>
												</div>
												<label>Retenção</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecRetencao" id="contarecRetencao" placeholder="" />
													</div>
												</div>
												<!-- Informações da NF-->
												
											
												<label>Valor da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrnf" id="contarecVlrnf" placeholder="0,00" style="text-align: right; width:100px;" onchange="calculaImposto();"/>
													</div>
												</div>
												
												<label for="id-date-picker-1">Data Empréstimo</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataemprest" name="contarecDataemprest" type="date">
													</div>
												</div>
												<label for="id-date-picker-1">Data Devolução</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input id="contarecDataadevol" name="contarecDataadevol" type="date">
													</div>
												</div>
												
												<label for="id-date-picker-1">Data Previsão de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataprev" name="contarecDataprev" type="date">
													</div>
												</div>
												<label>Valor Pago</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrpg" id="contarecVlrpg" placeholder="0,00" style="text-align: right; width:100px;"/>
													</div>
												</div>
												<label>Valor Diferença</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrdiferenca" id="contarecVlrdiferenca" placeholder="0,00" style="text-align: right;  width:100px;"/>
													</div>
												</div>
												<label>Forma de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecFormapg" id="contarecFormapg" placeholder=""  />
													</div>
												</div>
												<label for="id-date-picker-1">Data de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input type="date" id="contarecDatapg" name="contarecDatapg"  placeholder="">
													</div>
												</div>
												<div class="col-12-sm">
													
														<table>
															<thead>
																<tr>
																	<th></th>
																	<th style="width: 70px;"><span>Imposto</span></th>
																	<th style="width: 80px; text-align: right;"><span>Alíquota</span></th>
																	<th></th>
																	<th style="text-align: right;"><span >Valor</span></th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="center">
																		<label class="pos-rel">
																			<input type="checkbox" name="checkboxPis" name="checkboxPis" class="ace" id="checkboxPis" onchange="atualizaCheckbox(checkboxPis);calculaImposto();"/>
																			<span class="lbl"></span>
																			<input type="text" id="checkboxPistemp" name="checkboxPistemp" value="" />
																		</label>
																	</td>
																	<td>PIS</td>
																	<td ><input type="text" name="contarecAlqpis" id="contarecAlqpis" style="text-align: right; width:80px;" value="0,065%" onchange="calculaImposto();"/></td>
																	<td style="width: 20px;"></td>
																	<td><input type="text" name="contarecVlrpis" id="contarecVlrpis" style="text-align: right; width:100px;" value="0,00"/></td>
																</tr>
																<tr>
																	<td class="center">
																		<label class="pos-rel">
																			<input type="checkbox" name="checkboxCssl" id="checkboxCssl" class="ace" onchange="atualizaCheckbox(checkboxCssl);calculaImposto();" />
																			<span class="lbl"></span>
																			<input type="text" id="checkboxCssltemp" name="checkboxCssltemp" value="" />
																		</label>
																	</td>
																	<td>CSSL</td>
																	<td><input type="text" name="contarecAlqssl" id="contarecAlqcssl" style="text-align: right; width:80px;" value="1,0%" onchange="calculaImposto();"/></td>
																	<td style="width: 20px;"></td>
																	<td><input type="text" name="contarecVlrcssl" id="contarecVlrcssl" style="text-align: right; width:100px;" value="0,00" /></td>
																</tr>
																<tr>
																	<td class="center">
																		<label class="pos-rel">
																			<input type="checkbox" name="checkboxCofins" id="checkboxCofins" class="ace" onchange="atualizaCheckbox(checkboxCofins);calculaImposto();" />
																			<span class="lbl"></span>
																			<input type="text" id="checkboxCofinstemp" name="checkboxCofinstemp" value="" />
																		</label>
																	</td>
																	<td>COFINS</td>
																	<td><input type="text" name="contarecAlqcofins" id="contarecAlqcofins" style="text-align: right; width:80px;"  value="3,0%" onchange="calculaImposto();" /></td>
																	<td style="width: 20px;"></td>
																	<td><input type="text" name="contarecVlrcofins" id="contarecVlrcofins" style="text-align: right; width:100px;" value="0,00"/></td>
																</tr>
																<tr>
																	<td class="center">
																		<label class="pos-rel">
																			<input type="checkbox" name="checkboxIrpf" id="checkboxIrpf" class="ace" onchange="atualizaCheckbox(checkboxIrpf);calculaImposto();" />
																			<span class="lbl"></span>
																			<input type="text" id="checkboxIrpftemp" name="checkboxIrpftemp" value="" />
																		</label>
																	</td>
																	<td>IRPF</td>
																	<td><input type="text" name="contarecAlqirpf" id="contarecAlqirpf" style="text-align: right; width:80px;"  value="1,5%" onchange="calculaImposto();" /></td>
																	<td style="width: 20px;"></td>
																	<td><input type="text" name="contarecVlrirpf" id="contarecVlrirpf" style="text-align: right; width:100px;" value="0,00"/></td>
																</tr>
																<tr>
																	<td class="center">
																		<label class="pos-rel">
																			<input type="checkbox" name="checkboxIss" id="checkboxIss" class="ace" onchange="atualizaCheckbox(checkboxIss);calculaImposto();" />
																			<span class="lbl"></span>
																			<input type="text" id="checkboxIsstemp" name="checkboxIsstemp" value="" />
																		</label>
																	</td>
																	<td>ISS</td>
																	<td><input type="text" name="contarecAlqiss" id="contarecAlqiss" style="text-align: right; width:80px"  value="5,0%"onchange="calculaImposto();" /></td>
																	<td style="width: 20px;"></td>
																	<td><input type="text" name="contarecVlriss" id="contarecVlriss" style="text-align: right; width:100px" value="0,00"/></td>
																</tr>
												
												</tbody>
														</table>
													
												</div>
												<!-- Observações-->
												<label>Pago?</label>
												<div class="form-group">
													<div class="col-sm-3">
														<select name="contarecPg" id="contarecPg" class="chosen-select" data-placeholder="Escolha...">
															<option value="nao">Não</option>
															<option value="sim">Sim</option>
														</select>
													</div>
												</div>
												<label>Descrição da Nota fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<textarea type="text" name="contarecDescr" id="contarecDescr" placeholder="" ></textarea>
													</div>
												</div>
												<label>Observações gerais sobre pagamentos etc</label>
												<div class="form-group">
													<div class="col-sm-3">
														<textarea type="text" name="contarecObs" id="contarecObs" placeholder="" ></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12" style="text-align: center;" >
									<button class="btn btn-info"  name="acao" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning"  onclick="/menu/financeiro/receita/lis">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
</html>
