<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>contas a receber</title>
		<script >
			
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("contarecBeneid").value).value.toString();
				console.log("contarecTomadorEdi: "+document.getElementById("contarecTomadorEdi").value)
				document.getElementById("contarecBenenome").value = document.getElementById("contarecBenenomeEdi").value;
				document.getElementById("contarecTomador").value = document.getElementById("contarecTomadorEdi").value;
				document.getElementById("contarecCpfcnpj").value = document.getElementById("contarecCpfcnpjEdi").value; //repete o nome do beneficiário no cabeçalho
				document.getElementById("contarecRetencao").value = document.getElementById("contarecRetencaoEdi").value;


			}
			function atualizaConvId(){
				let convId = document.getElementById("contarecConvid").value;
				console.log(convId)
			}
		</script>
	</head>
	<div id="divCarrega" class="hidden" class="col-sm-5">
		{{#each benes}}
			{{#each ../convs}}
				{{#ifEqual ../bene_convid _id}}
					<input value="{{../bene_convid}}" id="{{../_id}}" name="refAgendaConvid" />
				{{/ifEqual}}
			{{/each}}
			
			<input id="contarecBenenomeEdi" name="contarecBenenomeEdi" value="{{bene_nome}}"/>
			<input id="contarecTomadorEdi" name="contarecTomadorEdi" value="{{bene_ordemnome}}"/>
			<input id="contarecCpfcnpjEdi" name="contarecCpfcnpjEdi" value="{{bene_ordemdoc}}"/>
			<input id="contarecRetencaoEdi" name="contarecRetencaoEdi" value="{{bene_ordemretem}}"/>

		{{/each}}
	</div>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Contas à receber - Cadastro</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/financeiro/receita/add" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Dados</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div >
													<!-- Registro de Operadores -->
													<label> Usuário Cadastro</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input type="text" name="contarecUsuidcad" id="contarecUsuidcad" placeholder="" value="{{usuarioAtual}}" />
														</div>
													</div>
													<label> Data Cadastro</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input name="contarecDatacad" id="contarecDatacad" placeholder=""  value="{{dataAtual}}"/>
														</div>
													</div>
													<label> Usuário Editou</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input type="text" name="contarecUsuidedi" id="contarecUsuidedi" placeholder=""  />
														</div>
													</div>
													<label> Data Edição</label>
													<div class="form-group">
														<div class="col-sm-3">
															<input type="date" name="contarecDataedi" id="contarecDataedi" placeholder="" />
														</div>
													</div>
												</div>
												<!-- Identificador da NF -->
												<label> Número da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecNfnum" id="contarecNfnum" placeholder=""  />
													</div>
												</div>
												<label>Beneficiário</label>
												<div class="form-group" >
													<div class="col-xs-9 col-sm-9">
														<select class="col-xs-9 col-sm-9" name="contarecBeneid" id="contarecBeneid" class="chosen-select" data-placeholder="Escolha..."  onchange="javascript:selectConv()">
															<option value="766f69643132333435366964">-</option>
															{{#each benes}}
																<option value="{{_id}}">{{bene_nome}}</option>
															{{/each}}
														</select>
													</div>
												</div>
												<label> Convênio</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select style="pointer-events: none; touch-action: none;" tabindex="-1" aria-disabled="true" name="contarecConvid"  id="contarecConvid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaConvId()">
															{{#each benes}}
																{{#each ../convs}}
																	<option value="766f69643132333435366964">-</option>
																	{{#ifEqual ../bene_convid _id}}
																		<option value="{{../bene_convid}}">{{conv_nome}}</option>
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</select>
													</div>
												</div>
												<label> Nome Do Beneficiário</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecBenenome" id="contarecBenenome" placeholder=""  />
													</div>
												</div>
												<label>Nome do Tomador do Serviço perante a prefeitura</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecTomador" id="contarecTomador" placeholder="" />
													</div>
												</div>
												<label>CPF/CNPJ do Tomador</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecCpfcnpj" id="contarecCpfcnpj" placeholder=""  />
													</div>
												</div>
												<label>Retenção</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecRetencao" id="contarecRetencao" placeholder="" />
													</div>
												</div>
												<!-- Informações da NF-->
												<label>Ano/Mês Referência</label>
												<div class="form-group">
													<div class="col-sm-1">
														<input type="text" name="contarecAnomesatend" id="contarecAnomesatend" placeholder=""  />
													</div>
												</div>
												<label for="id-date-picker-1">Data Emissão da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input id="contarecDataevento" name="benecontarecDataeventoDatanasc" type="date">
													</div>
												</div>
												<label>Valor da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrnf" id="contarecVlrnf" placeholder="" />
													</div>
												</div>
												<label>Ano/Mês Referência</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecAnomesatend" id="contarecAnomesatend" placeholder="" />
													</div>
												</div>
												<label for="id-date-picker-1">Data Empréstimo</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataemprest" name="contarecDataemprest" type="date">
													</div>
												</div>
												<label for="id-date-picker-1">Data Emissão da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataadevol" name="contarecDataadevol" type="date">
													</div>
												</div>
												<label for="id-date-picker-1">Data Previsão de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataprev" name="contarecDataprev" type="date">
													</div>
												</div>
												<label>Valor Pago</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrpg" id="contarecVlrpg" placeholder="" />
													</div>
												</div>
												<label>Valor Diferença</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrdiferenca" id="contarecVlrdiferenca" placeholder="" />
													</div>
												</div>
												<label>Forma de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecFormapg" id="contarecFormapg" placeholder=""  />
													</div>
												</div>
												<label for="id-date-picker-1">Data Previsão de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input type="date" id="contarecDatapg" name="contarecDatapg"  placeholder="">
													</div>
												</div>
												<!-- Informações da NF-->
												<label>Valor PIS</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrpis" id="contarecVlrpis" placeholder=""  />
													</div>
												</div>
												<label>Valor CSSL</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrcssl" id="contarecVlrcssl" placeholder="" />
													</div>
												</div>
												<label>Valor COFINS</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrcofins" id="contarecVlrcofins" placeholder=""  />
													</div>
												</div>
												<label>Valor IRPF</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrirpf" id="contarecVlrirpf" placeholder=""  />
													</div>
												</div>
												<label>Valor ISS</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlriss" id="contarecVlriss" placeholder=""  />
													</div>
												</div>
												
												<!-- Observações-->
												<label>Pago?</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecPg" id="contarecPg" placeholder="" />
													</div>
												</div>
												<label>Descrição da Nota fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<textarea type="text" name="contarecDescr" id="contarecDescr" placeholder="" ></textarea>
													</div>
												</div>
												<label>Observações gerais sobre pagamentos etc</label>
												<div class="form-group">
													<div class="col-sm-3">
														<textarea type="text" name="contarecObs" id="contarecObs" placeholder="" ></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12" style="text-align: center;" >
									<button class="btn btn-info"  name="acao" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning"  href="/menu/financeiro/receita/lis">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
</html>
