<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>contas a receber</title>
		 <style>
        #tabelaBene.table-bordered td {
			border: none;
		}
        #tabelaBene.table-bordered th {
            border: none;
        }
       
    	</style>
		<script type="text/javascript">
			
			function atualizaDadosbene(){
				let beneid = null;
				beneid = document.getElementById("contarecBeneid").value;
				document.getElementById("contarecConvid").value = null;

				document.getElementById("contarecBenenome").value = document.getElementById(beneid+"_beneNome").value;
				document.getElementById("contarecTomador").value = document.getElementById(beneid+"_beneOrdemnome").value;
				document.getElementById("contarecCpfcnpj").value = document.getElementById(beneid+"_beneOrdemdoc").value;
				document.getElementById("contarecRetencao").value = document.getElementById(beneid+"_beneOrdemretem").value;
				document.getElementById("contarecConvid").value = document.getElementById(beneid+"_beneConvid").value;
				
				let convid = document.getElementById(beneid+"_beneConvid").value;
				
				document.getElementById("contarecConvnomeTemp").value = document.getElementById(convid+"_beneConvnome").value;
				// Busca e Carrega as Alíquotas dos Impostos Vindos da Tabela ConvImps, vinculada com a Convs e está atrelada a Benes pelo (_id) da tabela Convs
			

			}
			function atualizaDadosconv(){
				let convid = null;
				convid = document.getElementById("contarecConvidSelect").value;
				
				document.getElementById("contarecConvid").value = convid;
				console.log(convid);
				document.getElementById("contarecConvnomeTemp").value = document.getElementById(convid+"_convConvnome").value;

			}
			
			
			function atualizaCheckbox(checkbox) {
				// Obtém o valor do checkbox (true ou false)
				let valcheck;

				if (checkbox.checked !== undefined) {
					valcheck = checkbox.checked;
				} else {
					// Caso a propriedade "checked" não esteja disponível, tenta obter o estado usando o atributo "value"
					valcheck = checkbox.value === "true";
				}

				// Constrói o nome do campo temporário
				const checkboxTempName = checkbox.name + "temp";

				// Obtém a referência ao campo temporário
				const tempField = document.getElementsByName(checkboxTempName)[0];

				// Verifica se o campo temporário foi encontrado antes de atribuir o valor
				if (tempField) {
					tempField.value = valcheck;
					console.log('Valor: ' + valcheck);
				} else {
					console.error('Campo temporário não encontrado para ' + checkboxTempName);
				}
			}
			

			function formatarNumeroBrasileiro(valor) {
				return parseFloat(valor.replace(',', '.')).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
			}

			function formatarCampoNumerico(elementId) {
				let elemento = document.getElementById(elementId);
				let valor = elemento.value;

				// Remove caracteres não numéricos, exceto ponto e vírgula
				valor = valor.replace(/[^\d.,]/g, '');

				// Substitui vírgulas por pontos para garantir a correta conversão para número
				valor = valor.replace(',', '.');

				// Converte para número
				let numero = parseFloat(valor);

				// Verifica se é um número válido
				if (!isNaN(numero)) {
					// Formata o número no estilo brasileiro
					let numeroFormatado = formatarNumeroBrasileiro(numero.toFixed(2));
					elemento.value = numeroFormatado;
				} else {
					// Se não for um número válido, limpa o campo
					elemento.value = '';
				}
			}

			function calculaImpostoPIS() {
				let valorNf = document.getElementById("contarecVlrnf").value.replace('.', '').replace(',', '.');
				let checkpis = document.getElementById("checkboxPistemp").value;
				let alqpis = document.getElementById("contarecAlqpis").value.replace('%', '').replace(',', '.');
				console.log(document.getElementById("contarecVlrnf").value);
				console.log(valorNf);
				console.log(alqpis);
				if (!isNaN(valorNf) && valorNf >= 0.01 && !(checkpis === "false" || alqpis <= 0.001 || alqpis === null || checkpis === "")) {
					let resultado = (valorNf * (alqpis/100)).toFixed(2);
					document.getElementById("contarecVlrpis").value = parseFloat(resultado).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
				} else {
					document.getElementById("contarecVlrpis").value = "0,00";
				}
			}

			function calculaImpostoCSSL() {
				let valorNf = document.getElementById("contarecVlrnf").value.replace('.', '').replace(',', '.');
				let checkcssl = document.getElementById("checkboxCssltemp").value;
				let alqcssl = document.getElementById("contarecAlqcssl").value.replace('%', '').replace(',', '.');
				console.log(valorNf);
				console.log(alqcssl);
				if (!isNaN(valorNf) && valorNf >= 0.01 && !(checkcssl === "false" || alqcssl <= 0.001 || alqcssl === null || checkcssl === "")) {
					let resultado = (valorNf * (alqcssl/100)).toFixed(2);
					document.getElementById("contarecVlrcssl").value = parseFloat(resultado).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
				} else {
					document.getElementById("contarecVlrcssl").value = "0,00";
				}
			}

			function calculaImpostoCOFINS() {
				let valorNf = document.getElementById("contarecVlrnf").value.replace('.', '').replace(',', '.');
				let checkcofins = document.getElementById("checkboxCofinstemp").value;
				let alqcofins = document.getElementById("contarecAlqcofins").value.replace('%', '').replace(',', '.');
				console.log(valorNf);
				console.log(alqcofins);
				if (!isNaN(valorNf) && valorNf >= 0.01 && !(checkcofins === "false" || alqcofins <= 0.001 || alqcofins === null || checkcofins === "")) {
					let resultado = (valorNf * (alqcofins/100)).toFixed(2);
					document.getElementById("contarecVlrcofins").value = parseFloat(resultado).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
				} else {
					document.getElementById("contarecVlrcofins").value = "0,00";
				}
			}

			function calculaImpostoISS() {
				let valorNf = document.getElementById("contarecVlrnf").value.replace('.', '').replace(',', '.');
				let checkiss = document.getElementById("checkboxIsstemp").value;
				let alqiss = document.getElementById("contarecAlqiss").value.replace('%', '').replace(',', '.');
				console.log(valorNf);
				console.log(alqiss);
				if (!isNaN(valorNf) && valorNf >= 0.01 && !(checkiss === "false" || alqiss <= 0.001 || alqiss === null || checkiss === "")) {
					let resultado = (valorNf * (alqiss/100)).toFixed(2);
					document.getElementById("contarecVlriss").value = parseFloat(resultado).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
				} else {
					document.getElementById("contarecVlriss").value = "0,00";
				}
			}
			
			function calculaImpostoIRPJ() {
				let valorNf = document.getElementById("contarecVlrnf").value.replace('.', '').replace(',', '.');
				let checkirpj = document.getElementById("checkboxIrpjtemp").value;
				let alqirpj = document.getElementById("contarecAlqirpj").value.replace('%', '').replace(',', '.');
				console.log(valorNf);
				console.log(alqirpj);
				if (!isNaN(valorNf) && valorNf >= 0.01 && !(checkirpj === "false" || alqirpj <= 0.001 || alqirpj === null || checkirpj === "")) {
					let resultado = (valorNf * (alqirpj/100)).toFixed(2);

					// Formata o resultado para o formato brasileiro
					document.getElementById("contarecVlrirpj").value = parseFloat(resultado).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
				} else {
					document.getElementById("contarecVlrirpj").value = "0,00";
				}
			}

			function calculaImposto(){
				calculaImpostoIRPJ();
				calculaImpostoISS();
				calculaImpostoCOFINS();
				calculaImpostoCSSL();
				calculaImpostoPIS();
			}

			function marcacontaRecTipoLote(){
				document.getElementById("contarecTipo").value = 'Lote';
				document.getElementById("contarecBenenome").value = 'Lote';
				// Esconder componentes com nome "linbene"
				var linbeneComponents = document.getElementsByName("linbene");
				for (var i = 0; i < linbeneComponents.length; i++) {
					linbeneComponents[i].style.display = 'none';
				}

				// Limpa os imputs "linbene"
				document.getElementById("contarecBeneid").value = "766f69643132333435366964";
				document.getElementById("contarecConvnomeTemp").value = null;
				document.getElementById("contarecTomador").value = null;
				document.getElementById("contarecCpfcnpj").value = null;
				document.getElementById("contarecRetencao").value = null;
				

				// Exibir componentes com nome "linconv"
				var linconvComponents = document.getElementsByName("linconv");
				for (var i = 0; i < linconvComponents.length; i++) {
					linconvComponents[i].style.display = 'block';
				}
				
			}
			function marcacontaRecTipoBene(){
				document.getElementById("contarecTipo").value = 'Bene';
				// Esconder componentes com nome "linconv"
				var linconvComponents = document.getElementsByName("linconv");
				for (var i = 0; i < linconvComponents.length; i++) {
					linconvComponents[i].style.display = 'none';
				}

				// Limpa os imputs "linconv"
				document.getElementById("contarecConvid").value = "766f69643132333435366964";
				document.getElementById("contarecConvnomeTemp").value = null;
				

				// Exibir componentes com nome "linbene"
				var linbeneComponents = document.getElementsByName("linbene");
				for (var i = 0; i < linbeneComponents.length; i++) {
					linbeneComponents[i].style.display = 'block';
				}
			}
			function calculaDif() {
				let valDif = 0;
				let valNf = document.getElementById("contarecVlrnf").value.replace('.', '').replace(',', '.');
				let valpg = document.getElementById("contarecVlrpg").value.replace('.', '').replace(',', '.');
				
				if (valNf != '' && valpg != '' ){
					if (!isNaN(valNf) || valNf === 0.00 || !isNaN(valpg) || valpg === 0.00 ) {
						
						valDif = (valNf - valpg).toFixed(2);
						document.getElementById("contarecVlrdiferenca").value = parseFloat(valDif).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
					}
				}
			}
			// Função para preencher os as Alíquotas Impostos
			function preencherAlqimpostos() {
				// Código para preencher os campos, sem alterações
				

				var convId = document.getElementsByClassName("contarecConvid").value;

				var convImps = document.getElementsByClassName("convimps");

				for (var i = 0; i < convImps.length; i++) {
					var convimp = convImps[i];
					var convImpNome = convimp.dataset.convimp_impnome;
					var valorDesejado = convimp.dataset.valorDesejado;

					if (convImpNome === "IRPJ") {
						document.getElementById("contarecAlqirpj").value = valorDesejado;
					} else if (convImpNome === "ISS") {
						document.getElementById("contarecAlqiss").value = valorDesejado;
					} else if (convImpNome === "PIS") {
						document.getElementById("contarecAlqpis").value = valorDesejado;
					} else if (convImpNome === "CSSL") {
						document.getElementById("contarecAlqcsll").value = valorDesejado;
					} else if (convImpNome === "COFINS") {
						document.getElementById("contarecAlqcofins").value = valorDesejado;
					}
				}
			}

			
		</script>
	</head>
	
	<body onload="javascript:controlaNave();" class="no-skin">
		<div id="divCarrega" name="divCarrega" hidden>
			<!-- /.importante Id de indice-->
			<!-- /.IMPORTANTE!!! TODOS type DEVEM SER text !!!!!!!!!!!-->
			<!-- /.IMPORTANTE!!! TODOS devem ser carregados entre o Head e Body, nunca dentro deles, pois dara erro de excesso de paramentros !!!!!!!!!!!-->
			{{#each benes}}
				<input type="text" id="{{_id}}_beneNome" name="beneNomeEdi" value="{{bene_nome}}"/>
				<input type="text" id="{{_id}}_beneOrdemnome" name="beneOrdemnomeEdi" value="{{bene_ordemnome}}"/>
				<input type="text" id="{{_id}}_beneOrdemdoc" name="beneOrdemdocEdi" value="{{bene_ordemdoc}}"/>
				<input type="text" id="{{_id}}_beneOrdemretem" name="beneOrdemretemEdi" value="{{bene_ordemretem}}"/>
				<input type="text" id="{{_id}}_beneConvid" name="beneConvidEdi" value="{{bene_convid}}"/>
			{{/each}}
			
		</div>
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Contas à receber - Cadastro</li>
						</ul><!-- /.breadcrumb -->
					</div>
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/financeiro/receita/add" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="row">
										<div class="col-sm-12">
											<div class="widget-box collapsed">
												<div class="widget-header">
													<h4 class="widget-title">
														<i class="orange ace-icon fa fa-check-square bigger-110"></i>
														Registro de Operadores
													</h4>
													<span class="widget-toolbar">
														<a href="#" data-action="reload">
															<i class="ace-icon fa fa-refresh"></i>
														</a>
														<a href="#" data-action="collapse">
															<i class="ace-icon fa fa-chevron-up"></i>
														</a>
													</span>
												</div>
												<div class="widget-body">
													<div class="widget-main">
														<!-- Registro de Operadores -->
														<label> Usuário Cadastro</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" name="contarecUsuidcad" id="contarecUsuidcad" placeholder="" value="{{usuarioAtual}}" />
															</div>
														</div>
														<label> Data Cadastro</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input name="contarecDatacad" id="contarecDatacad" placeholder=""  value="{{dataAtual}}"/>
															</div>
														</div>
														<label> Usuário Editou</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" name="contarecUsuidedi" id="contarecUsuidedi" placeholder=""  />
															</div>
														</div>
														<label> Data Edição</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="date" name="contarecDataedi" id="contarecDataedi" placeholder="" />
															</div>
														</div>
														<label> Tipo NF</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" name="contarecTipo" id="contarecTipo" placeholder=""  />
															</div>
														</div>
														<label> Convenio Id referência</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" name="contarecConvid" id="contarecConvid" placeholder="" />
															</div>
														</div>
														<label> Nome Beneficiário referência</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" name="contarecBenenome" id="contarecBenenome" placeholder=""  />
															</div>
														</div>
														<!-- .Checagem de impostos-->
														<label> PIS Checagem</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" id="checkboxPistemp" name="checkboxPistemp" value="false" />
															</div>
														</div>

														<label> CSSL Checagem</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" id="checkboxCssltemp" name="checkboxCssltemp" value="false" />
															</div>
														</div>

														<label> IRPJ Checagem</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" id="checkboxIrpjtemp" name="checkboxIrpjtemp" value="false" />
															</div>
														</div>

														<label> ISS Checagem</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" id="checkboxIsstemp" name="checkboxIsstemp" value="false" />
															</div>
														</div>

														<label> COFINS Checagem</label>
														<div class="form-group">
															<div class="col-sm-3">
																<input type="text" id="checkboxCofinstemp" name="checkboxCofinstemp" value="false" />
															</div>
														</div>
														

														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">
														<i class="orange ace-icon fa fa-address-card-o bigger-110"></i>
														Indentificação da Nota Fiscal
													</h4>
													<span class="widget-toolbar">
														<a href="#" data-action="reload">
															<i class="ace-icon fa fa-refresh"></i>
														</a>
														<a href="#" data-action="collapse">
															<i class="ace-icon fa fa-chevron-up"></i>
														</a>
													</span>
												</div>
												<div class="widget-body">
													<div class="widget-main">
														<table>
															<tr>
																<td class="text-center align-middle">
																	<span class="label label-info arrowed-in-right arrowed">01.</span>
																</td>
																<td>
																	<label>
																		<span class="lbl">&nbsp;Tipo de NF:</span>
																	</label>
																</td>
																<td class="text-center align-middle">
																	<div class="radio">
																		<label>
																			<input name="contarecTipo" id="contarecTipoLote" type="radio" class="ace" value="Lote" onchange="javascript:marcacontaRecTipoLote();">
																			<span class="lbl">&nbsp;Nota Fiscal em Lote.</span>
																		</label>
																	</div>
																</td>
																<td  class="text-center align-middle">
																	<div class="radio">
																		<label>
																			<input name="contarecTipo" id="contarecTipoBene" type="radio" class="ace" value="Bene" onchange="javascript:marcacontaRecTipoBene();">
																			<span class="lbl">&nbsp;Nota Fiscal por Beneficiário.</span>
																		</label>
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	
																</td>
															</tr>
														</table>
														<br>
														<!-- Identificador da NF -->
														<div class="table-responsive">
															<table id="tabelaEmiss" class="table table-striped table-bordered table-hover">
																<thead></thead>
																<tbody>
																	<tr>
																		<td><label for="id-date-picker-1">Data Emissão</label></td>
																		<td><label>Ano/Mês Referência</label></td>
																		<td><label>Número da Nota Fiscal</label></td>
																	</tr>
																	<tr>
																		<td><input id="contarecDataevento" name="contarecDataevento" type="date"></td>
																		<td><input type="text" name="contarecAnomesatend" id="contarecAnomesatend" placeholder="2023/12"  /></td>
																		<td><input type="text" name="contarecNfnum" id="contarecNfnum" placeholder=""  /></td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="table-responsive">
															<table id="tabelaBene"  class="table table-striped table-bordered table-hover"  >
																<thead></thead>
																<tbody>
																	<tr>
																		<td colspan="2" name="linbene" >
																			<label>Beneficiário</label>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2" name="linbene">
																			<select class="col-xs-9 col-sm-9" name="contarecBeneid" id="contarecBeneid" class="chosen-select" data-placeholder="Escolha..."  onchange="javascript:atualizaDadosbene();preencherAlqimpostos();">
																				<option value="766f69643132333435366964">-</option>
																				{{#each benes}}
																					<option value="{{_id}}">{{bene_nome}}</option>
																				{{/each}}
																			</select>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="2">
																			<label> Convênio</label>
																		</td>
																	</tr>
																	<tr name="linconv" hidden>
																		<td colspan="2">
																			<select class="col-xs-9 col-sm-9" name="contarecConvid" id="contarecConvidSelect" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaDadosconv();preencherAlqimpostos();">
																				<option value="766f69643132333435366964">-</option>
																				{{#each convs}}
																					<option value="{{_id}}">{{conv_nome}}</option>
																				{{/each}}
																			</select>
																		</td>
																	</tr>
																	<tr name="linbene">
																		<td colspan="2">
																			<input type="text" name="contarecConvnomeTemp" id="contarecConvnomeTemp" placeholder="" style="width: 100%;" />
																		</td>
																	</tr>
																	<tr>
																		<td><label>Tomador do Serviço</label></td>
																		<td><label>CPF/CNPJ do Tomador</label></td>
																		<td><label>Retenção</label></td>
																	</tr>
																	<tr>
																		<td><input type="text" name="contarecTomador" id="contarecTomador" placeholder="" style="width: 100%;"/></td>
																		<td><input type="text" name="contarecCpfcnpj" id="contarecCpfcnpj" placeholder="" style="width: 100%;"/></td>
																		<td>
																			<select name="contarecRetencao" id="contarecRetencao" class="chosen-select">
																					<option value="-">-</option>
																					<option value="Sim">Sim</option>
																					<option value="Não">Não</option>
																			</select>
																		<td>
																	</tr>
																	
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">
														<i class="green ace-icon fa fa-check-square bigger-110"></i>
														Informações adicionais da nota fiscal
													</h4>
													<span class="widget-toolbar">
														<a href="#" data-action="reload">
															<i class="ace-icon fa fa-refresh"></i>
														</a>
														<a href="#" data-action="collapse">
															<i class="ace-icon fa fa-chevron-up"></i>
														</a>
													</span>
												</div>
												<div class="widget-body">
													<div class="widget-main">
														<!-- Informações da NF-->
														<div class="table-responsive">
															<table id="tabelaDatas" class="table table-striped table-bordered table-hover">
																<thead></thead>
																<tbody>
																	<tr>
																		<td><label for="id-date-picker-1">Data Previsão de Pagamento</label></td>
																		<td><label for="id-date-picker-1">Data Empréstimo</label></td>
																		<td><label for="id-date-picker-1">Data Devolução</label></td>
																	</tr>
																	<tr>
																		<td><input id="contarecDataprev" name="contarecDataprev" type="date"></td>
																		<td><input id="contarecDataemprest" name="contarecDataemprest" type="date"></td>
																		<td><input id="contarecDataadevol" name="contarecDataadevol" type="date"></td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="table-responsive">
															<table id="tabelaValbase" class="table table-striped table-bordered table-hover">
																<thead></thead>
																<tbody>
																	<tr>
																		<td><label>Valor Nota Fiscal</label></td>
																		<td><label>Valor Pago</label></td>
																		<td><label>Valor Diferença</label></td>
																	</tr>
																	<tr>
																		<td><input type="text" name="contarecVlrnf" id="contarecVlrnf" placeholder="0,00" style="text-align: right; width:100px;" onchange="formatarCampoNumerico('contarecVlrnf');calculaImposto();calculaDif();"/></td>
																		<td><input type="text" name="contarecVlrpg" id="contarecVlrpg" placeholder="0,00" style="text-align: right; width:100px;" onchange="formatarCampoNumerico('contarecVlrpg');calculaDif();"/></td>
																		<td><input type="text" name="contarecVlrdiferenca" id="contarecVlrdiferenca" placeholder="0,00" style="text-align: right;  width:100px;" onchange="formatarCampoNumerico('contarecVlrdiferenca');calculaDif();"/></td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="table-responsive">
															<table id="tabelaValbase" class="table table-striped table-bordered table-hover">
																<thead></thead>
																<tbody>
																	<tr>
																		<td><label>Forma de Pagamento</label></td>
																		<td><label for="id-date-picker-1">Data de Pagamento</label></td>
																		<td><label>Pago?</label></td>
																	</tr>
																	<tr>
																		<td><input type="text" name="contarecFormapg" id="contarecFormapg" placeholder="Pix, Boleto etc."  /></td>
																		<td><input type="date" id="contarecDatapg" name="contarecDatapg"  placeholder=""></td>
																		<td>
																			<select name="contarecPg" id="contarecPg" class="chosen-select">
																					<option value="-">-</option>
																					<option value="Sim">Sim</option>
																					<option value="Não">Não</option>
																			</select>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="table-responsive">
															<table id="tabelaValbase" class="table table-striped table-bordered table-hover">
																<thead></thead>
																<tbody>
																	<tr>
																		<td>
																			<label>Observações gerais sobre pagamentos etc</label>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<textarea type="text" name="contarecObs" id="contarecObs" placeholder="" rows="2" style="width: 100%;"></textarea>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-4">
											<div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">
														<i class="red ace-icon fa fa-tags bigger-110"></i>
														Impostos e descrição da nota fiscal
													</h4>
													<span class="widget-toolbar">
														<a href="#" data-action="reload">
															<i class="ace-icon fa fa-refresh"></i>
														</a>
														<a href="#" data-action="collapse">
															<i class="ace-icon fa fa-chevron-up"></i>
														</a>
													</span>
												</div>
												<div class="widget-body">
													<div class="widget-main">
														<div class="table-responsive">
															<table id="tabelaImp" class="table table-striped table-bordered ">
																<thead>
																	<tr>
																		<th style="width: 10px;"></th>
																		<th style="width: 70px;"><span>Imposto</span></th>
																		<th style="width: 80px; text-align: right;"><span>Alíquota</span></th>
																		<th style="width: 40px; text-align: right;"><span >Valor</span></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="center">
																			<label class="pos-rel">
																				<input type="checkbox" name="checkboxPis" id="checkboxPis" class="ace" onchange="atualizaCheckbox(checkboxCofins);calculaImpostoPIS();" />
																				<span class="lbl"></span>
																				
																			</label>
																		</td>
																		<td>PIS</td>
																		<td ><input type="text" name="contarecAlqpis" id="contarecAlqpis" style="text-align: right; width:80px;" onchange="calculaImpostoPIS();"/></td>
																		
																		<td><input type="text" name="contarecVlrpis" id="contarecVlrpis" style="text-align: right; width:100px;" value="0,00"/></td>
																	</tr>
																	<tr>
																		<td class="center">
																			<label class="pos-rel">
																				<input type="checkbox" name="checkboxCssl" id="checkboxCssl" class="ace" onchange="atualizaCheckbox(checkboxCssl);calculaImpostoCSSL();" />
																				<span class="lbl"></span>
																				
																			</label>
																		</td>
																		<td>CSSL</td>
																		<td><input type="text" name="contarecAlqcssl" id="contarecAlqcssl" style="text-align: right; width:80px;" value="1,0%" onchange="calculaImpostoCSSL();"/></td>
																		
																		<td><input type="text" name="contarecVlrcssl" id="contarecVlrcssl" style="text-align: right; width:100px;" value="0,00" /></td>
																	</tr>
																	<tr>
																		<td class="center">
																			<label class="pos-rel">
																				<input type="checkbox" name="checkboxCofins" id="checkboxCofins" class="ace" onchange="atualizaCheckbox(checkboxCofins);calculaImpostoCOFINS();" />
																				<span class="lbl"></span>
																				
																			</label>
																		</td>
																		<td>COFINS</td>
																		<td><input type="text" name="contarecAlqcofins" id="contarecAlqcofins" style="text-align: right; width:80px;"  value="3,0%" onchange="calculaImpostoCOFINS();" /></td>
																		
																		<td><input type="text" name="contarecVlrcofins" id="contarecVlrcofins" style="text-align: right; width:100px;" value="0,00"/></td>
																	</tr>
																	<tr>
																		<td class="center">
																			<label class="pos-rel">
																				<input type="checkbox" name="checkboxIrpj" id="checkboxIrpj" class="ace" onchange="atualizaCheckbox(checkboxIrpj);calculaImpostoIRPJ();" />
																				<span class="lbl"></span>
																				
																			</label>
																		</td>
																		<td>IRPJ</td>
																		<td><input type="text" name="contarecAlqirpj" id="contarecAlqirpj" style="text-align: right; width:80px;" value="1,5%" onchange="calculaImpostoIRPJ();"/></td>
																		
																		<td><input type="text" name="contarecVlrirpj" id="contarecVlrirpj" style="text-align: right; width:100px;" value="0,00" /></td>
																	</tr>
																	
																	<tr>
																		<td class="center">
																			<label class="pos-rel">
																				<input type="checkbox" name="checkboxIss" id="checkboxIss" class="ace" onchange="atualizaCheckbox(checkboxIss);calculaImpostoISS();" />
																				<span class="lbl"></span>
																				
																			</label>
																		</td>
																		<td>ISS</td>
																		<td><input type="text" name="contarecAlqiss" id="contarecAlqiss" style="text-align: right; width:80px"  value="5,0%" onchange="calculaImpostoISS();" /></td>
																		
																		<td><input type="text" name="contarecVlriss" id="contarecVlriss" style="text-align: right; width:100px" value="0,00"/></td>
																	</tr>
													
																</tbody>
															</table>
														</div>
														<!-- Observações-->
														<div class="table-responsive">
															<table id="tabelaObs" class="table table-striped table-bordered table-hover">
																<thead></thead>
																<tbody>
																	<tr>
																		<td>
																			<label>Descrição da Nota fiscal</label>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<textarea type="text" name="contarecDescr" id="contarecDescr" placeholder="" rows="2" style="width: 100%;"></textarea>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>

								<div class="col-xs-12" style="text-align: center;" >
									<button class="btn btn-info"  name="acao" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning"  onclick="/menu/financeiro/receita/lis">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
</html>
