<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>contas a receber</title>
		<script>
			function carregaBody(){
			//Ajusta data cadastro
			let datac = new Date(document.getElementById("contarecDatacadEdi").value);
			let mes = (datac.getMonth()+1).toString();
			let dia = (datac.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(datac.getFullYear()+"-"+mes+"-"+dia).toString();

			//Ajusta data Edição
			let datae = new Date(document.getElementById("contarecDataediEdi").value);
			let mes = (datae.getMonth()+1).toString();
			let dia = (datae.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(datae.getFullYear()+"-"+mes+"-"+dia).toString();

			//Ajusta data Evento
			let datav = new Date(document.getElementById("contarecDataeventoEdi").value);
			let mes = (datav.getMonth()+1).toString();
			let dia = (datav.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(datav.getFullYear()+"-"+mes+"-"+dia).toString();

			//Ajusta data Emprestimo
			let datat = new Date(document.getElementById("contarecDataemprestEdi").value);
			let mes = (datat.getMonth()+1).toString();
			let dia = (datat.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(datat.getFullYear()+"-"+mes+"-"+dia).toString();

			//Ajusta data Devolução
			let datad = new Date(document.getElementById("contarecDataadevolEdi").value);
			let mes = (datad.getMonth()+1).toString();
			let dia = (datad.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(datad.getFullYear()+"-"+mes+"-"+dia).toString();

			//Ajusta data Previsão do Pagamento (Vencimento)
			let datap = new Date(document.getElementById("contarecDataprevEdi").value);
			let mes = (datap.getMonth()+1).toString();
			let dia = (datap.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(datap.getFullYear()+"-"+mes+"-"+dia).toString();

			//Ajusta data Pagamento
			let datag = new Date(document.getElementById("contarecPgEdi").value);
			let mes = (datag.getMonth()+1).toString();
			let dia = (datag.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(datag.getFullYear()+"-"+mes+"-"+dia).toString();



			document.getElementById("contarecUsuidcad").value = document.getElementById("contarecUsuidcadEdi").value;
			document.getElementById("contarecDatacad").value = document.getElementById("contarecDatacadEdi").value; //repete o nome do beneficiário no cabeçalho
			document.getElementById("contarecUsuidedi").value = document.getElementById("contarecUsuidediEdi").value;
			document.getElementById("contarecDataedi").value = document.getElementById("contarecDataediEdi").value;

			document.getElementById("contarecNfnum").value = document.getElementById("contarecNfnumEdi").value;
			document.getElementById("contarecBeneid").value = document.getElementById("contarecBeneidEdi").value; //repete o nome do beneficiário no cabeçalho
			document.getElementById("contarecConvid").value = document.getElementById("contarecConvidEdi").value;
			document.getElementById("contarecBenenome").value = document.getElementById("contarecBenenomeEdi").value;
			document.getElementById("contarecTomador").value = document.getElementById("contarecTomadorEdi").value;
			document.getElementById("contarecCpfcnpj").value = document.getElementById("contarecCpfcnpjEdi").value; //repete o nome do beneficiário no cabeçalho
			document.getElementById("contarecRetencao").value = document.getElementById("contarecRetencaoEdi").value;

			document.getElementById("contarecAnomesatend").value = document.getElementById("contarecAnomesatendEdi").value;
			document.getElementById("contarecDataevento").value = document.getElementById("contarecDataeventoEdi").value;
			document.getElementById("contarecVlrnf").value = document.getElementById("contarecVlrnfiEdi").value; //repete o nome do beneficiário no cabeçalho
			document.getElementById("contarecDataemprest").value = document.getElementById("contarecDataemprestEdi").value;
			document.getElementById("contarecDataadevol").value = document.getElementById("contarecDataadevolEdi").value;
			document.getElementById("contarecDataprev").value = document.getElementById("contarecDataprevEdi").value;
			document.getElementById("contarecVlrpg").value = document.getElementById("contarecVlrpgEdi").value; //repete o nome do beneficiário no cabeçalho
			document.getElementById("contarecVlrdiferenca").value = document.getElementById("contarecVlrdiferencaEdi").value;
			document.getElementById("contarecFormapg").value = document.getElementById("contarecFormapgEdi").value;
			document.getElementById("contarecDatapg").value = document.getElementById("contarecDatapgEdi").value;

			document.getElementById("contarecVlrpis").value = document.getElementById("contarecVlrpisEdi").value; //repete o nome do beneficiário no cabeçalho
			document.getElementById("contarecVlrcssl").value = document.getElementById("contarecVlrcsslEdi").value;
			document.getElementById("contarecVlrcofins").value = document.getElementById("contarecVlrcofinsEdi").value;
			document.getElementById("contarecVlrirpf").value = document.getElementById("contarecVlrirpfEdi").value;
			document.getElementById("contarecVlriss").value = document.getElementById("contarecVlrissEdi").value; //repete o nome do beneficiário no cabeçalho
			document.getElementById("contarecPg").value = document.getElementById("contarecPgEdi").value;

			document.getElementById("contarecDescr").value = document.getElementById("contarecDescrEdi").value;
			document.getElementById("contarecObs").value = document.getElementById("contarecObsEdi").value;
			}
		</script>
	</head>
		<!-- Recepção dos dados pelo banco para popular os imputs da view, atrelada a função carregaBody(); -->
		<div hidden>
			<input id="contarecUsuidcadEdi" name="contarecUsuidcadEdi" value="{{contaRec.contarec_usuidcad}}"/>
			<input id="contarecDatacadEdi" name="contarecDatacadEdi" value="{{contaRec.contarec_datacad}}"/>
			<input id="contarecUsuidediEdi" name="contarecUsuidediEdi" value="{{contaRec.contarec_usuidedi}}"/>
			<input id="contarecDataediEdi" name="contarecDataediEdi" value="{{contaRec.contarec_dataedi}}"/>

			<input id="contarecNfnumEdi" name="contarecNfnumEdi" value="{{contaRec.contarec_nfnum}}"/>
			<input id="contarecBeneidEdi" name="contarecBeneidEdi" value="{{contaRec.contarec_beneid}}"/>
			<input id="contarecConvidEdi" name="contarecConvidEdi" value="{{contaRec.contarec_convid}}"/>
			<input id="contarecBenenomeEdi" name="contarecBenenomeEdi" value="{{contaRec.contarec_benenome}}"/>
			<input id="contarecTomadorEdi" name="contarecTomadorEdi" value="{{contaRec.contarec_tomador}}"/>
			<input id="contarecCpfcnpjEdi" name="contarecCpfcnpjEdi" value="{{contaRec.contarec_cpfcnpj}}"/>
			<input id="contarecRetencaoEdi" name="contarecRetencaoEdi" value="{{contaRec.contarec_retencao}}"/>
			
			<input id="contarecAnomesatendEdi" name="contarecAnomesatendEdi" value="{{contaRec.contarec_anomesatend}}"/>
			<input id="contarecDataeventoEdi" name="contarecDataeventoEdi" value="{{contaRec.contarec_dataevento}}"/>
			<input id="contarecVlrnfiEdi" name="contarecVlrnfEdi" value="{{contaRec.contarec_vlrnf}}"/>
			<input id="contarecDataemprestEdi" name="contarecDataemprestEdi" value="{{contaRec.contarec_dataemprest}}"/>
			<input id="contarecDataadevolEdi" name="contarecDataadevolEdi" value="{{contaRec.contarec_dataadevol}}"/>
			<input id="contarecDataprevEdi" name="contarecDataprevEdi" value="{{contaRec.contarec_dataprev}}"/>
			<input id="contarecVlrpgEdi" name="contarecVlrpgEdi" value="{{contaRec.contarec_vlrpg}}"/>
			<input id="contarecVlrdiferencaEdi" name="contarecVlrdiferencaEdi" value="{{contaRec.contarec_vlrdiferenca}}"/>
			<input id="contarecFormapgEdi" name="contarecFormapgEdi" value="{{contaRec.contarec_formapg}}"/>
			<input id="contarecDatapgEdi" name="contarecDatapgEdi" value="{{contaRec.contarec_datapg}}"/>
			<!-- Impostos -->
			<input id="contarecVlrpisEdi" name="contarecDataadevolEdi" value="{{contaRec.contarec_vlrpis}}"/>
			<input id="contarecVlrcsslEdi" name="contarecVlrcsslEdi" value="{{contaRec.contarec_vlrcssl}}"/>
			<input id="contarecVlrcofinsEdi" name="contarecVlrcofinsEdi" value="{{contaRec.contarec_vlrcofins}}"/>
			<input id="contarecVlrirpfEdi" name="contarecVlrirpfEdi" value="{{contaRec.contarec_vlrirpf}}"/>
			<input id="contarecVlrissEdi" name="contarecVlrissEdi" value="{{contaRec.contarec_vlriss}}"/>
			<input id="contarecPgEdi" name="contarecPgEdi" value="{{contaRec.contarec_pg}}"/>
			<!-- Descrição e Observações -->
			<input id="contarecDescrEdi" name="contarecDescrEdi" value="{{contaRec.contarec_descr}}"/>
			<input id="contarecObsEdi" name="contarecObsEdi" value="{{contaRec.contarec_obs}}"/>
		</div>
	<body onload="javascript:controlaNave();carregaBody();" class="no-skin">

		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Contas à receber - Edição</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/financeiro/receita/add" method="POST">


								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Dados</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>

										<div class="widget-body">
											<div class="widget-main">

												<!-- Registro de Operadores -->
												<label> Usuário Cadastro</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecUsuidcad" id="contarecUsuidcad" placeholder=""  />
													</div>
												</div>
												<label> Data Cadastro</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="date" name="contarecDatacad" id="contarecDatacad" placeholder=""  />
													</div>
												</div>
												<label> Usuário Editou</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecUsuidedi" id="contarecUsuidedi" placeholder=""  />
													</div>
												</div>
												<label> Data Edição</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="date" name="contarecDataedi" id="contarecDataedi" placeholder="" />
													</div>
												</div>
												<!-- Identificador da NF -->
												<label> Número da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecNfnum" id="contarecNfnum" placeholder=""  />
													</div>
												</div>
												<label> Baneficiário</label>
												<div class="form-group">
														<div class="col-sm-8">
															<select name="contarecBeneid" id="contarecBeneid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:selectConv()">
																{{#each benes}}
																	<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
															</select>
														</div>
												</div>
												<label> Convênio</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select style="pointer-events: none; touch-action: none;" tabindex="-1" aria-disabled="true" name="contarecConvid"  id="contarecConvid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaConvId()">
															{{#each benes}}
																{{#each ../convs}}
																	{{#ifEqual ../bene_convid _id}}
																		<option value="{{../bene_convid}}">{{conv_nome}}</option>
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</select>
													</div>
												</div>
												<label> Nome Do Beneficiário</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecBenenome" id="contarecBenenome" placeholder=""  />
													</div>
												</div>

												<label>Nome do Tomador do Serviço perante a prefeitura</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecTomador" id="contarecTomador" placeholder="" />
													</div>
												</div>
												<label>CPF/CNPJ do Tomador</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecCpfcnpj" id="contarecCpfcnpj" placeholder=""  />
													</div>
												</div>
												<label>Retenção</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecRetencao" id="contarecRetencao" placeholder="" />
													</div>
												</div>
												<!-- Informações da NF-->
												<label>Ano/Mês Referência</label>
												<div class="form-group">
													<div class="col-sm-1">
														<input type="text" name="contarecAnomesatend" id="contarecAnomesatend" placeholder=""  />
													</div>
												</div>
												<label for="id-date-picker-1">Data Emissão da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input id="contarecDataevento" name="benecontarecDataeventoDatanasc" type="date">
													</div>
												</div>
												<label>Valor da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrnf" id="contarecVlrnf" placeholder="" />
													</div>
												</div>
												
												<label for="id-date-picker-1">Data Empréstimo</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataemprest" name="contarecDataemprest" type="date">
													</div>
												</div>
												<label for="id-date-picker-1">Data Emissão da Nota Fiscal</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataadevol" name="contarecDataadevol" type="date">
													</div>
												</div>
													
												<label for="id-date-picker-1">Data Previsão de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input id="contarecDataprev" name="contarecDataprev" type="date">
													</div>
												</div>
													
												
												<label>Valor Pago</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrpg" id="contarecVlrpg" placeholder="" />
													</div>
												</div>
												<label>Valor Diferença</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrdiferenca" id="contarecVlrdiferenca" placeholder="" />
													</div>
												</div>
												<label>Forma de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecFormapg" id="contarecFormapg" placeholder=""  />
													</div>
												</div>
												<label for="id-date-picker-1">Data Previsão de Pagamento</label>
												<div class="form-group">
													<div class="col-sm-4">
														<input type="date" id="contarecDatapg" name="contarecDatapg"  placeholder="">
													</div>
												</div>
												<!-- Informações dos Impostos-->
												<label>Valor PIS</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrpis" id="contarecVlrpis" placeholder=""  />
													</div>
												</div>
												<label>Valor CSSL</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrcssl" id="contarecVlrcssl" placeholder="" />
													</div>
												</div>
												<label>Valor COFINS</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrcofins" id="contarecVlrcofins" placeholder=""  />
													</div>
												</div>
												<label>Valor IRPF</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlrirpf" id="contarecVlrirpf" placeholder=""  />
													</div>
												</div>
												<label>Valor ISS</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecVlriss" id="contarecVlriss" placeholder=""  />
													</div>
												</div>
												
												<!-- Observações-->
												<label>Pago?</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="contarecPg" id="contarecPg" placeholder="" />
													</div>
												</div>
												<label>Descrição da Nota fiscal</label>
												<div class="form-group">
													<div class="col-sm-3">
														<textarea type="text" name="contarecDescr" id="contarecDescr" placeholder="" ></textarea>
													</div>
												</div>
												<label>Observações gerais sobre pagamentos etc</label>
												<div class="form-group">
													<div class="col-sm-3">
														<textarea type="text" name="contarecObs" id="contarecObs" placeholder="" ></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
	
							
								<div class="col-xs-12" style="text-align: center;" >
									<button class="btn btn-info"  name="acao" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning"  href="/menu/financeiro/receita/lis">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
									

							</form>


						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
