<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Impostos sobre Convênios</title>
		<script type="text/javascript">
			function carregaBody() {
			let data = document.getElementById("dataEdi").value;

			let ano = data.substring(0, 4);
			let mes = data.substring(5, 7);
			let dia = data.toString().substring(8, 10);

			let fulldate = (ano + "-" + mes + "-" + dia).toString();
			document.getElementById("convimpDataedi").value = fulldate; // Corrigido para "convimpData"
			document.getElementById("convimpConvid").value = document.getElementById("convimpConvidEdi").value;
			document.getElementById("convimpImpid").value = document.getElementById("convimpImpidEdi").value;
			document.getElementById("convimpImpnome").value = document.getElementById("convimpImpnomeEdi").value;
			document.getElementById("convimpImpalq").value = document.getElementById("convimpImpalqEdi").value;

			atualizaData();
		}

		function atualizaData() {
			var hora = "00:00"
			var data = document.getElementById("convimpData").value + "T" + hora + ":00.000Z"; // Corrigido para "convimpData"
			var datafmt = new Date(data);
			document.getElementById("convimpDataFinal").value = datafmt.toISOString();
		}
		</script>
	</head>
	<body onload="javascript:controlaNave();carregaBody();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Impostos de Convênios Edição</li>
						</ul><!-- /.breadcrumb -->

					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form"  action="/menu/convenio/convimp/atualizar" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Impostos dos convênios</h4>
											<span class="widget-toolbar">
												
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
											<div class="hidden" id="divCarrega">
												<input type="text" id="convimpConvidEdi" name="convimpConvidEdi" value="{{convimp.convimp_convid}}" />
												<input type="text" id="convimpImpidEdi" name="convimpImpidEdi" value="{{convimp.convimp_impid}}" />
												<input type="text" id="convimpImpnomeEdi" name="convimpImpnomeEdi" value="{{convimp.convimp_impnome}}" />
												<input type="text" id="convimpImpalqEdi" name="convimpImpalqEdi" value="{{convimp.convimp_impalq}}" />
												<input type="text" id="dataEdi" name="dataEdi"  value="{{convimp.convimp_dataedi}}" />
											</div>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<input name="convimpId" id="convimpId" class="hidden" value="{{convimp._id}}"/>
												<label> Convênio </label>
												<div class="form-group">
													<div class="col-sm-4">
														<select name="convimpConvid" id="convimpConvid" class="chosen-select" data-placeholder="Escolha...">
															{{#each convs}}
															<option value="{{_id}}">{{conv_nome}}</option>
															{{else}}
															{{/each}}
														</select>
													</div>
												</div>
												<label>Imposto</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select name="convimpImpid" id="convimpImpid" class="chosen-select" data-placeholder="Escolha...">
															{{#each impostos}}
															<option value="{{_id}}">{{imposto_nome}}</option>
															{{else}}
															{{/each}}
														</select>
													</div>
												</div>
												<label> Name Imposto </label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="convimpImpnome" id="convimpImpnome" class="form-control" />
													</div>
												</div>
												<label> Alíquota do Imposto </label>
												<div class="form-group">
													<div class="col-sm-2">
														<input type="text" name="convimpImpalq" id="convimpImpalq" class="form-control" />
													</div>
												</div>

												
												<input class="hidden" name="convimpDataedi" id="convimpDataedi" type="date" />
														
												</div>

											</div>
										</div>
									</div>
								</div>
								
										<div class="col-xs-12" style="text-align: center;" >
											<button class="btn btn-info" name="acao" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning"  href="/menu/convenio/convimp/lis">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									

							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
	</body>
</html>
