<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<title>Lista ABA</title>
		<script>
			function carregaBody(){
				let arr = document.getElementsByName("tagContainerTerapeuta");

				arr.forEach((a)=>{
					let novo_vetor;
					let input = document.getElementById(a.id + "_input");
					console.log("input.value: "+input.value)
					novo_vetor = input.value.split(",");
					novo_vetor.forEach((e)=>{
						let excecao = document.getElementById(e+"_span");
						a.append(excecao.cloneNode(true));
					})
				})
			}
			function confirmeDeletar(id){
				let confirmado = confirm("Quer mesmo deletar essa Exceção?");
				if(confirmado == true){
					window.location.href=("/menu/beneficiario/excecao/del/"+id);
				}
			}
		</script>
	</head>
	<body onload="javascript:controlaNave();carregaBody();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Lista ABA</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div hidden id="divCarrega">
						{{#each usuarios}}
							<span id="{{_id}}_span" class="tag">{{usuario_nome}}</span>
						{{/each}}
					</div>
					{{#each error}}
					<div class="alert alert-danger">{{texto}}{{error}}</div>
					{{else}}
					{{/each}}
					<div class="page-content"><!-- .page-content -->
						<div class="row"><!--.row -->
							<div class="col-xs-12 col-sm-12">
								<!-- PAGE CONTENT BEGINS -->
								<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
									<thead>
										<tr role="row">
											<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Beneficiário</th>
										</tr>
									</thead>
									<tbody>
										{{#each benes}}
										<tr role="row" class="odd">
											<td><label class="hidden">{{bene_nome}}</label>
												<div class="widget-box collapsed">
													<div class="widget-header">
														<h6 class="widget-title" >{{bene_nome}}</h6>
														<span class="widget-toolbar">
															<a href="#" data-action="reload">
																<i class="ace-icon brown fa fa-refresh bigger-130"></i>
															</a>
															<a href="#" data-action="collapse">
																<i class="ace-icon fa fa-chevron-up bigger-130"></i>
															</a>
														</span>
														<span class="widget-toolbar">
															<a class="blue" name="acaoCad" id="acaoCad" href="/menu/area/aba/prog/progcad">
																<i class="ace-icon fa fa-plus bigger-130"></i>
															</a>
														</span>
														<span class="widget-toolbar">
															<a name="acaoViz" id="acaoViz">
																{{#if countExcecaos}}
																	<i class="ace-icon green fa fa-check bigger-130"></i>
																{{else}}
																	<i class="ace-icon red fa fa-ban bigger-130" title="Ainda não foram cadastradas sessões para esse beneficiário."></i>
																{{/if}}
															</a>
														</span>
															
													</div>
													<div class="widget-body">
														<div class="widget-main">
															<table id="dynamic-table2" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
																<thead>
																	<tr role="row">
																		<th style="width: 15%;" class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
																		<th style="width: 15%;" class="sorting" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeutas</th>
																		<th style="width: 15%;" class="sorting" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" >Substitutos</th>
																		<th style="width: 15%;" class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia Subst</th>
																		<th style="width: 20%;" class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Obs</th>
																		<th style="width: 10%;" class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Criado por:</th>
																		<th style="width: 10%;" class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Alterado por:</th>
																		<th style="width: 3%;text-align: center;"  class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Ação</th>
																	</tr>
																</thead>
																<tbody style="">
																	{{#each ../excecaos}}
																		{{#ifEqual this.excecao_beneid ../_id}}
																			{{#isNull excecao_terapiaid}}
																			{{else}}
																			<tr role="row" class="odd">
																				{{#each ../../terapias}}<!-- Ok -->
																					{{#ifEqual this._id ../excecao_terapiaid}}
																						<td>{{terapia_nome}}</td>
																					{{/ifEqual}}
																				{{/each}}
																				<td>
																					<div class="tags" id="containerExecaoTerapeuta_{{_id}}" name="tagContainerTerapeuta" >
																						<input hidden id="containerExecaoTerapeuta_{{_id}}_input" value="{{excecao_terapeutaid}}" />
																					</div>
																				</td>
																				<td>
																					<div class="tags" id="containerTerapeutaSubs_{{_id}}" name="tagContainerTerapeuta" >
																						<input hidden id="containerTerapeutaSubs_{{_id}}_input" value="{{excecao_substitutoid}}" />
																					</div>
																				</td>
																				{{#each ../../terapias}}<!-- Ok -->
																					{{#ifEqual this._id ../excecao_substerapiaid}}
																						<td>{{terapia_nome}}</td>
																					{{/ifEqual}}
																				{{/each}}
																				<td>
																					{{excecao_obs}}
																				</td>
																				<td>
																					<span>
																						<a name="acaoVizcad" id="acaoVizcad">
																							{{#ifEqual ../_id excecao_beneid}}
																								<label><b>{{datacad}}</b>&nbsp;</label>
																								{{#each ../../usuarios}}
																									{{#ifEqual ../excecao_usuidcad this._id}}
																										<label>{{this.usuario_nome}}</label> <!-- Modificado aqui -->
																									{{/ifEqual}}
																								{{/each}}
																							{{/ifEqual}}
																						</a>
																					</span>
																				</td>
																				<td>
																					<span>
																						<a name="acaoVizedi" id="acaoVizedi">
																							{{#ifEqual ../_id excecao_beneid}}
																								{{#verificarVazioOuIndefinido excecao_dataedi}}
																									<label>Sem alteração</label>
																								{{else}}
																									<label><b>{{dataedi}}</b>&nbsp;</label>
																									{{#each ../../usuarios}}
																										{{#ifEqual ../excecao_usuidedi this._id}}
																											<label>{{this.usuario_nome}}</label> <!-- Modificado aqui -->
																										{{/ifEqual}}
																									{{/each}}
																								{{/verificarVazioOuIndefinido}}
																							{{/ifEqual}}
																						</a>
																					</span>
																					</td>
																					
																					<td>
																						<div style="text-align: center;">
																							<a class="orange" name="acaoEdi" id="acaoEdi" href="/menu/area/aba/abaedi/{{_id}}">
																								<i class="ace-icon fa fa-pencil bigger-130"></i>
																							</a>
																							<a class="red" onclick="javascript:confirmeDeletar('{{_id}}');" href="">
																								<i class="ace-icon fa fa-trash-o bigger-130"></i>
																							</a>
																						</div>
																				</td>
																			</tr>
																			{{/isNull}}
																		{{/ifEqual}}
																	{{/each}}
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div><!-- /.page-content -->
				</div><!-- /.main-content-inner -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container ace-save-state --><!-- basic scripts --><!--[if !IE]> -->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<!-- basic scripts -->
		<!-- page specific plugin scripts -->
		<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			$(document).ready(function() {
				$("#dynamic-table").DataTable({
				"language": { "url": "/js/lang/datatable-pt-br.json" },
				"aaSorting": [],
				"aoColumns": [null],
				"responsive": true,
				"lengthMenu": [ 100, 200],
				"lengthChange": true,
				"autoWidth": false,
				"paging": true,
				"lengthChange": true,
				"searching": true,
				"ordering": true,
				"info": true,
				select: {
							style: 'multi'
						}
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#dynamic-table2").DataTable({
				"language": { "url": "/js/lang/datatable-pt-br.json" },
				"aaSorting": [],
				"aoColumns": [null, null, null, null, { "bSortable": false }],
				"responsive": true,
				"lengthMenu": [ 100, 200],
				"lengthChange": true,
				"autoWidth": false,
				"paging": true,
				"lengthChange": true,
				"searching": true,
				"ordering": true,
				"info": true,
				select: {
							style: 'multi'
						}
				});
			});
			$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
		</script>
	</body>
</html>