<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>beneficiário Cadastro</title>
		<script >
		function atualizaData(){
			var dataIso = document.getElementById("b").value+"T00:00:00.000Z";
			var dataFmt = new Date(dataIso);
			console.log(dataFmt.toISOString());
			document.getElementById("a").value = dataFmt;
		}
		function copiaValoresMae() {
			document.getElementById("beneOut").value = document.getElementById("beneMae").value;
			document.getElementById("beneGraupar").value = "Mãe";
			document.getElementById("beneOutprof").value = document.getElementById("beneMaeprof").value;
			document.getElementById("beneOutident").value = document.getElementById("beneMaeident").value;
			document.getElementById("beneOutcpf").value = document.getElementById("beneMaecpf").value;
			document.getElementById("beneOutend").value = document.getElementById("beneMaeend").value;
			document.getElementById("beneOutendcompl").value = document.getElementById("beneMaeendcompl").value;
			document.getElementById("beneOutendbairro").value = document.getElementById("beneMaeendbairro").value;
			document.getElementById("beneOutendcidade").value = document.getElementById("beneMaeendcidade").value;
			document.getElementById("beneOutenduf").value = document.getElementById("beneMaeenduf").value;
			document.getElementById("beneOutendcep").value = document.getElementById("beneMaeendcep").value;
			document.getElementById("beneOutcel").value = document.getElementById("beneMaecel").value;
			document.getElementById("beneOutcel2").value = document.getElementById("beneMaecel2").value;
			document.getElementById("beneOutemail").value = document.getElementById("beneMaeemail").value;
		}
		function copiaValoresPai() {
			document.getElementById("beneOut").value = document.getElementById("benePai").value;
			document.getElementById("beneGraupar").value = "Pai";
			document.getElementById("beneOutprof").value = document.getElementById("benePaiprof").value;
			document.getElementById("beneOutident").value = document.getElementById("benePaiident").value;
			document.getElementById("beneOutcpf").value = document.getElementById("benePaicpf").value;
			document.getElementById("beneOutend").value = document.getElementById("benePaiend").value;
			document.getElementById("beneOutendcompl").value = document.getElementById("benePaiendcompl").value;
			document.getElementById("beneOutendbairro").value = document.getElementById("benePaiendbairro").value;
			document.getElementById("beneOutendcidade").value = document.getElementById("benePaiendcidade").value;
			document.getElementById("beneOutenduf").value = document.getElementById("benePaienduf").value;
			document.getElementById("beneOutendcep").value = document.getElementById("benePaiendcep").value;
			document.getElementById("beneOutcel").value = document.getElementById("benePaicel").value;
			document.getElementById("beneOutcel2").value = document.getElementById("benePaicel2").value;
			document.getElementById("beneOutemail").value = document.getElementById("benePaiemail").value;
		}
		function carregaBody(){
			document.getElementById("beneNome").value = document.getElementById("beneNomeEdi").value;
			document.getElementById("beneApelido").value = document.getElementById("beneApelidoEdi").value;
			document.getElementById("beneIdade").value = document.getElementById("beneIdadeEdi").value;
			document.getElementById("beneSupervisor").value = document.getElementById("beneSupervisorEdi").value;
			let dtnsc = new Date(document.getElementById("beneDatanascEdi").value);
			let mes = (dtnsc.getMonth()+1).toString();
			let dia = (dtnsc.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(dtnsc.getFullYear()+"-"+mes+"-"+dia).toString();
			document.getElementById("beneDatanasc").value = fulldate;
			document.getElementById("beneNacionalidade").value = document.getElementById("beneNacionalidadeEdi").value;
			document.getElementById("beneEnd").value = document.getElementById("beneEndEdi").value;
			document.getElementById("beneEndcompl").value = document.getElementById("beneEndcomplEdi").value;
			document.getElementById("beneEndbairro").value = document.getElementById("beneEndbairroEdi").value;
			document.getElementById("beneEndcidade").value = document.getElementById("beneEndcidadeEdi").value;
			document.getElementById("beneEnduf").value = document.getElementById("beneEndufEdi").value;
			document.getElementById("beneEndcep").value = document.getElementById("beneEndcepEdi").value;
			document.getElementById("beneIdent").value = document.getElementById("beneIdentEdi").value;
			document.getElementById("beneCpf").value = document.getElementById("beneCpfEdi").value;
			document.getElementById("beneStatus").value = document.getElementById("beneStatusEdi").value;
			document.getElementById("beneConvid").value = document.getElementById("beneConvEdi").value;
			document.getElementById("beneOut").value = document.getElementById("beneOutEdi").value;
			document.getElementById("beneGraupar").value = document.getElementById("beneGrauparEdi").value;
			document.getElementById("beneOutprof").value = document.getElementById("beneOutprofEdi").value;
			document.getElementById("beneOutident").value = document.getElementById("beneOutidentEdi").value;
			document.getElementById("beneOutcpf").value = document.getElementById("beneOutcpfEdi").value;
			document.getElementById("beneOutend").value = document.getElementById("beneOutendEdi").value;
			document.getElementById("beneOutendcompl").value = document.getElementById("beneOutendcomplEdi").value;
			document.getElementById("beneOutendbairro").value = document.getElementById("beneOutendbairroEdi").value;
			document.getElementById("beneOutendcidade").value = document.getElementById("beneOutendcidadeEdi").value;
			document.getElementById("beneOutenduf").value = document.getElementById("beneOutendufEdi").value;
			document.getElementById("beneOutendcep").value = document.getElementById("beneOutendcepEdi").value;
			document.getElementById("beneOutcel").value = document.getElementById("beneOutcelEdi").value;
			document.getElementById("beneOutcel2").value = document.getElementById("beneOutcel2Edi").value;
			document.getElementById("beneOutemail").value = document.getElementById("beneOutemailEdi").value;
			document.getElementById("benePai").value = document.getElementById("benePaiEdi").value;
			document.getElementById("benePaiprof").value = document.getElementById("benePaiprofEdi").value;
			document.getElementById("benePaiident").value = document.getElementById("benePaiidentEdi").value;
			document.getElementById("benePaicpf").value = document.getElementById("benePaicpfEdi").value;
			//document.getElementById("benePaiend").value = document.getElementById("benePaiendEdi").value;
			//document.getElementById("benePaiendcompl").value = document.getElementById("benePaiendcomplEdi").value;
			//document.getElementById("benePaiendbairro").value = document.getElementById("benePaiendbairroEdi").value;
			//document.getElementById("benePaiendcidade").value = document.getElementById("benePaiendcidadeEdi").value;
			//document.getElementById("benePaienduf").value = document.getElementById("benePaiendufEdi").value;
			//document.getElementById("benePaiendcep").value = document.getElementById("benePaiendcepEdi").value;
			document.getElementById("benePaicel").value = document.getElementById("benePaicelEdi").value;
			document.getElementById("benePaicel2").value = document.getElementById("benePaicel2Edi").value;
			document.getElementById("benePaiemail").value = document.getElementById("benePaiemailEdi").value;
			document.getElementById("beneMae").value = document.getElementById("beneMaeEdi").value;
			document.getElementById("beneMaeprof").value = document.getElementById("beneMaeprofEdi").value;
			document.getElementById("beneMaeident").value = document.getElementById("beneMaeidentEdi").value;
			document.getElementById("beneMaecpf").value = document.getElementById("beneMaecpfEdi").value;
			//document.getElementById("beneMaeend").value = document.getElementById("beneMaeendEdi").value;
			//document.getElementById("beneMaeendcompl").value = document.getElementById("beneMaeendcomplEdi").value;
			//document.getElementById("beneMaeendbairro").value = document.getElementById("beneMaeendbairroEdi").value;
			//document.getElementById("beneMaeendcidade").value = document.getElementById("beneMaeendcidadeEdi").value;
			//document.getElementById("beneMaeenduf").value = document.getElementById("beneMaeendufEdi").value;
			//document.getElementById("beneMaeendcep").value = document.getElementById("beneMaeendcepEdi").value;
			document.getElementById("beneMaecel").value = document.getElementById("beneMaecelEdi").value;
			document.getElementById("beneMaecel2").value = document.getElementById("beneMaecel2Edi").value;
			document.getElementById("beneMaeemail").value = document.getElementById("beneMaeemailEdi").value;
			document.getElementById("beneObs").value = document.getElementById("beneObsEdi").value;
			document.getElementById("beneEscola").value = document.getElementById("beneEscolaEdi").value;
			document.getElementById("beneEscolaObs").value = document.getElementById("beneEscolaObsEdi").value;
		}
	</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody()">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">beneficiários Cadastro</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form"  action="/menu/beneficiario/atualizar" method="POST">
								<document class="document-horizontal" role="document" >
										<div class="col-xl-12" style="padding-top: 50px;">
											<div class="tabbable">
												<ul class="inbox-tabs nav nav-tabs padding-16 tab-size-small tab-space-1" id="myTab">
													<li class="active">
														<a data-toggle="tab" href="#basico" aria-expanded="true">
															<i class="orange ace-icon fa fa-child bigger-120"></i>
															Dados Básicos
														</a>
													</li>
													<li class="">
														<a data-toggle="tab" href="#end" aria-expanded="false">
															<i class="orange ace-icon fa fa-globe bigger-120"></i>
															Endereço
														</a>
													</li>
													<li class="">
														<a data-toggle="tab" href="#conv" aria-expanded="false">
															<i class="green ace-icon fa fa-money bigger-120"></i>
															Convênio
														</a>
													</li>
													<li class="">
														<a data-toggle="tab" href="#mae" aria-expanded="false">
															<i class="pink ace-icon fa fa-female bigger-120"></i>
															Mãe
														</a>
													</li>
													<li class="">
														<a data-toggle="tab" href="#pai" aria-expanded="false">
															<i class="blue ace-icon fa fa-male bigger-120"></i>
															Pai
														</a>
													</li>
													<li class="">
														<a data-toggle="tab" href="#out" aria-expanded="false">
															<i class="brown ace-icon fa fa-gavel bigger-120"></i>
															Responsável
														</a>
													</li>
													<li class="">
														<a data-toggle="tab" href="#obs" aria-expanded="false">
															<i class="brown ace-icon fa fa-comment-o bigger-120"></i>
															Observação
														</a>
													</li>
												</ul>
												<div class="tab-content">
													<div id="basico" class="tab-pane fade active in">
														<div class="row">
															<div class="col-xs-12 col-sm-8">
																<label > Nome </label>
																<div class="row ">
																	<div class="input-group" >
																		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
																			<input  type="text" name="beneNome" id="beneNome" placeholder="" class="form-control" style="width: 600px;" value="{{bene_nome}}"/>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-4">
																<label > Apelido </label>
																<div class="row ">
																	<div class="input-group" >
																		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
																			<input  type="text" name="beneApelido" id="beneApelido" placeholder="" class="form-control" style="width: 200px;" value="{{bene_apelido}}"/>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12 col-sm-2">
																<label> Idade</label>
																<div class="row ">
																	<div class="input-group">
																		<div class="col-sm-1">
																			<input type="text" name="beneIdade" id="beneIdade" placeholder="" class="form-control" style="width: 50px;" value="{{bene_idade}}"/>
																		</div>
																	</div>
																</div>
															</div>
															
															<div class="col-xs-12 col-sm-4">
																
																<label for="id-date-picker-1">Data Nascimento</label>
																<div class="row ">
																	<div class="input-group">
																		<div class="col-sm-4">
																			<input id="beneDatanasc" name="beneDatanasc" type="date" value="{{bene_datanasc}}">
																		</div>
																	</div>
																</div>
															
															</div>
														
														</div>													
													

														<label> Nacionalidade</label>
														<div class="input-group">
															<div >
																<input type="text" name="beneNacionalidade" id="beneNacionalidade" placeholder="" class="form-control" style="width: 200px;" value="{{bene_nacionalidade}}"/>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-10 col-sm-5">
																<label> identidade </label>
																<div class="input-group">
																	<div >
																		<input type="text" name="beneIdent" id="beneIdent" placeholder="" class="form-control" value="{{bene_ident}}"/>
																	</div>
																</div>
															</div>
															<div class="col-xs-10 col-sm-5">
																<label> CPF </label>
																<div class="input-group">
																	<div>
																		<input type="text" name="beneCpf" id="beneCpf" placeholder="" class="form-control" value="{{bene_cpf}}"/>
																	</div>
																</div>
															</div>
														</div>
														<label> Supervisor/a </label>
														<div class="input-group">
															<div>
																<input type="text" name="beneSupervisor" id="beneSupervisor" placeholder="" class="form-control" style="width: 500px;" value="{{bene_supervisor}}" />
															</div>
														</div>
														<label>Status</label>
														<div class="input-group">
															<div >
																<select name="beneStatus" id="beneStatus" class="chosen-select" data-placeholder="Escolha...">
																		<option value="Ativo">Ativo</option>
																		<option value="Inativo">Inativo</option>
																</select>
															</div>
														</div>

														<label> Escola </label>
														<div>
															<select name="beneEscola" id="beneEscola" class="chosen-select" data-placeholder="Escolha...">
																{{#each escolas}}
																	<option value="{{_id}}">{{escola_nome}}</option>
																{{/each}}
															</select>
														</div>

														<label> Observação Escola </label>
														<div class="input-group">
															<div>
																<textarea type="text" name="beneEscolaObs" id="beneEscolaObs" placeholder="" class="form-control" style="width: 500px;"></textarea>
															</div>
														</div>

														<div id="obs" class="tab-pane fade active in">
															<label> Observação </label>
															<div class="input-group">
																<div>
																	<textarea type="text" name="beneObs" id="beneObs" placeholder="" class="form-control" style="width: 500px;"></textarea>
																</div>
															</div>
														</div>

													</div>

													<div id="end" class="tab-pane fade">
														

														<label > endereço </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneEnd"  id="beneEnd" placeholder="" class="form-control" style="width: 900px;" value="{{bene_end}}"/>
															</div>
														</div>
						
														<label> Complemento </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneEndcompl" id="beneEndcompl" placeholder="" class="form-control" style="width: 500px;" value="{{bene_endcompl}}"/>
															</div>
														</div>
						
														<label> Bairro </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneEndbairro" id="beneEndbairro" placeholder="" class="form-control" style="width: 500px;" value="{{bene_endbairro}}"/>
															</div>
														</div>
						
														<label> cidade </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneEndcidade" id="beneEndcidade" placeholder="" class="form-control" style="width: 500px;" value="{{bene_endcidade}}"/>
															</div>
														</div>

						
														<label>UF</label>
														<div class="input-group">
																<div >
																	<select name="beneEnduf" id="beneEnduf" class="chosen-select" data-placeholder="Escolha..." value="{{bene_enduf}}">
																			{{#each estados}}
																			<option value="{{_id}}">{{estado_uf}}</option>
																			{{else}}
																			{{/each}}
																	</select>
																</div>
														</div>


						
														<label> CEP </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneEndcep" id="beneEndcep" placeholder="" class="form-control" style="width: 100px;" value="{{bene_endcep}}"/>
															</div>
														</div>





													</div>

													<div id="conv" class="tab-pane fade">

													<label>Convênio</label>
													<div class="input-group">
															<div >
																<select name="beneConvid" id="beneConvid"  class="chosen-select" data-placeholder="Escolha..." style="width: 500px;" value="{{bene_convid}}">
																		{{#each convs}}
																		<option value="{{_id}}">{{conv_nome}}</option>
																		{{else}}
																		{{/each}}
																</select>
															</div>
													</div>
														
														
													</div>

													<div id="mae" class="tab-pane fade">
														

														<label > Nome da Mãe </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneMae" id="beneMae" placeholder="" class="form-control" style="width: 900px;" value="{{bene_mae}}"/>
															</div>
														</div>

														<label> Profissão </label>
														<div class="input-group">
														<div >
																<input type="text" name="beneMaeprof" id="beneMaeprof" placeholder="" class="form-control" style="width: 500px;" value="{{bene_maeprof}}"/>
															</div>
														</div>

														<label> RG </label>
														<div class="input-group">
														<div>
																<input type="text" name="beneMaeident"  id="beneMaeident" placeholder="" class="form-control" style="width: 400px;" value="{{bene_maeident}}"/>
															</div>
														</div>
						
														<label> CPF </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneMaecpf" id="beneMaecpf" placeholder="" class="form-control" value="{{bene_maecpf}}"/>
															</div>
														</div>
<!--
														<label > Endereço </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneMaeend" id="beneMaeend" placeholder="" class="form-control" style="width: 900px;" value="{{bene_maeend}}"/>
															</div>
														</div>
						
														<label> Complemento </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneMaeendcompl" id="beneMaeendcompl" placeholder="" class="form-control" style="width: 500px;" value="{{bene_maeendcompl}}"/>
															</div>
														</div>
						
														<label> Bairro </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneMaeendbairro"  id="beneMaeendbairro" placeholder="" class="form-control" style="width: 500px;" value="{{bene_maeendbairro}}"/>
															</div>
														</div>
						
														<label> Cidade </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneMaeendcidade" id="beneMaeendcidade" placeholder="" class="form-control" style="width: 500px;" value="{{bene_maeendcidade}}"/>
															</div>
														</div>
						
														<label>UF</label>
														<div class="input-group">
																<div >
																	<select name="beneMaeenduf" id="beneMaeenduf" class="chosen-select" data-placeholder="Escolha...">
																			<option value="{{bene_maeenduf}}">{{bene_maeenduf}}</option>
																			{{#each estados}}
																			<option value="{{_id}}">{{estado_uf}}</option>
																			{{else}}
																			{{/each}}
																	</select>
																</div>
														</div>
														<label> CEP </label>
														<div class="input-group">
															<div >
																<input type="Text" name="beneMaeendcep" id="beneMaeendcep"  placeholder="" class="form-control" style="width: 100px;" value="{{bene_maeendcep}}"/>
															</div>
														</div>
-->
														<div>
															<label>whatsApp
																<small class="text-warning">(99) 9999-9999</small>
															</label>
											
															<div class="input-group">
																<span class="input-group-addon">
																	<i class="ace-icon fa fa-phone"></i>
																</span>
											
																<input name="beneMaecel" id="beneMaecel"   class="document-control input-mask-phone" type="text" value="{{bene_maecel}}"/>
															</div> 
														</div>
						
											
														<div>
															<label>Celular
																<small class="text-warning"> (99) 9999-9999</small>
															</label>
											
															<div class="input-group">
																<span class="input-group-addon">
																	<i class="ace-icon fa fa-phone"></i>
																</span>
											
																<input name="beneMaecel2" id="beneMaecel2"  class="document-control input-mask-phone" type="text" value="{{bene_maecel2}}"/>
															</div>
														</div>



														<label > E-Mail </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneMaeemail" id="beneMaeemail" placeholder="" class="form-control" style="width: 900px;" value="{{bene_maeemail}}"/>
															</div>
														</div>





													</div>

													<div id="pai" class="tab-pane fade">
														


														<label > Nome do pai </label>
														<div class="input-group">
															<div >
																<input type="text" name="benePai" id="benePai" placeholder="" class="form-control" style="width: 900px;" value="{{bene_pai}}"/>
															</div>
														</div>

														<label> Profissão </label>
														<div class="input-group">
														<div >
																<input type="text" name="benePaiprof"  id="benePaiprof"  placeholder="" class="form-control" style="width: 500px;" value="{{bene_paiprof}}"/>
															</div>
														</div>

														<label> RG </label>
														<div class="input-group">
														<div >
																<input type="text" name="benePaiident" id="benePaiident" placeholder="" class="form-control" style="width: 300px;" value="{{bene_paiident}}"/>
															</div>
														</div>
						
														<label> CPF </label>
														<div class="input-group">
															<div >
																<input type="text" name="benePaicpf" id="benePaicpf" placeholder="" class="form-control" style="width: 300px;" value="{{bene_paicpf}}"/>
															</div>
														</div>
<!--
														<label > Endereço </label>
														<div class="input-group">
															<div >
																<input type="text" name="benePaiend" id="benePaiend" placeholder="" class="form-control" style="width: 900px;" value="{{bene_paiend}}"/>
															</div>
														</div>
						
														<label> Complemento </label>
														<div class="input-group">
															<div >
																<input type="text" name="benePaiendcompl" id="benePaiendcompl" placeholder="" class="form-control" style="width: 500px;" value="{{bene_paiendcompl}}"/>
															</div>
														</div>
						
														<label> Bairro </label>
														<div class="input-group">
															<div >
																<input type="text" name="benePaiendbairro" id="benePaiendbairro" placeholder="" class="form-control" style="width: 500px;" value="{{bene_paiendBairro}}"/>
															</div>
														</div>
						
														<label> Cidade </label>
														<div class="input-group">
															<div >
																<input type="text" name="benePaiendcidade" id="benePaiendcidade" placeholder="" class="form-control" style="width: 500px;" value="{{bene_paiendcidade}}"/>
															</div>
														</div>

						
														<label>UF</label>
														<div class="input-group">
																<div>
																	<select name="benePaienduf" id="benePaienduf" class="chosen-select" data-placeholder="Escolha...">
																			<option value="{{bene_paienduf}}">{{bene_paienduf}}</option>
																			{{#each estados}}
																			<option value="{{_id}}">{{estado_uf}}</option>
																			{{else}}
																			{{/each}}
																	</select>
																</div>
														</div>
						
														<label> CEP </label>
														<div class="input-group">
															<div >
																<input type="Text" name="benePaiendcep" id="benePaiendcep" placeholder="" class="form-control" style="width: 100px;"  value="{{bene_paiendcep}}"/>
															</div>
														</div>
-->
														<div>
															<label>WhatsApp
																<small class="text-warning">(99) 9999-9999</small>
															</label>
											
															<div class="input-group">
																<span class="input-group-addon">
																	<i class="ace-icon fa fa-phone"></i>
																</span>
											
																<input name="benePaicel" id="benePaicel"   class="document-control input-mask-phone" type="text"  value="{{bene_paicel}}"/>
															</div> 
														</div>
						
											
														<div>
															<label>Celular
																<small class="text-warning"> (99) 9999-9999</small>
															</label>
											
															<div class="input-group">
																<span class="input-group-addon">
																	<i class="ace-icon fa fa-phone"></i>
																</span>
											
																<input name="benePaicel2" id="benePaicel2" class="document-control input-mask-phone" type="text" value="{{bene_paiendcidade}}"/>
															</div>
														</div>
														<label > E-Mail </label>
														<div class="input-group">
															<div >
																<input type="text" name="benePaiemail" id="benePaiemail"  placeholder="" class="form-control" style="width: 900px;" value="{{bene_paiemail}}"/>
															</div>
														</div>
													</div>
													<div id="out" class="tab-pane fade">
													<div class="alert alert-warning">
														<button type="button" class="close" data-dismiss="alert">
															<i class="ace-icon fa fa-times"></i>
														</button>
														<strong>Informação: </strong>
															Se o responsável for o pai ou a mãe, você pode copiar automaticamente as informações para os campos abaixo.
														<br>
													</div>

													<div class="col-md-offset-3 col-md-9">

														<button class="btn btn-warning"  type="button" name="AcaoCopiaMae" id="AcaoCopiaMae"  onclick="javascript:copiaValoresMae()">
															<i class="ace-icon fa fa-female bigger-110"></i>
															Copia da Mãe
														</button>

															&nbsp; &nbsp; &nbsp;
														
														<button class="btn btn-warning"  type="button" name="AcaoCopiaPai" id="AcaoCopiaPai"  onclick="javascript:copiaValoresPai()">
															<i class="ace-icon fa fa-male bigger-110"></i>
															Copia do Pai
														</button>
													</div>
														<label > Nome </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOut" id="beneOut" placeholder="" class="form-control" style="width: 900px;" value="{{bene_out}}"/>
															</div>
														</div>
														<label> Grau de Parentesco</label>
														<div class="input-group">
														<div >
																<input type="text" name="beneGraupar" id="beneGraupar" placeholder="" class="form-control" style="width: 300px;" value="{{bene_graupar}}"/>
															</div>
														</div>
														<label> Profissão </label>
														<div class="input-group">
														<div >
																<input type="text" name="beneOutprof" id="beneOutprof" placeholder="" class="form-control" style="width: 500px;" value="{{bene_outprof}}"/>
															</div>
														</div>
														<label> Identidade </label>
														<div class="input-group">
														<div >
																<input type="text" name="beneOutident" id="beneOutident" placeholder="" class="form-control" style="width: 300px;" value="{{bene_outident}}"/>
															</div>
														</div>
														<label> CPF </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOutcpf" id="beneOutcpf" placeholder="" class="form-control" style="width: 300px;" value="{{bene_outcpf}}"/>
															</div>
														</div>
														<label > Endereço </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOutend"  id="beneOutend" placeholder="" class="form-control" style="width: 900px;" value="{{bene_outend}}"/>
															</div>
														</div>
														<label> Complemento </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOutendcompl" id="beneOutendcompl" placeholder="" class="form-control" style="width: 500px;" value="{{bene_outendcompl}}"/>
															</div>
														</div>
														<label> Bairro </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOutendbairro" id="beneOutendbairro"  placeholder="" class="form-control" style="width: 500px;" value="{{bene_outbairro}}"/>
															</div>
														</div>
														<label> Cidade </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOutendcidade" id="beneOutendcidade"  placeholder="" class="form-control" style="width: 500px;" value="{{bene_outendcidade}}"/>
															</div>
														</div>
														<label>UF</label>
														<div class="input-group">
																<div class="col-sm-4">
																	<select name="beneOutenduf" id="beneOutenduf"  class="chosen-select" data-placeholder="Escolha...">
																			<option value="{{bene_outenduf}}">{{bene_outenduf}}</option>
																			{{#each estados}}
																			<option value="{{_id}}">{{estado_uf}}</option>
																			{{else}}
																			{{/each}}
																	</select>
																</div>
														</div>
														<label> CEP </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOutendcep" id="beneOutendcep"  placeholder="" class="form-control" style="width: 100px;" value="{{bene_outendcep}}"/>
															</div>
														</div>
														<div>
															<label>WhatsApp
																<small class="text-warning">(99) 9999-9999</small>
															</label>
															<div class="input-group">
																<span class="input-group-addon">
																	<i class="ace-icon fa fa-phone"></i>
																</span>
																<input name="beneOutcel" id="beneOutcel"  class="document-control input-mask-phone" type="text" id="Whatsapp" value="{{bene_outcel}}" />
															</div>
														</div>
														<div>
															<label>Celular
																<small class="text-warning"> (99) 9999-9999</small>
															</label>
															<div class="input-group">
																<span class="input-group-addon">
																	<i class="ace-icon fa fa-phone"></i>
																</span>
																<input name="beneOutcel2" id="beneOutcel2"  class="document-control input-mask-phone" type="text" id="Celular" value="{{bene_outcel2}}" />
															</div>
														</div>
														<label > E-Mail </label>
														<div class="input-group">
															<div >
																<input type="text" name="beneOutemail" id="beneOutemail" placeholder="" class="form-control" value="{{bene_outemail}}" />
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="divCarrega" name="divCarrega" class="hidden">
												<input id="beneId" name="beneId" value="{{beneEdi._id}}"/>
												<input id="beneNomeEdi" name="beneNomeEdi" value="{{beneEdi.bene_nome}}"/>
												<input id="beneApelidoEdi" name="beneApelidoEdi" value="{{beneEdi.bene_apelido}}"/>
												<input id="beneIdadeEdi" name="beneIdadeEdi" value="{{beneEdi.bene_idade}}"/>
												<input id="beneDatanascEdi" name="beneDatanascEdi" value="{{beneEdi.bene_datanasc}}"/>
												<input id="beneNacionalidadeEdi" name="beneNacionalidadeEdi" value="{{beneEdi.bene_nacionalidade}}"/>
												<input id="beneEndEdi" name="beneEndEdi" value="{{beneEdi.bene_end}}"/>
												<input id="beneEndcomplEdi" name="beneEndcomplEdi" value="{{beneEdi.bene_endcompl}}"/>
												<input id="beneEndbairroEdi" name="beneEndbairroEdi" value="{{beneEdi.bene_endbairro}}"/>
												<input id="beneEndcidadeEdi" name="beneEndcidadeEdi" value="{{beneEdi.bene_endcidade}}"/>
												<input id="beneEndufEdi" name="beneEndufEdi" value="{{beneEdi.bene_enduf}}"/>
												<input id="beneEndcepEdi" name="beneEndcepEdi" value="{{beneEdi.bene_endcep}}"/>
												<input id="beneIdentEdi" name="beneIdentEdi" value="{{beneEdi.bene_ident}}"/>
												<input id="beneCpfEdi" name="beneCpfEdi" value="{{beneEdi.bene_cpf}}"/>
												<input id="beneStatusEdi" name="beneStatusEdi" value="{{beneEdi.bene_status}}"/>
												<input id="beneConvEdi" name="beneConvEdi" value="{{beneEdi.bene_convid}}"/>
												<input id="beneOutEdi" name="beneOutEdi" value="{{beneEdi.bene_out}}"/>
												<input id="beneGrauparEdi" name="beneGrauparEdi" value="{{beneEdi.bene_graupar}}"/>
												<input id="beneSupervisorEdi" name="beneSupervisorEdi" value="{{beneEdi.bene_supervisor}}"/>
												<input id="beneOutprofEdi" name="beneOutprofEdi" value="{{beneEdi.bene_outprof}}"/>
												<input id="beneOutidentEdi" name="beneOutidentEdi" value="{{beneEdi.bene_outident}}"/>
												<input id="beneOutcpfEdi" name="beneOutcpfEdi" value="{{beneEdi.bene_outcpf}}"/>
												<input id="beneOutendEdi" name="beneOutendEdi" value="{{beneEdi.bene_outend}}"/>
												<input id="beneOutendcomplEdi" name="beneOutendcomplEdi" value="{{beneEdi.bene_outendcompl}}"/>
												<input id="beneOutendbairroEdi" name="beneOutendbairroEdi" value="{{beneEdi.bene_outendbairro}}"/>
												<input id="beneOutendcidadeEdi" name="beneOutendcidadeEdi" value="{{beneEdi.bene_outendcidade}}"/>
												<input id="beneOutendufEdi" name="beneOutendufEdi" value="{{beneEdi.bene_outenduf}}"/>
												<input id="beneOutendcepEdi" name="beneOutendcepEdi" value="{{beneEdi.bene_outendcep}}"/>
												<input id="beneOutcelEdi" name="beneOutcelEdi" value="{{beneEdi.bene_outcel}}"/>
												<input id="beneOutcel2Edi" name="beneOutcel2Edi" value="{{beneEdi.bene_outcel2}}"/>
												<input id="beneOutemailEdi" name="beneOutemailEdi" value="{{beneEdi.bene_outemail}}"/>
												<input id="benePaiEdi" name="benePaiEdi" value="{{beneEdi.bene_pai}}"/>
												<input id="benePaiprofEdi" name="benePaiprofEdi" value="{{beneEdi.bene_paiprof}}"/>
												<input id="benePaiidentEdi" name="benePaiidentEdi" value="{{beneEdi.bene_paiident}}"/>
												<input id="benePaicpfEdi" name="benePaicpfEdi" value="{{beneEdi.bene_paicpf}}"/>
												<!--
												<input id="benePaiendEdi" name="benePaiendEdi" value="{{beneEdi.bene_paiend}}"/>
												<input id="benePaiendcomplEdi" name="benePaiendcomplEdi" value="{{beneEdi.bene_paiendcompl}}"/>
												<input id="benePaiendbairroEdi" name="benePaiendbairroEdi" value="{{beneEdi.bene_paiendbairro}}"/>
												<input id="benePaiendcidadeEdi" name="benePaiendcidadeEdi" value="{{beneEdi.bene_paiendcidade}}"/>
												<input id="benePaiendufEdi" name="benePaiendufEdi" value="{{beneEdi.bene_paienduf}}"/>
												<input id="benePaiendcepEdi" name="benePaiendcepEdi" value="{{beneEdi.bene_paiendcep}}"/>
												-->
												<input id="benePaicelEdi" name="benePaicelEdi" value="{{beneEdi.bene_paicel}}"/>
												<input id="benePaicel2Edi" name="benePaicel2Edi" value="{{beneEdi.bene_paicel2}}"/>
												<input id="benePaiemailEdi" name="benePaiemailEdi" value="{{beneEdi.bene_paiemail}}"/>
												<input id="beneMaeEdi" name="beneMaeEdi" value="{{beneEdi.bene_mae}}"/>
												<input id="beneMaeprofEdi" name="beneMaeprofEdi" value="{{beneEdi.bene_maeprof}}"/>
												<input id="beneMaeidentEdi" name="beneMaeidentEdi" value="{{beneEdi.bene_maeident}}"/>
												<input id="beneMaecpfEdi" name="beneMaecpfEdi" value="{{beneEdi.bene_maecpf}}"/>
												<!--
												<input id="beneMaeendEdi" name="beneMaeendEdi" value="{{beneEdi.bene_maeend}}"/>
												<input id="beneMaeendcomplEdi" name="beneMaeendcomplEdi" value="{{beneEdi.bene_maeendcompl}}"/>
												<input id="beneMaeendbairroEdi" name="beneMaeendbairroEdi" value="{{beneEdi.bene_maeendbairro}}"/>
												<input id="beneMaeendcidadeEdi" name="beneMaeendcidadeEdi" value="{{beneEdi.bene_maeendcidade}}"/>
												<input id="beneMaeendufEdi" name="beneMaeendufEdi" value="{{beneEdi.bene_maeenduf}}"/>
												<input id="beneMaeendcepEdi" name="beneMaeendcepEdi" value="{{beneEdi.bene_maeendcep}}"/>
												-->
												<input id="beneMaecelEdi" name="beneMaecelEdi" value="{{beneEdi.bene_maecel}}"/>
												<input id="beneMaecel2Edi" name="beneMaecel2Edi" value="{{beneEdi.bene_maecel2}}"/>
												<input id="beneMaeemailEdi" name="beneMaeemailEdi" value="{{beneEdi.bene_maeemail}}"/>
												<input id="beneObsEdi" name="beneObsEdi" value="{{beneEdi.bene_obs}}"/>
												<input id="beneEscolaEdi" name="beneEscolaEdi" value="{{beneEdi.bene_escola}}"/>
												<input id="beneEscolaObsEdi" name="beneEscolaObsEdi" value="{{beneEdi.bene_escolaobs}}"/>
											</div>
										</div>
									<br>
									<div class="space-6" style="height: 70px;"></div>
									<div class="clearfix document-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info"  name="acaoSalvar" id="acaoSalvar" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning"   name="acaoCancelar" id="acaoCancelar"  href="/menu/beneficiario/lis">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									</div>
								</document>
								
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
	</body>
</html>
