<!DOCTYPE html>
<html lang="pt-br"><head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<title>Lista de beneficiários</title>

		<meta name="description" content="Static &amp; Dynamic Tables">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../assets/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="../../../assets/css/fonts.googleapis.com.css">

		<!-- ace styles -->
		<link rel="stylesheet" href="../../../assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../../assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="../../../assets/css/ace-skins.min.css">
		<link rel="stylesheet" href="../../../assets/css/ace-rtl.min.css">

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../../../assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="../../../assets/js/ace-extra.min.js"></script><style>@keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-moz-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-webkit-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-ms-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-o-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}.ace-save-state{animation-duration:10ms;-o-animation-duration:10ms;-ms-animation-duration:10ms;-moz-animation-duration:10ms;-webkit-animation-duration:10ms;animation-delay:0s;-o-animation-delay:0s;-ms-animation-delay:0s;-moz-animation-delay:0s;-webkit-animation-delay:0s;animation-name:nodeInserted;-o-animation-name:nodeInserted;-ms-animation-name:nodeInserted;-moz-animation-name:nodeInserted;-webkit-animation-name:nodeInserted}</style>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../../../assets/js/html5shiv.min.js"></script>
		<script src="../../../assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Lista de Beneficiários</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#each error}}
						<div class="alert alert-danger">{{texto}}{{error}}</div>
					{{else}}
					{{/each}}
					<div class="page-content"><!-- .page-content -->
						<div class="row"><!--.row -->
							<div class="col-xs-12">
								
										<!-- PAGE CONTENT BEGINS -->
										<div class="row">
											<div class="col-xs-12">
												<div class="clearfix" >
													<div class="pull-right tableTools-container">
													</div>
												</div>

												<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
													<thead>
														<tr role="row">
															<th class="center">
																<label class="pos-rel">
																	<input type="checkbox" class="ace" />
																	<span class="lbl"></span>
																</label>
															</th>
															<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Beneficiário: activate to sort column ascending">Beneficiário</th>
															<th class="sorting" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Apelido: activate to sort column ascending">Apelido</th>
															<th class="sorting" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Data Nascimento:     activate to sort column ascending">Data Nascimento</th>
															<th class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="COnvênio: activate to sort column ascending">Convênio</th>
															<th class="sorting" tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Status:     activate to sort column ascending">Status</th>
															<th>Ação</th>
														</tr>
													</thead>
													<tbody>
														{{#each benes}}

															<tr role="row" class="odd">
																<td class="center">
																	<label class="pos-rel">
																		<input type="checkbox" class="ace" />
																		<span class="lbl"></span>
																	</label>
																</td>
																<td>{{bene_nome}}</td>
																<td>{{bene_apelido}}</td>
																<td>{{datanasc}}</td>
																{{#each ../convs}}
																	{{#ifEqual this._id ../bene_convid}}
																		<td>{{conv_nome}}</td>
																	{{/ifEqual}}
																{{/each}}
																{{#ifEqual this.bene_status "Inativo"}}
																	<td><span class="label label-sm label-danger">{{bene_status}}</span></td>
																	{{else}}
																	<td><span class="label label-sm label-success">{{bene_status}}</span></td>
																{{/ifEqual}}
																<td>
																	<div class="action-buttons">
																		<a class="blue" href="/menu/beneficiario/imp/{{_id}}">
																			<i class="ace-icon fa fa-print bigger-130"></i>
																		</a>
																		<a class="green" href="/menu/beneficiario/edi/{{_id}}">
																			<i class="ace-icon fa fa-pencil bigger-130"></i>
																		</a>
																		<a class="red" href="/menu/beneficiario/del/{{_id}}">
																			<i class="ace-icon fa fa-trash-o bigger-130"></i>
																		</a>
																	</div>
																</td>
															</tr>
														{{/each}}
													</tbody>
												</table>
											</div>
										</div>
									
							</div>
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content-inner -->
			</div><!-- /.main-content -->

		
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container ace-save-state -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../../../assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="../../../assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		

		<!-- page specific plugin scripts -->
		<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
		

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(document).ready(function() {
			$("#dynamic-table").DataTable({
			"language": {
            "url": "/js/lang/datatable-pt-br.json" // Substitua pelo caminho correto
        },
			"aaSorting": [],
			"aoColumns": [{ "bSortable": false }, null, null, null, null, null, { "bSortable": false }],
			"responsive": true,
			"lengthMenu": [10, 25, 50, 100, 200],
			"lengthChange": true,
			"autoWidth": true,
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			
			select: {
						style: 'multi'
					}
			});
		});
		$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
		</script>
	

	</body>

</html>