<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>RELATÓRIO DE ACOMPANHAMENTO SEMESTRAL</title>
		<style>
			/* Estilos gerais para o cabeçalho e o rodapé */
			#cabecalho {
				margin: 0; /* Margem inicial zero */
				text-align: left; /* Alinhamento à esquerda */
				width: 100%; /* Ocupar toda a largura */
				object-position: left;
			}
			#rodape {
				margin: 0; /* Margem inicial zero */
				object-position: left;
				text-align: left; /* Alinhamento à esquerda */
				width: 100%; /* Ocupar toda a largura */
				
			}

			/* Estilos para o conteúdo da página */
			#conteudo {
				padding-top: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
				padding-bottom: 100px; /* Ajuste o valor conforme necessário para evitar sobreposição com o rodapé */
			}

			/* Estilos específicos para a visualização de impressão */
			@media print {
				#cabecalho {
				position: fixed;
				top: 0;
				padding-top: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
				padding-bottom: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o rodapé */
				}

				#rodape {
				position: fixed;
				bottom: 0;
				padding-top: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o cabeçalho */
				padding-bottom: 50px; /* Ajuste o valor conforme necessário para evitar sobreposição com o rodapé */
				}
			}
		</style>
		
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<header id="cabecalho">
					<img src="/images/gallery/cabecalhoRoute_relsem.png" alt="Descrição da imagem">
				</header>
				<div class="main-content-inner noprint">
					
					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="space-6"></div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="widget-box transparent">
									<div id="conteudo" name="conteudo">
										
										<div class="row">
											<div class="col-xs-12">
												<div style="text-align: left;">
													<label>NOME:</label>&nbsp;{{bene.bene_nome}}<br>
													<label>TERAPIA:</label>&nbsp;{{relsem.relsem_terapia}}<br>
													<label>TERAPEUTA:</label>&nbsp;{{relsem.relsem_Terapeutaid}}&nbsp;-&nbsp;{{relsem.relsem_Conselho}}<br>
												<div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												
													<p>
														{{relsem.relsem_desc}}
													</p>
												
											</div>
										</div>										
										
									</div>
									<footer id="rodape">
										<div class="row" >
											<img src="/images/gallery/rodapeRoute_relsem.png">
										</div><!-- /.Área reservada para Assinaturas -->
									</footer>
								</div>
							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
</html>
