<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>SET Editar</title>
		<script>
		function atualizaData(){
			var dataIso = document.getElementById("b").value+"T00:00:00.000Z";
			var dataFmt = new Date(dataIso);
			console.log(dataFmt.toISOString());
			document.getElementById("a").value = dataFmt;
		}
		function carregaBody(){
			document.getElementById("progsetProgid").value = document.getElementById("progsetProgidEdi").value;
			console.log("progsetProgidEdi");
			document.getElementById("progsetBeneid").value = document.getElementById("progsetBeneidEdi").value;
			console.log("1");
			document.getElementById("progsetProgtipoid").value = document.getElementById("progsetProgtipoidEdi").value;
			console.log("2");
			document.getElementById("progsetPrognivelid").value = document.getElementById("progsetPrognivelidEdi").value;
			console.log("3");
			document.getElementById("progsetNum").value = document.getElementById("progsetNumEdi").value;
			console.log("4");
			document.getElementById("progsetDataprogset").value = document.getElementById("progsetDataprogsetEdi").value;
			console.log("5");
			document.getElementById("progsetDataini").value = document.getElementById("progsetDatainiEdi").value;
			console.log("6");
			document.getElementById("progsetDatafin").value = document.getElementById("progsetDatafinEdi").value;
			console.log("7");
			document.getElementById("progsetDesc").value = document.getElementById("progsetDescEdi").value;
			console.log("8");
			document.getElementById("progsetIntro").value = document.getElementById("progsetIntroEdi").value;
			console.log("9");
			document.getElementById("progsetAcsicao").value = document.getElementById("progsetAcsicaoEdi").value;
			console.log("10");
			document.getElementById("progsetObs").value = document.getElementById("progsetObsEdi").value;
		}
		</script>
	</head>

	<body onload="javascript:controlaNave();carregaBody()" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">SET Editar</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/area/aba/progset/atualizar" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon fa fa-bookmark-o"></i>
												Cabeçalho do SET e Índices
											</h4>
											<div id="divCarrega" name="divCarrega" class="">
												<input id="progsetId" name="progsetId" value="{{progset._id}}" />
												<input type="text" id="progsetProgidEdi" name="progsetProgidEdi" value="{{progset.progset_progid}}"/>
												<input type="text" id="progsetBeneidEdi" name="progsetBeneidEdi" value="{{progset.progset_beneid}}"/>
												
												<input type="text" id="progsetProgtipoidEdi" name="progsetProgtipoidEdi" value="{{progset.progset_progtipoid}}"/>
												<input type="text" id="progsetPrognivelidEdi" name="progsetPrognivelidEdi" value="{{progset.progset_prognivelid}}"/>
												
												<input type="text" id="progsetNumEdi" name="progsetNumEdi" value="{{progset.progset_num}}"/>
												<input type="text" id="progsetDataprogsetEdi" name="progsetDataprogsetEdi" value="{{progset.progset_dataprogset}}"/>
												<input type="text" id="progsetDatainiEdi" name="progsetDatainiEdi" value="{{progset.progset_dataini}}"/>
												<input type="text" id="progsetDatafinEdi" name="progsetDatafinEdi" value="{{progset.progset_datafin}}"/>
												<input type="text" id="progsetDescEdi" name="progsetDescEdi" value="{{progset.progset_desc}}"/>
												<input type="text" id="progsetIntroEdi" name="progsetIntroEdi" value="{{progset.progset_intro}}"/>
												<input type="text" id="progsetAcsicaoEdi" name="progsetAcsicaoEdi" value="{{progset.progset_acsicao}}"/>
												<input type="text" id="progsetObsEdi" name="progsetObsEdi" value="{{progset.progset_obs}}"/>


											</div>
											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													<div class="col-xs-12">	
														<label>Programa</label>
														<div class="input-group">
															<div class="input-group">
																<select name="progsetProgid" id="progsetProgid" class="chosen-select" value="Sem Info" onchange="" >
																		<option value="766f69643132333435366964">-</option>
																		{{#each progs}}
																			<option value="{{_id}}">{{_id}}</option>
																		{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">	
														<label>Beneficiário</label>
														<div class="input-group">
															<div class="input-group">
																<select name="progsetBeneid" id="progsetBeneid" class="chosen-select" value="Sem Info" onchange="" >
																	<option value="766f69643132333435366964">-</option>
																		{{#each benes}}
																			<option value="{{_id}}">{{bene_nome}}</option>
																		{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-4">
														<label>Tipo de Programa</label>
														<div class="input-group">
															<div class="input-group">
																<select name="progsetProgtipo" id="progsetProgtipo" class="chosen-select" onchange="">
																		<option value="766f69643132333435366964">-</option>
																		{{#each progtipos}}
																			<option value="{{_id}}">{{progtipo_nome}}</option>
																		{{/each}}
																</select>
															</div>
														</div>
													</div>
													
													<div class="col-sm-4">
														<label>Nível do Programa</label>
														<div class="input-group">
															<div class="input-group">
																<select name="progsetPrognivel" id="progsetPrognivel" class="chosen-select" onchange="">
																		<option value="766f69643132333435366964">-</option>
																		{{#each prognivels}}
																			<option value="{{_id}}">{{prognivel_nome}}</option>
																		{{/each}}
																</select>
															</div>
														</div>
													</div>
													<div class="col-sm-4">
														<label>Terapeuta Resposável</label>
														<div class="input-group">
															<div class="input-group">
																<select name="progsetTecid" id="progsetTecid" class="chosen-select" onchange="">
																		<option value="766f69643132333435366964">-</option>
																		{{#each usuarios}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<label>Número do SET</label><label style="color: brown;">Ex.: SET 01, SET 09, SET 12 etc</label>
												<div class="input-group">
													<div class="input-group">
														<input type="text" id="progsetNum" name="progsetNum" />
													</div>
												</div>
													
												<div class="space space-8"></div>
												<label for="id-date-picker-1"> Data da criação do SET</label>
												<div class="row">
													<div class="input-group">
														<div class="col-sm-4">
															<input id="progsetDataprogset" name="progsetDataprogset" type="date">
														</div>
													</div>
												</div>

												<div class="space space-8"></div>
												<label for="id-date-picker-1"> Data de inicio do SET</label>
												<div class="row">
													<div class="input-group">
														<div class="col-sm-4">
															<input id="progsetDataini" name="progsetDataini" type="date">
														</div>
													</div>
												</div>

												<div class="space space-8"></div>
												<label for="id-date-picker-1"> Data de acsição / Meta</label>
												<div class="row">
													<div class="input-group">
														<div class="col-sm-4">
															<input id="progsetDatafin" name="progsetDatafin" type="date">
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>	
								</div>
								<div class="col-xs-12">		
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon fa fa-bullseye"></i>
												SET
											</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>	
										
										<div class="widget-body">
											<div class="widget-main">

												<label> Descrição </label>
												<div class="form-group">
													<div class="col-sm-6">
														<textarea type="text" name="progsetDesc" id="progsetDesc" placeholder="" class="form-control" rows="5"></textarea>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-info arrowed arrowed-righ">A</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEsta" id="progsetEsta" type="text"  />
																</div>
															</div>
														</div>
													</div>

													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-warning arrowed arrowed-righ">B</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEstb" id="progsetEstb" type="text"/>
																</div>
															</div>
														</div>
													</div>

													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-pink arrowed arrowed-righ">C</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEstc" id="progsetEstc" type="text"  />
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-info arrowed arrowed-righ">D</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEstd" id="progsetEstd" type="text"  />
																</div>
															</div>
														</div>
													</div>

													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-warning arrowed arrowed-righ">E</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEste" id="progsetEste" type="text"/>
																</div>
															</div>
														</div>
													</div>

													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-pink arrowed arrowed-righ">F</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEstf" id="progsetEstf" type="text"  />
																</div>
															</div>
														</div>
													</div>																								
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-purple arrowed arrowed-righ">G</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEstg" id="progsetEstg" type="text"  />
																</div>
															</div>
														</div>
													</div>

													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-success arrowed arrowed-righ">H</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEsth" id="progsetEsth" type="text"/>
																</div>
															</div>
														</div>
													</div>

													<div class="col-xs-12 col-sm-2">
														<span class="label label-xlg label-light arrowed-in-right">Estímulo</span>
														<span class="label label-sm label-danger arrowed arrowed-righ">&nbsp;I</span>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="progsetEsti" id="progsetEsti" type="text"  />
																</div>
															</div>
														</div>
													</div>		
												</div>
												
												
												<div class="space space-8"></div>
												<label> Observações</label>
												<div class="form-group">
													<div class="col-sm-6">
														<textarea type="text" name="progsetObs" id="progsetObs" placeholder="" class="form-control" rows="5" ></textarea>
													</div>
												</div>

											</div>
										</div>
									
									
									</div>
								</div>
	
								<div >
									<div class="col-md-offprogset-3 col-md-9">
										<button class="btn btn-info"  name="acao" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>
	
										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning"  type="reprogset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
	</body>
</html>
