<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Conta Corrente</title>
	</head>

	<body class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Conta Corrente Terapeutas Edição</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form"  action="/menu/financeiro/corrente/atualizar" method="POST">
								<div class="form-horizontal" role="form">
									<div class="col-sm-12"><!-- Widget Dados Básicos -->
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">Salas</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">

													<label> Data Atendimento</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="correnteAtenddata" placeholder="" class="form-control"  value="{{corrente_atenddata}}"/>
														</div>
													</div>

													<label> Atendimento</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="correnteAtendimentoid" placeholder="" class="form-control"  value="{{corrente_atendimentoid}}"/>
														</div>
													</div>

													<div class="space space-8"></div>
													<label> Terapeuta</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="correnteUsuid" placeholder="" class="form-control"  value="{{corrente_usuid}}"/>
														</div>
													</div>
													
													<div class="space space-8"></div>
													<label> Origem Atendimento</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="correnteAtendorgtipo" placeholder="" class="form-control"  value="{{corrente_atendorgtipo}}"/>
														</div>
													</div>

													<div class="space space-8"></div>
													<label> Terapia</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="correnteAtendterapiaid" placeholder="" class="form-control"  value="{{corrente_atendterapiaid}}"/>
														</div>
													</div>

													<div class="space space-8"></div>
													<label> Valor</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="corrente_atendvalordeb" placeholder="" class="form-control" value="{{corrente_atendvalordeb}}" />
														</div>
													</div>

													<div class="space space-8"></div>
													<label> Pago?</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="correntePg" placeholder="" class="form-control" value="{{corrente_pg}}"/>
														</div>
													</div>

													<div class="hidden">
														<input name="correnteId" value="{{_id}}" />
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>

									<div class="form-actions">
										<div class="col-xs-12" style="text-align: center;" >
										<button class="btn btn-info"  name="acao" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning"  href="/menu/financeiro/corrente/lis">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
