<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Usuários</title>
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Usuários</a>
							</li>
							<li class="active">Lista</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#each error}}
						<div class="alert alert-danger">{{texto}}{{error}}</div>
					{{else}}
					{{/each}}
					<div class="page-content"><!-- Inicio Tabela -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<div>
											<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead><!-- Cabeçalho da tabela -->
													<tr>
														<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Nome Completo: activate to sort column ascending">Nome Completo</th>
														<th class="sorting" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Nome: activate to sort column ascending">Nome</th>
														<th class="sorting" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Função: activate to sort column ascending">Função</th>
														<th class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Função: activate to sort column ascending">Contrato</th>
														<th class="sorting" tabindex="5" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
														<th>Ação</th>
													</tr>
												</thead><!-- Fim Cabeçalho da tabela -->
												<tbody><!-- Corpo da tabela -->
													{{#each usuarios}}
														<tr>
															<td>{{usuario_nomecompleto}}</td>
															<td>{{usuario_nome}}</td>
															{{#each ../funcaos}}
																{{#ifEqual _id ../usuario_funcaoid}}
																	<td>{{funcao_nome}}</td>
																{{/ifEqual}}
															{{/each}}

															<td>{{usuario_contrato}}</td>
															
															<td>{{usuario_status}}</td>

															<td>
																<div class="action-buttons">
																	<a class="green" href="/menu/ferramentas/usuario/edi/{{_id}}">
																		<i class="ace-icon fa fa-pencil bigger-130"></i>
																	</a>
																	<a class="red" href="/menu/ferramentas/usuario/del/{{_id}}">
																		<i class="ace-icon fa fa-trash-o bigger-130"></i>
																	</a>
																</div>
																<div class="hidden-md hidden-lg">
																	
																	</div>
																</div>
															</td>
														</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.Fim Tabela -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
		<!-- page specific plugin scripts -->
		<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
		

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(document).ready(function() {
			$("#dynamic-table").DataTable({
			"language": {
            "url": "/js/lang/datatable-pt-br.json" // Substitua pelo caminho correto
        },
			"aaSorting": [],
			"aoColumns": [null, null, null, null, null, { "bSortable": false }],
			"responsive": true,
			"lengthMenu": [10, 25, 50, 100, 200],
			"lengthChange": true,
			"autoWidth": true,
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			
			select: {
						style: 'multi'
					}
			});
		});
		$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
		</script>
	</body>
</html>
