<!DOCTYPE html>
<html lang="pt-br"><head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<title>Lista de Níveis</title>

		
		<script type="text/javascript">
			function OcultaMsg(){
				document.getElementById("alertMsgFlash").hidden = true;
			}
			function confirmeDeletar(id){
				let confirmado = confirm("Quer mesmo deletar esse Laudo? essa ação é irreversível");
				if(confirmado == true){
					window.location.href=("/menu/area/aba/prognivel/del/"+id);
				}
			}
		</script>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Lista de Níveis</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<!--//MENSAGEM FLASH-->
					{{#compareString flash.sucesso "true"}}
					<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-block alert-success">
						<p>
							<strong>
								<i class="ace-icon fa fa-check"></i>
								{{flash.texto}}
							</strong>
							<button type="button" class="close" onclick="javascript:OcultaMsg()">
								<i class="ace-icon fa fa-times"></i>
							</button>
						</p>
						
					</div>
						<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-success">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
					{{else}}
						{{#compareString flash.sucesso "false"}}
						<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">
							<p>
								<strong>
									<i class="ace-icon fa fa-times"></i>
									{{flash.texto}}
								</strong>
								<button type="button" class="close" onclick="javascript:OcultaMsg()">
									<i class="ace-icon fa fa-times"></i>
								</button>
							</p>
						</div>
							<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
						{{else}}
						{{/compareString}}
					{{/compareString}}
					<!--//MENSAGEM FLASH-->
					<div class="page-content"><!-- .page-content -->
						<div class="row"><!--.row -->
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
											<div class="clearfix" >
												<div class="pull-right tableTools-container">


												</div>
											</div>

											<div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
											</div>
											
											<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
												
												<thead>
													<tr role="row">
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Métodos</th>
														<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Ordem</th>
														<th class="sorting" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Descrição</th>
														<th>
															<div class="action-buttons">
																Ação&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																<a class="blue" title="Adicionar Novo" href="/menu/area/aba/prognivel/prognivelcad">
																	<i class="ace-icon fa fa-plus bigger-130"></i>
																</a>
															</div>
														</th>
													</tr>
													
												</thead>
												
												<tbody>
													{{#each prognivels}}
														<tr role="row" class="odd">

															<th class="center">
																<label class="pos-rel">
																	<input type="checkbox" class="ace" />
																	<span class="lbl"></span>
																</label>
															</th>

															<td>{{prognivel_nome}}</td>
															<td>{{prognivel_ordem}}</td>
															<td>{{prognivel_descricao}}</td>
															<td colspan="2">
																<div class="action-buttons">
																	<a class="green" href="/menu/area/aba/prognivel/edi/{{_id}}">
																		<i class="ace-icon fa fa-pencil bigger-130"></i>
																	</a>
																	<a class="hidden" class="red" name="acaoDel" id="acaoDel" onclick="javascript:confirmeDeletar('{{_id}}');">
																		<i class="ace-icon fa fa-trash-o bigger-130"></i>
																	</a>
																</div>
																
															</td>
												
														</tr>
													{{/each}}
												</tbody>

											</table>


										
										
										
									</div>
								</div>				
							</div>
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content-inner -->
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Soft</span>
							Route
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

		
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container ace-save-state -->

		<!-- basic scripts -->
				<!-- page specific plugin scripts -->
		<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
		

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(document).ready(function() {
			$("#dynamic-table").DataTable({
			"language": { "url": "/js/lang/datatable-pt-br.json" },
			"aaSorting": [],
			"aoColumns": [{ "bSortable": false }, null, null,null, { "bSortable": false }],
			"responsive": true,
			"lengthMenu": [ 100, 200],
			"lengthChange": true,
			"autoWidth": true,
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			
			select: {
						style: 'multi'
					}
			});
		});
		$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
		</script>	

	</body>

</html>