<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Visualizar Diário de Bordo</title>

		<script >
		function atualizaData(){
			var dataIso = document.getElementById("b").value+"T00:00:00.000Z";
			var dataFmt = new Date(dataIso);
			console.log(dataFmt.toISOString());
			document.getElementById("a").value = dataFmt;
		}
		function carregaBody(){
			let dtnsc = new Date(document.getElementById("bordoDataativEdi").value);
			let mes = (dtnsc.getMonth()+1).toString();
			let dia = (dtnsc.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(dtnsc.getFullYear()+"-"+mes+"-"+dia).toString();

			document.getElementById("bordoDataativ").value = fulldate;
			document.getElementById("bordoBeneid").value = document.getElementById("bordoBeneidEdi").value;
			document.getElementById("bordoTerapeutaid").value = document.getElementById("bordoTerapeutaidEdi").value;
			document.getElementById("bordoEscolaid").value = document.getElementById("bordoEscolaidEdi").value;
			document.getElementById("bordoFrequencia").value = document.getElementById("bordofrequenciaEdi").value;
			
			document.getElementById("bordoSeguerotina").value = document.getElementById("bordoSeguerotinaEdi").value;
			document.getElementById("bordoEstereotipas").value = document.getElementById("bordoEstereotipasEdi").value;
			document.getElementById("bordoFoco").value = document.getElementById("bordoFocoEdi").value;
			document.getElementById("bordoAutocuidado").value = document.getElementById("bordoAutocuidadoEdi").value;
			document.getElementById("bardoAliindepende").value = document.getElementById("bardoAliindependeEdi").value;
			document.getElementById("bordoEscolalia").value = document.getElementById("bordoEscolaliaEdi").value;
			document.getElementById("bordoParticipa").value = document.getElementById("bordoParticipaEdi").value;
			document.getElementById("bordoSegue").value = document.getElementById("bordoSegueEdi").value;
			document.getElementById("bordoRepertorio").value = document.getElementById("bordoRepertorioEdi").value;
			document.getElementById("bordoDesorganiza").value = document.getElementById("bordoDesorganizaEdi").value;
			document.getElementById("bordoDesorganizadesc").value = document.getElementById("bordoDesorganizadescEdi").value;
			
			document.getElementById("bordoAutoagressao").value = document.getElementById("bordoAutoagressaoEdi").value;
			document.getElementById("bordoAgrideadulto").value = document.getElementById("bordoAgrideadultoEdi").value;
			document.getElementById("bordoAgridepares").value = document.getElementById("bordoAgrideparesEdi").value;
			document.getElementById("bordoDestruir").value = document.getElementById("bordoDestruirEdi").value;
			document.getElementById("bordoGritos").value = document.getElementById("bordoGritosEdi").value;
			document.getElementById("bordoChoros").value = document.getElementById("bordoChorosEdi").value;
			document.getElementById("bordoBirras").value = document.getElementById("bordoBirrasEdi").value;
			document.getElementById("bordoBirrasdesc").value = document.getElementById("bordoBirrasdescEdi").value;
			
			document.getElementById("bordoMandosadulto").value = document.getElementById("bordoMandosadultoEdi").value;
			document.getElementById("bordoMandospares").value = document.getElementById("bordoMandosparesEdi").value;
			document.getElementById("bordoPergunta").value = document.getElementById("bordoPerguntaEdi").value;
			document.getElementById("bordoResponde").value = document.getElementById("bordoRespondeEdi").value;
			document.getElementById("bordoImita").value = document.getElementById("bordoImitaEdi").value;
			document.getElementById("bordoInteracaoverbal").value = document.getElementById("bordoInteracaoverbalEdi").value;
			document.getElementById("bordoVerbaldesc").value = document.getElementById("bordoVerbaldescEdi").value;
			
			document.getElementById("bordoColab").value = document.getElementById("bordoColabEdi").value;
			document.getElementById("bordoColabtodotempo").value = document.getElementById("bordoColabtodotempoEdi").value;
			document.getElementById("bordoColabmaiortempo").value = document.getElementById("bordoColabmaiortempoEdi").value;
			document.getElementById("bordoColabmetadetempo").value = document.getElementById("bordoColabmetadetempoEdi").value;
			document.getElementById("bordoColabmenosmetadetempo").value = document.getElementById("bordoColabmenosmetadetempoEdi").value;
			document.getElementById("bordoColabnao").value = document.getElementById("bordoColabnaoEdi").value;
			document.getElementById("bordoColabnaodesc").value = document.getElementById("bordoColabnaodescEdi").value;
			
			document.getElementById("bordoAtivsucedido").value = document.getElementById("bordoAtivsucedidoEdi").value;
			document.getElementById("bordoAtivnaosucedido").value = document.getElementById("bordoAtivnaosucedidoEdi").value;
			document.getElementById("bordoAdequadodificil").value = document.getElementById("bordoAdequadodificilEdi").value;
			document.getElementById("bordoAdequadodifacil").value = document.getElementById("bordoAdequadodifacilEdi").value;
			document.getElementById("bordoSemativ").value = document.getElementById("bordoSemativEdi").value;
			document.getElementById("bordoMediacao").value = document.getElementById("bordoMediacaoEdi").value;
			document.getElementById("bordoAdaptacao").value = document.getElementById("bordoAdaptacaoEdi").value;
			document.getElementById("bordoAtivsaladesc").value = document.getElementById("bordoAtivsaladescEdi").value;
			document.getElementById("bordoBrincousolonge").value = document.getElementById("bordoBrincousolongeEdi").value;
			document.getElementById("bordoBrincousoperto").value = document.getElementById("bordoBrincousopertoEdi").value;
			document.getElementById("bordoTentoubrincar").value = document.getElementById("bordoTentoubrincarEdi").value;
			document.getElementById("bordoBrincouparesindep").value = document.getElementById("bordoBrincouparesindepEdi").value;
			document.getElementById("bordoBrincouparesterapeuta").value = document.getElementById("bordoBrincouparesterapeutaEdi").value;
			document.getElementById("bordoNaobrincar").value = document.getElementById("bordoNaobrincarEdi").value;
			document.getElementById("bordoBrincardesc").value = document.getElementById("bordoBrincardescEdi").value;
			document.getElementById("bordoLerso").value = document.getElementById("bordoLersoEdi").value;
			document.getElementById("bordoLerajuda").value = document.getElementById("bordoLerajudaEdi").value;
			document.getElementById("bordoFazsoma").value = document.getElementById("bordoFazsomaEdi").value;
			document.getElementById("bordoFazsomaqtnum").value = document.getElementById("bordoFazsomaqtnumEdi").value;
			document.getElementById("bordoSubtrai").value = document.getElementById("bordoSubtraiEdi").value;
			document.getElementById("bordoSubtraiqtnum").value = document.getElementById("bordoSubtraiqtnumEdi").value;
			document.getElementById("bordoDividir").value = document.getElementById("bordoDividirEdi").value;
			document.getElementById("bordoMultiplicar").value = document.getElementById("bordoMultiplicarEdi").value;
			document.getElementById("bordoEscolardesc").value = document.getElementById("bordoEscolardescEdi").value;
			document.getElementById("bordoForanormal").value = document.getElementById("bordoForanormalEdi").value;
			document.getElementById("bordoHabilnova").value = document.getElementById("bordoHabilnovaEdi").value;
			document.getElementById("bordoIncidente").value = document.getElementById("bordoIncidenteEdi").value;
			document.getElementById("bordoObs").value = document.getElementById("bordoObsEdi").value;
		}
		</script>
	</head>

	<body class="no-skin" onload="javascript:controlaNave();carregaBody();" >


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="espace">
					</div>
					<div class="page-header">
						<h1>
							Visualizar Diário de Bordo
							
						</h1>
						<!-- Dados carregar -->
						<div id="divCarrega" name="divCarrega" class="hidden">
							<input id="bordoTerapeutaidEdi" name="bordoTerapeutaidEdi" value="{{bordo.bordo_terapeutaid}}"/>
							<input id="bordoBeneidEdi" name="bordoBeneidEdi" value="{{bordo.bordo_beneid}}"/>
							<input id="bordoEscolaidEdi" name="bordoEscolaidEdi" value="{{bordo.bordo_escolaid}}"/>
							
							<input id="bordoDatacadEdi" name="bordoDatacadEdi" value="{{bordo.bordo_datacad}}"/>
							<input id="bordofrequenciaEdi" name="bordofrequenciaEdi" value="{{bordo.bordo_frequencia}}"/>
							<input id="bordoSeguerotinaEdi" name="bordoSeguerotinaEdi" value="{{bordo.bordo_seguerotina}}"/>
							<input id="bordoSeguerotinadescEdi" name="bordoSeguerotinadescEdi" value="{{bordo.bordo_seguerotinadesc}}"/>
							<input id="bordoEstereotipasEdi" name="bordoEstereotipasEdi" value="{{bordo.bordo_estereotipas}}"/>
							<input id="bordoEstereotipasdescEdi" name="bordoEstereotipasdescEdi" value="{{bordo.bordo_estereotipasdesc}}"/>
							<input id="bordoFocoEdi" name="bordoFocoEdi" value="{{bordo.bordo_foco}}"/>
							<input id="bordoFocodescEdi" name="bordoFocodescEdi" value="{{bordo.bordo_focodesc}}"/>
							<input id="bordoAutocuidadoEdi" name="bordoAutocuidadoEdi" value="{{bordo.bordo_autocuidado}}"/>
							<input id="bordoAutocuidadodescEdi" name="bordoAutocuidadodescEdi" value="{{bordo.bordo_autocuidadodesc}}"/>
							<input id="bardoAliindependeEdi" name="bardoAliindependeEdi" value="{{bordo.bordo_aliindepende}}"/>
							<input id="bordoEscolaliaEdi" name="bordoEscolaliaEdi" value="{{bordo.bordo_escolalia}}"/>
							<input id="bordoEscolaliadescEdi" name="bordoEscolaliadescEdi" value="{{bordo.bordo_escolaliadesc}}"/>
							<input id="bordoParticipaEdi" name="bordoParticipaEdi" value="{{bordo.bordo_participa}}"/>
							<input id="bordoParticipadescEdi" name="bordoParticipadescEdi" value="{{bordo.bordo_participadesc}}"/>
							<input id="bordoSegueEdi" name="bordoSegueEdi" value="{{bordo.bordo_segue}}"/>
							<input id="bordoSeguedescEdi" name="bordoSeguedescEdi" value="{{bordo.bordo_seguedesc}}"/>
							<input id="bordoRepertorioEdi" name="bordoRepertorioEdi" value="{{bordo.bordo_repertorio}}"/>
							<input id="bordoRepertoriodescEdi" name="bordoRepertoriodescEdi" value="{{bordo.bordo_repertoriodesc}}"/>
							<input id="bordoDesorganizaEdi" name="bordoDesorganizaEdi" value="{{bordo.bordo_desorganiza}}"/>
							<input id="bordoDesorganizadescEdi" name="bordoDesorganizadescEdi" value="{{bordo.bordo_desorganizadesc}}"/>
							<input id="bordoAutoagressaoEdi" name="bordoAutoagressaoEdi" value="{{bordo.bordo_autoagressao}}"/>
							<input id="bordoAutoagressaodescEdi" name="bordoAutoagressaodescEdi" value="{{bordo.bordo_autoagressaodesc}}"/>
							<input id="bordoAgrideadultoEdi" name="bordoAgrideadultoEdi" value="{{bordo.bordo_agrideadulto}}"/>
							<input id="bordoAgrideadultodescEdi" name="bordoAgrideadultodescEdi" value="{{bordo.bordo_agrideadultodesc}}"/>
							<input id="bordoAgrideparesEdi" name="bordoAgrideparesEdi" value="{{bordo.bordo_agridepares}}"/>
							<input id="bordoAgrideparesdescEdi" name="bordoAgrideparesdescEdi" value="{{bordo.bordo_agrideparesdesc}}"/>
							<input id="bordoDestruirEdi" name="bordoDestruirEdi" value="{{bordo.bordo_destruir}}"/>
							<input id="bordoDestruirdescEdi" name="bordoDestruirdescEdi" value="{{bordo.bordo_destruirdesc}}"/>
							<input id="bordoGritosEdi" name="bordoGritosEdi" value="{{bordo.bordo_gritos}}"/>
							<input id="bordoGritosdescEdi" name="bordoGritosdescEdi" value="{{bordo.bordo_gritosdesc}}"/>
							<input id="bordoChorosEdi" name="bordoChorosEdi" value="{{bordo.bordo_choros}}"/>
							<input id="bordoChorosdescEdi" name="bordoChorosdescEdi" value="{{bordo.bordo_chorosdesc}}"/>
							<input id="bordoBirrasEdi" name="bordoBirrasEdi" value="{{bordo.bordo_birras}}"/>
							<input id="bordoBirrasdescEdi" name="bordoBirrasdescEdi" value="{{bordo.bordo_birrasdesc}}"/>
							<input id="bordoMandosadultoEdi" name="bordoMandosadultoEdi" value="{{bordo.bordo_mandosadulto}}"/>
							<input id="bordoMandosparesEdi" name="bordoMandosparesEdi" value="{{bordo.bordo_mandospares}}"/>
							<input id="bordoPerguntaEdi" name="bordoPerguntaEdi" value="{{bordo.bordo_pergunta}}"/>
							<input id="bordoRespondeEdi" name="bordoRespondeEdi" value="{{bordo.bordo_responde}}"/>
							<input id="bordoImitaEdi" name="bordoImitaEdi" value="{{bordo.bordo_imita}}"/>
							<input id="bordoInteracaoverbalEdi" name="bordoInteracaoverbalEdi" value="{{bordo.bordo_interacaoverbal}}"/>
							<input id="bordoVerbaldescEdi" name="bordoVerbaldescEdi" value="{{bordo.bordo_verbaldesc}}"/>
							<input id="bordoColabEdi" name="bordoColabEdi" value="{{bordo.bordo_colab}}"/>
							<input id="bordoColabdescEdi" name="bordoColabdescEdi" value="{{bordo.bordo_colabdesc}}"/>
							<input id="bordoColabtodotempoEdi" name="bordoColabtodotempoEdi" value="{{bordo.bordo_colabtodotempo}}"/>
							<input id="bordoColabtodotempodescEdi" name="bordoColabtodotempodescEdi" value="{{bordo.bordo_colabtodotempodesc}}"/>
							<input id="bordoColabmaiortempoEdi" name="bordoColabmaiortempoEdi" value="{{bordo.bordo_colabmaiortempo}}"/>
							<input id="bordoColabmaiortempodescEdi" name="bordoColabmaiortempodescEdi" value="{{bordo.bordo_colabmaiortempodesc}}"/>
							<input id="bordoColabmetadetempoEdi" name="bordoColabmetadetempoEdi" value="{{bordo.bordo_colabmetadetempo}}"/>
							<input id="bordoColabmetadetempodescEdi" name="bordoColabmetadetempodescEdi" value="{{bordo.bordo_colabmetadetempodesc}}"/>
							<input id="bordoColabmenosmetadetempoEdi" name="bordoColabmenosmetadetempoEdi" value="{{bordo.bordo_colabmenosmetadetempo}}"/>
							<input id="bordoColabmenosmetadetempodescEdi" name="bordoColabmenosmetadetempodescEdi" value="{{bordo.bordo_colabmenosmetadetempodesc}}"/>
							<input id="bordoColabnaoEdi" name="bordoColabnaoEdi" value="{{bordo.bordo_colabnao}}"/>
							<input id="bordoColabnaodescEdi" name="bordoColabnaodescEdi" value="{{bordo.bordo_colabnaodesc}}"/>
							<input id="bordoAtivsucedidoEdi" name="bordoAtivsucedidoEdi" value="{{bordo.bordo_ativsucedido}}"/>
							<input id="bordoAtivnaosucedidoEdi" name="bordoAtivnaosucedidoEdi" value="{{bordo.bordo_ativnaosucedido}}"/>
							<input id="bordoAdequadodificilEdi" name="bordoAdequadodificilEdi" value="{{bordo.bordo_adequadodificil}}"/>
							<input id="bordoAdequadodifacilEdi" name="bordoAdequadodifacilEdi" value="{{bordo.bordo_adequadodifacil}}"/>
							<input id="bordoSemativEdi" name="bordoSemativEdi" value="{{bordo.bordo_semativ}}"/>
							<input id="bordoMediacaoEdi" name="bordoMediacaoEdi" value="{{bordo.bordo_mediacao}}"/>
							<input id="bordoAdaptacaoEdi" name="bordoAdaptacaoEdi" value="{{bordo.bordo_adaptacao}}"/>
							<input id="bordoAtivsaladescEdi" name="bordoAtivsaladescEdi" value="{{bordo.bordo_ativsaladesc}}"/>
							<input id="bordoBrincousolongeEdi" name="bordoBrincousolongeEdi" value="{{bordo.bordo_brincousolonge}}"/>
							<input id="bordoBrincousopertoEdi" name="bordoBrincousopertoEdi" value="{{bordo.bordo_brincousoperto}}"/>
							<input id="bordoTentoubrincarEdi" name="bordoTentoubrincarEdi" value="{{bordo.bordo_tentoubrincar}}"/>
							<input id="bordoBrincouparesindepEdi" name="bordoBrincouparesindepEdi" value="{{bordo.bordo_brincouparesindep}}"/>
							<input id="bordoBrincouparesterapeutaEdi" name="bordoBrincouparesterapeutaEdi" value="{{bordo.bordo_brincouparesterapeuta}}"/>
							<input id="bordoNaobrincarEdi" name="bordoNaobrincarEdi" value="{{bordo.bordo_naobrincar}}"/>
							<input id="bordoBrincardescEdi" name="bordoBrincardescEdi" value="{{bordo.bordo_brincardesc}}"/>
							<input id="bordoLersoEdi" name="bordoLersoEdi" value="{{bordo.bordo_lerso}}"/>
							<input id="bordoLerajudaEdi" name="bordoLerajudaEdi" value="{{bordo.bordo_lerajuda}}"/>
							<input id="bordoFazsomaEdi" name="bordoFazsomaEdi" value="{{bordo.bordo_fazsoma}}"/>
							<input id="bordoFazsomaqtnumEdi" name="bordoFazsomaqtnumEdi" value="{{bordo.bordo_fazsomaqtnum}}"/>
							<input id="bordoSubtraiEdi" name="bordoSubtraiEdi" value="{{bordo.bordo_subtrai}}"/>
							<input id="bordoSubtraiqtnumEdi" name="bordoSubtraiqtnumEdi" value="{{bordo.bordo_subtraiqtnum}}"/>
							<input id="bordoDividirEdi" name="bordoDividirEdi" value="{{bordo.bordo_dividir}}"/>
							<input id="bordoMultiplicarEdi" name="bordoMultiplicarEdi" value="{{bordo.bordo_multiplicar}}"/>
							<input id="bordoEscolardescEdi" name="bordoEscolardescEdi" value="{{bordo.bordo_escolardesc}}"/>
							<input id="bordoForanormalEdi" name="bordoForanormalEdi" value="{{bordo.bordo_foranormal}}"/>
							<input id="bordoHabilnovaEdi" name="bordoHabilnovaEdi" value="{{bordo.bordo_habilnova}}"/>
							<input id="bordoIncidenteEdi" name="bordoIncidenteEdi" value="{{bordo.bordo_incidente}}"/>
							<input id="bordoObsEdi" name="bordoObsEdi" value="{{bordo.bordo_obs}}"/>
							<input id="bordoSeloEdi" name="bordoSeloEdi" value="{{bordo.bordo_selo}}"/>
							<input id="bordoUsuidcadEdi" name="bordoUsuidcadEdi" value="{{bordo.bordo_usuidcad}}"/>
							<input id="bordoUsuidediEdi" name="bordoUsuidediEdi" value="{{bordo.bordo_usuidedi}}"/>
						</div>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/area/bordo/atualizar" method="POST">
								<input class="hidden" id="bordoId" name="bordoId" value="{{bordo._id}}" />
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box" id="cabecalho" name="cabecalho">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon fa fa-bookmark-o"></i>
												Cabeçalho do Diário de Bordo
											</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">

												
												<label> Terapeuta</label>
												<div class="form-group">
													<div class="col-sm-6">
														<select name="bordoTerapeutaid" id="bordoTerapeutaid" class="chosen-select" >
															<option value="-">-</option>
															{{#each terapeutas}}
															<option value="{{_id}}">{{usuario_nome}}</option>
															{{/each}}
														</select>
													</div>
												</div>


												<label> Beneficiário</label>
												<div class="form-group">
													<div class="col-sm-6">
														<select name="bordoBeneid" id="bordoBeneid" class="chosen-select"  >
															<option value="-">-</option>
															{{#each benes}}
																<option value="{{_id}}">{{bene_nome}}</option>
															{{/each}}
														</select>
													</div>
												</div>

												<label> Escola</label>
												<div class="form-group">
													<div class="col-sm-6">
														<select name="bordoEscolaid" id="bordoEscolaid" class="chosen-select"  >
															<option value="-">-</option>
															{{#each escolas}}
																<option value="{{_id}}">{{escola_nome}}</option>
															{{/each}}
														</select>
													</div>
												</div>


												<div class="row">
													
													<div class="col-xs-12 col-sm-4">
														<label for="id-date-picker-1">Data atividade</label><!--Data atividade-->
														<div class="row">
															<div class="input-group">
																<div class="col-sm-4">
																	<input id="bordoDataativ" name="bordoDataativ" type="date">
																	<input class="hidden" id="bordoDataativEdi" name="bordoDataativEdi" value="{{bordo.bordo_dataativ}}">
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-2">
														<label> Frequência</label>
														<div class="row">
															<div class="col-sm-5">
																<div class="input-group">
																	<select name="bordoFrequencia" id="bordoFrequencia" class="chosen-select" onchange="javascript:mudaSeausente()" >
																		<option value="-">-</option>
																		<option value="Ausente">Ausente</option>
																		<option value="Presente">Presente</option>
																		<option value="Presente chegou com atraso">Presente chegou com atraso</option>
																		<option value="Presente saiu mais cedo">Presente saiu mais cedo</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
															
												</div>

												


											</div>
										</div>
									</div>	
									<div class="widget-box" id="parte01" name="parte01">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon fa fa-bookmark-o"></i>
												Parte 01
											</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">											
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Rotina do dia</th>
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Pontuação</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">1. Segue rotina</td>
																	<td name="Pontua">
																		<select name="bordoSeguerotina" id="bordoSeguerotina" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">2. Apresentou extereotipias</td>
																	<td name="Pontua">
																		<select name="bordoEstereotipas" id="bordoEstereotipas" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>																		
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">3. Foco atencional</td>
																	<td name="Pontua">
																		<select name="bordoFoco" id="bordoFoco" class="chosen-select" >
																					<option value="-">-</option>
																					<option value="00">00</option>
																					<option value="01">01</option>
																					<option value="02">02</option>
																					<option value="03">03</option>
																					<option value="04">04</option>
																					<option value="05">05</option>
																					<option value="06">06</option>
																					<option value="07">07</option>
																					<option value="08">08</option>
																					<option value="09">09</option>
																					<option value="10">10</option>
																				</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">4. Necessita de auto cuidado</td>
																	<td name="Pontua">
																		<select name="bordoAutocuidado" id="bordoAutocuidado" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">5. Se alimenta com independência</td>
																	<td name="Pontua">
																		<select name="bardoAliindepende" id="bardoAliindepende" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>																
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">6. Ecolalia</td>
																	<td name="Pontua">
																		<select name="bordoEscolalia" id="bordoEscolalia" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">7. Participação no grupo</td>
																	<td name="Pontua">
																		<select name="bordoParticipa" id="bordoParticipa" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">8. Segue instruções do professor</td>
																	<td name="Pontua">
																		<select name="bordoSegue" id="bordoSegue" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">9. Repertório de comunicação social</td>
																	<td name="Pontua">
																		<select name="bordoRepertorio" id="bordoRepertorio" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																	<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;"> 10. Se desorganiza ao trocar de atividade ou de ambiente</td>
																	<td name="Pontua">
																		<select name="bordoDesorganiza" id="bordoDesorganiza" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="00">00</option>
																			<option value="01">01</option>
																			<option value="02">02</option>
																			<option value="03">03</option>
																			<option value="04">04</option>
																			<option value="05">05</option>
																			<option value="06">06</option>
																			<option value="07">07</option>
																			<option value="08">08</option>
																			<option value="09">09</option>
																			<option value="10">10</option>
																		</select>
																	</td>
																</tr>																
															</tbody>
														</table>
													
													</div>
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Anotações</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" >
																		<div class="col-sm-12" >
																			<textarea type="text" data-placeholder="-" name="bordoDesorganizadesc" id="bordoDesorganizadesc" placeholder="-" class="form-control" rows="2"  ></textarea>
																		</div>
																	</td>
																	
																</tr>
																			
																
															</tbody>
														</table>
													
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="widget-box" id="parte02" name="parte02">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon fa fa-bookmark-o"></i>
												Parte 02
											</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">											
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Problemas de comportamento</th>
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Pontuação</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">1. Autoagressão (bater em si mesmo)</td>
																	<td name="Pontua">
																		<select name="bordoAutoagressao" id="bordoAutoagressao" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">2. Agride adultos</td>
																	<td name="Pontua">
																		<select name="bordoAgrideadulto" id="bordoAgrideadulto" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>																		
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">3. Agride pares</td>
																	<td name="Pontua">
																		<select name="bordoAgridepares" id="bordoAgridepares" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">4. Destruição de objetos</td>
																	<td name="Pontua">
																		<select name="bordoDestruir" id="bordoDestruir" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">5. Gritos</td>
																	<td name="Pontua">
																		<select name="bordoGritos" id="bordoGritos" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>																
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">6. Choros</td>
																	<td name="Pontua">
																		<select name="bordoChoros" id="bordoChoros" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">7. Birras</td>
																	<td name="Pontua">
																		<select name="bordoBirras" id="bordoBirras" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>
																
																															
															</tbody>
														</table>
													
													</div>
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Anotações</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" >
																		<div class="col-sm-12" >
																			<textarea type="text" data-placeholder="-" name="bordoBirrasdesc" id="bordoBirrasdesc" placeholder="-" class="form-control" rows="2"  ></textarea>
																		</div>
																	</td>
																	
																</tr>
																			
																
															</tbody>
														</table>
													
													</div>
												</div>					

												<hr>
										
												<div class="row">											
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Comportamento verbal</th>
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Sinalização</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário emitiu mandos para os adultos?</td>
																	<td name="Pontua">
																		<select name="bordoMandosadulto" id="bordoMandosadulto" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="I">I</option>
																			<option value="A">A</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário emitiu mandos para os pares?</td>
																	<td name="Pontua">
																		<select name="bordoMandospares" id="bordoMandospares" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="I">I</option>
																			<option value="A">A</option>
																		</select>
																	</td>
																</tr>																		
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário fez perguntas?</td>
																	<td name="Pontua">
																		<select name="bordoPergunta" id="bordoPergunta" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="I">I</option>
																			<option value="A">A</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário respondeu perguntas?</td>
																	<td name="Pontua">
																		<select name="bordoResponde" id="bordoResponde" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="I">I</option>
																			<option value="A">A</option>
																		</select>
																	</td>
																</tr>																	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário imitou os colegas?</td>
																	<td name="Pontua">
																		<select name="bordoImita" id="bordoImita" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="I">I</option>
																			<option value="A">A</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário iniciou interações verbais?</td>
																	<td name="Pontua">
																		<select name="bordoInteracaoverbal" id="bordoInteracaoverbal" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="I">I</option>
																			<option value="A">A</option>
																		</select>
																	</td>
																</tr>			
																
															</tbody>
														</table>
													
													</div>
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Anotações</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" >
																		<div class="col-sm-12">
																			<textarea type="text" data-placeholder="-" name="bordoVerbaldesc" id="bordoVerbaldesc" placeholder="-" class="form-control" rows="2" ></textarea>
																		</div>
																	</td>
																	
																</tr>
																			
																
															</tbody>
														</table>
													
													</div>
												</div>
												<hr>
												
												<div class="row">											
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Execução das atividades</th>
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Pontuação</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">1. Colaboração para execução das atividades</td>
																	<td name="Pontua">
																		<select name="bordoColab" id="bordoColab" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">2. O Beneficiário foi colaborativo todo o tempo?</td>
																	<td name="Pontua">
																		<select name="bordoColabtodotempo" id="bordoColabtodotempo" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>																		
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">3. O Beneficiário foi colaborativo maior parte do tempo?</td>
																	<td name="Pontua">
																		<select name="bordoColabmaiortempo" id="bordoColabmaiortempo" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">4. O Beneficiário foi colaborativo metade do tempo?</td>
																	<td name="Pontua">
																		<select name="bordoColabmetadetempo" id="bordoColabmetadetempo" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">5. O Beneficiário foi colaborativo menos da metade do tempo?</td>
																	<td name="Pontua">
																		<select name="bordoColabmenosmetadetempo" id="bordoColabmenosmetadetempo" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>																
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">6. O Beneficiário não colaborou em nenhum momento?</td>
																	<td name="Pontua">
																		<select name="bordoColabnao" id="bordoColabnao" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																		</select>
																	</td>
																</tr>	
																															
															</tbody>
														</table>
													
													</div>
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Anotações</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" >
																		<div class="col-sm-12" >
																			<textarea type="text" data-placeholder="-" name="bordoColabnaodesc" id="bordoColabnaodesc" placeholder="-" class="form-control" rows="2"  ></textarea>
																		</div>
																	</td>
																	
																</tr>
																			
																
															</tbody>
														</table>
													
													</div>
												</div>
												
												<hr>
												
												<div class="row">											
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th  tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Atividades realizadas</th>
																	<th  tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Sinalização</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Mesmas atividades que a turma e foi bem sucedida.</td>
																	<td name="Pontua">
																		<select name="bordoAtivsucedido" id="bordoAtivsucedido" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Mesma atividade que a turma e não conseguiu realizar.</td>
																	<td name="Pontua">
																		<select name="bordoAtivnaosucedido" id="bordoAtivnaosucedido" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																			
																		</select>
																	</td>
																</tr>																		
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">A professora passou atividade adaptada, mas era muito difícil.</td>
																	<td name="Pontua">
																		<select name="bordoAdequadodificil" id="bordoAdequadodificil" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">A professora passou atividade adaptada, mas era muito fácil.</td>
																	<td name="Pontua">
																		<select name="bordoAdequadodifacil" id="bordoAdequadodifacil" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>																	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">A professora não passou nenhuma atividade para o beneficiário.</td>
																	<td name="Pontua">
																		<select name="bordoSemativ" id="bordoSemativ" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Com mediação da terapeuta para realizar a atividade.</td>
																	<td name="Pontua">
																		<select name="bordoMediacao" id="bordoMediacao" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>			
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Com adaptação de material da terapeuta para realizar.</td>
																	<td name="Pontua">
																		<select name="bordoAdaptacao" id="bordoAdaptacao" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>																	
																																
															</tbody>
														</table>
													
													</div>
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Anotações</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" >
																		<div class="col-sm-12">
																			<textarea type="text" data-placeholder="-" name="bordoAtivsaladesc" id="bordoAtivsaladesc" placeholder="-" class="form-control" rows="2" ></textarea>
																		</div>
																	</td>
																	
																</tr>
																			
																
															</tbody>
														</table>
													
													</div>
												</div>
												<hr>
												
												<div class="row">											
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Recreio ou brincar livre</th>
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Pontuação</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Brincou sozinho e longe dos pares.</td>
																	<td name="Pontua">
																		<select name="bordoBrincousolonge" id="bordoBrincousolonge" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Brincou sozinho, mas perto dos pares.</td>
																	<td name="Pontua">
																		<select name="bordoBrincousoperto" id="bordoBrincousoperto" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>																		
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Tentou brincar com os pares.</td>
																	<td name="Pontua">
																		<select name="bordoTentoubrincar" id="bordoTentoubrincar" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>	
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Brincou com os pares de forma independente.</td>
																	<td name="Pontua">
																		<select name="bordoBrincouparesindep" id="bordoBrincouparesindep" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Iniciou brincadeira com ajuda do terapeuta.</td>
																	<td name="Pontua">
																		<select name="bordoBrincouparesterapeuta" id="bordoBrincouparesterapeuta" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>																
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Não quer brincar.</td>
																	<td name="Pontua">
																		<select name="bordoNaobrincar" id="bordoNaobrincar" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>	
																															
															</tbody>
														</table>
													
													</div>
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Anotações</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" >
																		<div class="col-sm-12" >
																			<textarea type="text" data-placeholder="-" name="bordoBrincardesc" id="bordoBrincardesc" placeholder="-" class="form-control" rows="2"  ></textarea>
																		</div>
																	</td>
																	
																</tr>
																			
																
															</tbody>
														</table>
													
													</div>
												</div>
												<hr>
												
												<div class="row">											
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Atividades escolares</th>
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Pontuação</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário sonsegue ler texto sozinho?</td>
																	<td name="Pontua">
																		<select name="bordoLerso" id="bordoLerso" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário precisa de ajuda na leitura?</td>
																	<td name="Pontua">
																		<select name="bordoLerajuda" id="bordoLerajuda" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário compreende a leitura?</td>
																	<td name="Pontua">
																		<select name="bordoLercompreende" id="bordoLercompreende" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>																		
															
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário consegue fazer contas de somar?</td>
																	<td name="Pontua">
																		<select name="bordoFazsoma" id="bordoFazsoma" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Quantos números?</td>
																	<td name="Pontua">
																		<input type="text" name="bordoFazsomaqtnum" id="bordoFazsomaqtnum" class="form-control" />
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário consegue fazer conta de subtração?</td>
																	<td name="Pontua">
																		<select name="bordoSubtrai" id="bordoSubtrai" class="chosen-select" >
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">Quantos números?</td>
																	<td name="Pontua">
																		<input type="text" name="bordoSubtraiqtnum" id="bordoSubtraiqtnum" class="form-control" />
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário consegue fazer conta de dividir?</td>
																	<td name="Pontua">
																		<select name="bordoDividir" id="bordoDividir" class="chosen-select" placeholder="Escolha...">
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" style="width: 400px;">O beneficiário consegue fazer conta de multiplicar?</td>
																	<td name="Pontua">
																		<select name="bordoMultiplicar" id="bordoMultiplicar" class="chosen-select" placeholder="Escolha...">
																			<option value="-">-</option>
																			<option value="01">Sim</option>
																			<option value="02">Não</option>
																		</select>
																	</td>
																</tr>
																															
																	
																															
															</tbody>
														</table>
													
													</div>
													<div class="col-xs-12 col-sm-6">
														<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
															<thead>
																<tr role="row">
																	<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1">Anotações</th>
																</tr>
															</thead>
															<tbody>
																<tr role="row" class="odd">
																	<td name="Desc" rowspan="1" >
																		<div class="col-sm-12">
																			<textarea type="text" name="bordoEscolardesc" id="bordoEscolardesc" style="font-size: 12px" placeholder="-" class="form-control" rows="2"></textarea>
																		</div>
																	</td>
																	
																</tr>
																			
																
															</tbody>
														</table>
													
													</div>
												</div>
												<hr>
											

												


											</div>
										</div>
									</div>										
									<div class="widget-box" id="parte03" name="parte03">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon fa fa-bookmark-o"></i>
												Parte 03
											</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">

											<div class="row">
													<div class="col-sm-12">
														<div class="col-sm-12">
															<div class="row">
																<label>O beneficiário apresentou algum comportamento incomum ou atípico (positivo ou negativo)? Descreva.</label>
															</div>
															<div class="row">
																<textarea type="text" data-placeholder="-" name="bordoForanormal" id="bordoForanormal" style="font-size: 12px" placeholder="-" class="form-control" ></textarea>
															</div>
														</div>
														<div class="col-xs-12">
															<div class="row">
																<label>O beneficiário demonstrou alguma habilidade nova? Quais? Descreva.</label>
															</div>
															<div class="row" >
																<textarea type="text" data-placeholder="-" name="bordoHabilnova" id="bordoHabilnova" style="font-size: 12px" placeholder="-" class="form-control"></textarea>
															</div>
														</div>
														<div class="col-xs-12">
															<div class="row">
																<label>Ocorreu ou aconteceu algum incidente (machucados, brigas, dores, etc.) que precisou ser relatado aos pais? Especifique.</label>
															</div>
															<div class="row">
																<textarea type="text" data-placeholder="-" name="bordoIncidente" id="bordoIncidente" style="font-size: 12px" placeholder="-" class="form-control" ></textarea>
															</div>
														</div>									
														
													</div>
												</div>

												


											</div>
										</div>
									</div>
									<div class="widget-box" id="obser" name="parte03">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon fa fa-info-circle big"></i>
												Mais observações
											</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">

											<div class="row">
													<div class="col-sm-12">
														<div class="col-xs-12" >
															<div class="row">
																<textarea type="text"name="bordoObs" id="bordoObs" style="font-size: 12px" data-placeholder="-" placeholder="-" class="form-control" ></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="widget-box" id="final" name="final">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="ace-icon green fa fa-check"></i>
												Finalização
											</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="fullscreen" class="orange2">
													<i class="ace-icon fa fa-expand"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">

												<div class="form-actions">
													<div class="col-xs-12" style="text-align: center;" >

														
														&nbsp; &nbsp; &nbsp;
														<button class="btn btn-warning"  type="reset">
															<i class="ace-icon fa fa-undo bigger-110"></i>
															voltar
														</button>
													</div>
												</div>

												


											</div>
										</div>
									</div>	
								</div>
								
								
									
								
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
