<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Controle Rotina Visual Edição</title>
		<script>
		
		function atualizaData(){
			var dataIso = document.getElementById("b").value+"T00:00:00.000Z";
			var dataFmt = new Date(dataIso);
			console.log(dataFmt.toISOString());
			document.getElementById("a").value = dataFmt;
		}
		function carregaBody(){
			document.getElementById("visualBeneid").value = document.getElementById("visualBeneidEdi").value;
			document.getElementById("visualTerapeutaid").value = document.getElementById("visualTerapeutaidEdi").value;
			document.getElementById("visualEscolaid").value = document.getElementById("visualEscolaidEdi").value;
			
			//Quando quero calcular a idade do beneficiário
			let dtnsc = new Date(document.getElementById("visualDatanascEdi").value);
			let mes = (dtnsc.getMonth()+1).toString();
			let dia = (dtnsc.getUTCDate()).toString();
			if (mes.length == 1){
				mes = "0"+mes;
			}
			if (dia.length == 1){
				dia = "0"+dia;
			}
			let fulldate=(dtnsc.getFullYear()+"-"+mes+"-"+dia).toString();
			
			document.getElementById("visualTerapeutaid").value = document.getElementById("visualTerapeutaidEdi").value;
			document.getElementById("visualBeneid").value = document.getElementById("visualBeneidEdi").value;
			document.getElementById("visualData").value = document.getElementById("visualDataEdi").value;
			document.getElementById("visualTipo").value = document.getElementById("visualTipoEdi").value;
			document.getElementById("visualDatacad").value = document.getElementById("visualDatacadEdi").value;
			document.getElementById("visualUsuidcad").value = document.getElementById("visualUsuidcadEdi").value;
			document.getElementById("visualDataedi").value = document.getElementById("visualDataediEdi").value;
			document.getElementById("visualUsuidedi").value = document.getElementById("visualUsuidediEdi").value;

		}
		</script>
	</head>

	<body onload="javascript:controlaNave();carregaBody();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Controle Rotina Visual</a>
							</li>

							<li class="active">Edição</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form"  action="/menu/area/aba/visual/atualizar" method="POST">
								<input class="hidden" id="id" name="id" value="{{visual._id}}" />
								<div class="form-horizontal" role="form">
									<div class="col-sm-12"><!-- Widget Dados Básicos -->
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">
													<i class="ace-icon fa fa-bookmark-o"></i>
													PECS
												</h4>
												<div id="divCarrega" name="divCarrega" class="hidden">
													<input id="visualTerapeutaidEdi" name="visualTerapeutaidEdi" value="{{visual.visual_terapeutaid}}"/>
													<input id="visualBeneidEdi" name="visualBeneidEdi" value="{{visual.visual_beneid}}"/>
													<input id="visualDataEdi" name="visualDataEdi" value="{{visual.visual_data}}"/>
													<input id="visualTipoEdi" name="visualTipoEdi" value="{{visual.visual_tipo}}"/>
													<input id="visualDatacadEdi" name="visualDatacadEdi" value="{{visual.visual_datacad}}"/>
													<input id="visualUsuidcadEdi" name="visualUsuidcadEdi" value="{{visual.visual_usuid}}"/>
													<input id="visualDataediEdi" name="visualDataediEdi" value="{{visual.visual_dataedi}}"/>
													<input id="visualUsuidediEdi" name="visualUsuidediEdi" value="{{visual.visual_usuidedi}}"/>
												</div>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="fullscreen" class="orange2">
														<i class="ace-icon fa fa-expand"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">
													<div class="row">
														<div class="col-sm-3">
															<label for="id-date-picker-1"> Data </label>
															<div class="row">
																<div class="input-group">
																	<div class="col-sm-4">
																		<input id="visualData" name="visualData" type="date"  value="{{visual.visual_data}}">
																	</div>
																</div>
															</div>
														</div>
														
																												

														<div class="col-sm-6">
															<label> Terapeuta</label>
															<div class="form-group">
																<div class="col-sm-6">
																	<select name="visualTerapeutaid" id="visualTerapeutaid" class="chosen-select"  >
																		<option value="-">-</option>
																		{{#each terapeutas}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-sm-6">
															<label> Beneficiário</label>
															<div class="form-group">
																<div class="col-sm-4">
																	<select name="visualBeneid" id="visualBeneid" class="chosen-select" >
																		<option value="-">-</option>
																		{{#each benes}}
																			<option value="{{_id}}">{{bene_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>
														
														

														<div class="col-sm-12">
															<label> Observação</label>
															<div class="form-group">
																<div class="col-sm-12">
																<input name="visualTipo" id="visualTipo" placeholder="" class="form-control" rows="2"  data-iconlibrary="fa" value="{{visual.visual_tipo}}">
																</div>
															</div>
														</div>

														
													</div>

													

												</div>
											</div>
										</div>	
										
													


								

									</div>
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="row">
									<div clas="col-xs-12">
										
										<div class="form-actions">
											<div class="col-xs-12" style="text-align: center;" >

												<button class="btn btn-info" name="acao" type="submit">
													<i class="ace-icon fa fa-check bigger-110"></i>
													Salvar
												</button>
												&nbsp; &nbsp; &nbsp;
												<button class="btn btn-warning" onclick="menu/area/aba/visual/lis">
													<i class="ace-icon fa fa-undo bigger-110"></i>
													Voltar
												</button>
											</div>
										</div>
										
									</div>
								</div>
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
