<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Subcategorias</title>
		<script type="text/javascript">
			function carregabody(){
				document.getElementById("subcategoria_categoriaid").value = document.getElementById("categoriaIdEdi").value
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregabody()">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Debitcategsub Editar</a>
							</li>
							<li class="active">Debitcategsub Editar</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form"  action="/menu/financeiro/despesa/subcategoria/atualizar" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Subcategoria</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<label> Categoria</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select name="subcategoria_categoriaid" id="subcategoria_categoriaid" class="chosen-select" data-placeholder="Escolha...">
															{{#each categorias}}
																<option value="{{_id}}">{{debitcateg_nome}}</option>
															{{/each}}
														</select>
													</div>
												</div>
												<label> Nome da Debitcategsub</label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="subcategoriaNome" id="subcategoriaNome" class="form-control" value="{{subcategoria.debitsubcateg_nome}}" />
													</div>
												</div>
											
												<div class="space space-8"></div>
											
												<label> Descrição</label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="subcategoriaDescricao"  id="subcategoriaDescricao" class="form-control" value="{{subcategoria.debitsubcateg_descricao}}" />
													</div>
												</div>

												<label> Código Reduzido </label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="subcategoriaCodigorReduzido" id="subcategoriaCodigoReduzido" class="form-control" value="{{subcategoria.debitsubcateg_codigoreduzido}}"/>
													</div>
												</div>
												<label> Plano Conta </label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="subcategoriaPlanoconta" id="subcategoriaPlanoconta" class="form-control" value="{{subcategoria.debitsubcateg_planoconta}}"/>
													</div>
												</div>
											
												<div class="hidden">
													<input id="subcategoriaId" name="subcategoriaId" value="{{subcategoria._id}}" />
													<input id="categoriaIdEdi" name="categoriaIdEdi" value="{{subcategoria.debitsubcateg_debitcategid}}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info"  name="acao" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>
										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning"  href="/menu/financeiro/despesa/debitsubcateg/lis"/>
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
	</body>
</html>
