<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Extras</title>
	
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state " id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Cadastro de Avisos</li>
						</ul><!-- /.breadcrumb -->
					</div>
				
						<div class="col-xs-12">
							<form class="form-horizontal" role="form" action="/menu/dash/add" method="POST">
								<div class="row">
									<div class="col-sm-6">
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">Aviso</h4>
												<div class="hidden">
													<input id="nextNum" name="nextNum" type="number"  value="{{extra.extra_num}}" />
												</div>
												<span class="widget-toolbar">
													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>
													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>
												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">
													
													<label>Usuário:</label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" id="avisoUsuid" name="avisoUsuid" class="form-control"  readonly="true" value="Usuário Atual"/>
														</div>
													</div>
										
															
													<div class="col-sm-2">
														<div class="row">
															<label for="id-date-picker-1">Data Aviso:</label>
															<div class="row">
																<div class="col-sm-4">
																	<div class="input-group">
																		<input name="avisoAvisodata" id="avisoAvisodata" type="date" onchange="javascript:atualizaData()" />
																	</div>
																</div>
															</div>
														</div>
													</div>												
													<div class="col-sm-2">
														<div class="row">
															<label> <span class="label label-xs label-danger arrowed-in-right arrowed">Expira?</span></label><!--Ok-->
														</div>
														<div class="row">
															<div class="input-group">
																<div class="input-group">
																	<select name="avisoExpira" id="avisoExpira" class="chosen-select"  value="-">
																			<option value="-">-</option>
																			<option value="Sim">Sim</option>
																			<option value="Não">Não</option>
																	</select>
																</div>
															</div>
														</div>
													</div>													
													<div class="col-sm-2">
														<div class="row">
															<label for="id-date-picker-1">Data Limite:</label>
															<div class="row">
																<div class="col-sm-4">
																	<div class="input-group">
																		<input name="avisoExpiradata" id="avisoExpiradata" type="date" onchange="javascript:atualizaData()" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6">
															<label>Tipo Aviso:</label>
															<div class="form-group">
																<div class="col-sm-9">
																	<select id="avisoTipo" name="avisoTipo" class="chosen-select" data-placeholder="Escolhaa a opção..." onchange="javascript:controlaCategoria()">
																		<option value="-">-</option>
																		<option value="Todos">Todos</option>
																		<option value="Administrativo">Administrativo</option>
																		<option value="Supervisores">Supervisores</option>
																		<option value="Terapeutas">Terapeutas</option>
																		<option value="Recepcao">Recepção</option>
																		<option value="Pessoal">Pessoal</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6">
															<label>De:</label>
															<div class="form-group">
																<div class="col-sm-9">
																	<select id="avisoUsuidorigem" name="avisoUsuidorigem" class="chosen-select" data-placeholder="Escolhaa a opção..." onchange="javascript:controlaCategoria()">
																		<option value="766f69643132333435366964">-</option>
																		{{#each usuarios}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6">
															<label>Para:</label>
															<div class="form-group">
																<div class="col-sm-9">
																	<select id="avisoUsuiddestino" name="avisoUsuiddestino" class="chosen-select" data-placeholder="Escolhaa a opção..." onchange="javascript:controlaCategoria()">
																		<option value="766f69643132333435366964">-</option>
																		{{#each usuarios}}
																			<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																	</select>
																</div>
															</div>
														</div>
													</div>
															
													<label>Grau</label>
													<div class="form-group">
														<div class="col-sm-9">
															<select id="avisoGrau" name="avisoGrau" class="chosen-select" data-placeholder="Escolha a opção..." onload="javascript:ajustaOption()">
																<option id="traco" value="-">-</option>
																<option id="Baixo" value="Baixo">Baixo</option>
																<option id="Normal" value="Normal">Normal</option>
																<option id="Moderado" value="Moderado">Moderado</option>
																<option id="Alto" value="Alto">Alto</option>
																<option id="Urgente" value="Urgente">Urgente</option>
															</select>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<label>Descrição:</label>
															<div class="form-group">
																<div class="col-sm-12">
																	<textarea name="avisoDesc" id="avisoDesc" style="font-size: 12px" class="form-control" ></textarea>
																</div>
															</div>	
														</div>
													</div>
													<div class="row">
														<div class="col-sm-3">
															<div class="row">
																<label> <span class="label label-xs label-warning arrowed-in-right arrowed">Lido?</span></label><!--Ok-->
															</div>
															<div class="row">
																<div class="input-group">
																	<div class="input-group">
																		<select name="avisoVisto" id="avisoVisto" class="chosen-select"  value="-">
																				<option value="-">-</option>
																				<option value="Sim">Sim</option>
																				<option value="Não">Não</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
		<!-- Script do editor de texto -->
	</body>
</html>
