<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Terapias</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Terapias Editar</a>
							</li>

							<li class="active">Terapias Editar</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12"><!-- PAGE CONTENT BEGINS -->
							
						<form class="form-horizontal" role="form"  action="/menu/ferramentas/terapia/atualizar" method="POST">
								
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Dados Básicos</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>

										<div class="widget-body">
											<div class="widget-main">

												<label > Terapia </label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="terapiaNome" placeholder="" class="form-control" value="{{terapia.terapia_nome}}" />
													</div>
												</div>



												<label > Terapia Nome CID / Convênio</label>
												<div class="form-group">
													<div class="col-sm-6">
														<select name="terapiaNomeCid" id="terapiaNomeCid" class="chosen-select" value="{{terapia.terapia_nomecid}}" >
															<option value="{{terapia.terapia_nomecid}}">{{terapia.terapia_nomecid}}</option>
															<option value="ARTETERAPIA">ARTETERAPIA</option>
															<option value="ABA">ABA</option>
															<option value="FISIOTERAPIA">FISIOTERAPIA</option>
															<option value="FONOAUDIOLOGIA">FONOAUDIOLOGIA</option>
															<option value="JUDÔ">JUDÔ</option>
															<option value="MUSICOTERAPIA">MUSICOTERAPIA</option>
															<option value="NUTRIÇÃO">NUTRIÇÃO</option>
															<option value="PSICOLOGIA">PSICOLOGIA</option>
															<option value="PSICOMOTRICIDADE FUNCIONAL">PSICOMOTRICIDADE FUNCIONAL</option>
															<option value="PSICOMOTRICIDADE RELACIONAL">PSICOMOTRICIDADE RELACIONAL</option>
															<option value="PSICOPEDAGOGIA">PSICOPEDAGOGIA</option>
															<option value="TCC">TCC</option>
															<option value="TERAPIA AQUATICA">TERAPIA AQUÁTICA</option>
															<option value="TO AVD">TO AVD</option>
															<option value="TO IS">TO IS</option>
														</select>
														
													</div>
												</div>

												<label > CID</label>
												<div class="form-group">
													<div class="col-sm-3">
														<input type="text" name="terapiaCid" id="terapiaCid" placeholder="" class="form-control" value="{{terapia.terapia_cid}}" />
													</div>
												</div>
												
												<label > Descrição </label>
												<div class="form-group">
													<div class="col-sm-12">
														<input type="text" name="terapiaDescricao" placeholder="" class="form-control" value="{{terapia.terapia_descricao}}" />
													</div>
												</div>

												<label>Status</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select name="terapiaStatus" id="terapiaStatus" class="chosen-select" >
																<option value="-">Não informado</option>
																<option value="Ativo">Ativo</option>
																<option value="Inativo">Inativo</option>
														</select>
													</div>
												</div>

												<div class="hidden">
													<input name="terapiaId"value="{{terapia._id}}" />
												</div>

											</div>
										</div>
									</div>
								</div>



							<div class="space-4"></div>

							<div class="form-actions">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn btn-info" name="acao" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>

									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning"   href="/menu/ferramentas/terapia/lis">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Voltar
									</button>
								</div>
							</div>
				
						</form>


						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>