<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Especializacao</title>
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Especializacao Editar</a>
							</li>

							<li class="active">Especializacao Editar</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/ferramentas/especializacao/atualizar" method="POST">


								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Especializacaos</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>

										<div class="widget-body">
											<div class="widget-main">

												<div class="hidden">
													<input id="idEspecializacao" name="idEspecializacao" value="{{especializacao._id}}" />
												</div>
				
												<label> Especializacao</label>
												<div class="form-group">
													<div class="col-sm-12">
														<input type="text" name="especializacaoNome" id="especializacaoNome" class="form-control" value="{{especializacao.especializacao_nome}}"/>
													</div>
												</div>

												<label> Ordem</label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="especializacaoOrdem" id="especializacaoOrdem"  class="form-control" value="{{especializacao.especializacao_odem}}"/>
													</div>
												</div>
				
												<label> Descrição</label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="especializacaoDescricao" id="especializacaoDescricao" class="form-control" value="{{especializacao.especializacao_descricao}}"/>
													</div>
												</div>

												<div class="hidden">
													<input name="especializacaoId" value="{{especializacao._id}}" />
												</div>



											</div>
										</div>
									</div>
								</div>
							
							
								<div class="space-4"></div>							
								<div class="space-4"></div>
	
								<div class="form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info"  name="acao" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>
	
										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning"  href="/menu/ferramentas/especializacao/lis">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>

							</form>


						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
</html>
