<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Agendamentos</title>
		<script type="text/javascript">
			/*function ajustaOption(){
				let valor;
				let categ = document.getElementById("agendaTempMotivo").value;
				console.log("categ: "+categ)
				if (categ == "Falta") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "yellow";
				} else if (categ == "Falta Justificada") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "orange";
				} else if (categ == "Substituição") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "cyan";
				} else if (categ == "Roberta Disponpivel") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "salmon";
				}
			}*/
			function mudamuda(cor){
				document.getElementById(cor).style.backgroundColor = cor;
			}
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("agendaBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("agendaConvid").value = v1;
			}
			function atualizaConvId(){
				let convId = document.getElementById("agendaConvid").value;
				console.log(convId)
			}
			function atualizaData(){
				var dataIso = document.getElementById("dataAg").value+"T"+document.getElementById("agendaHora").value+":00.000Z";
				var dataFmt = new Date(dataIso);
				console.log(dataIso);
				document.getElementById("agendaData").value = dataFmt;
			}
			function carregaBody(){
				document.getElementById("dataAg").value = document.getElementById("agendaDataEdi").value;
				document.getElementById("agendaHora").value = document.getElementById("agendaHoraEdi").value;
				document.getElementById("agendaOrg").value = document.getElementById("agendaOrgEdi").value;
				document.getElementById("agendaCateg").value = document.getElementById("agendaCategEdi").value;
				document.getElementById("agendaBeneid").value = document.getElementById("agendaBeneidEdi").value;
				document.getElementById("agendaConvid").value = document.getElementById("agendaConvidEdi").value;
				document.getElementById("agendaTerapiaid").value = document.getElementById("agendaTerapiaidEdi").value;
				document.getElementById("agendaUsuid").value = document.getElementById("agendaUsuidEdi").value;
				document.getElementById("agendaSalaid").value = document.getElementById("agendaSalaidEdi").value;
				//document.getElementById("agendaTempMotivo").value = document.getElementById("agendaTempMotivoEdi").value;
				atualizaData();
				if (document.getElementById("agendaSelamento").value == 'false'){
					document.getElementById("agendaSelo").checked = false;
					document.getElementById("agendaSelo").style = '';
				}
				if (document.getElementById("isAgendaTerapeuta").value == 'true'){
					document.getElementById("divEvolucao").style = '';
				}
			}
			function alteraMigrado(){
				let chck = document.getElementById("agendaMigrado");
				if(chck.checked){
					chck.value="true";
					console.log(chck.value);
				} else {
					chck.value="false";
					console.log(chck.value);
				}
			}
			function selamento(){
				document.getElementById("agendaSelamento").value = document.getElementById("agendaSelo").checked;
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody();controlaNave();">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Agendamentos Editar</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/agenda/evolucao" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Agendamentos</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Data Agendamento</label>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="dataAg" id="dataAg" type="date" style="width: 200px;" onchange="javascript:atualizaData()">
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Hora Agendamento</label>
														<div class="form-group">
															<div class="col-sm-8">
																<select name="agendaHora" id="agendaHora" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaData()">
																	{{#each horaages}}
																		<option value="{{horaage_hora}}">{{horaage_hora}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label>Origem Agendamento</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaOrg" name="agendaOrg" class="chosen-select" data-placeholder="Escolhaa a opção..." onchange="javascript:controlaCategoria()">
																	<option value="Administrativo">Administrativo</option>
																	<option value="Padrão">Padrão</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<label>Categoria</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaCateg" name="agendaCateg" class="chosen-select" data-placeholder="Escolha a opção..." onchange="javascript:ajustaOption();">
																	<option id="Falta" value="Falta">Falta</option>
																	<option id="Padrão" value="Padrão" style="display: none;">Padrão</option>
																	<option id="Pais" value="Pais">Pais</option>
																	<option id="Substituto" value="Substituto">Substituto</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-xs-12 col-sm-6">
														<label>Beneficiário</label>
														<div class="hidden" class="col-sm-5">
															{{#each benes}}
																{{#each ../convs}}
																	{{#ifEqual ../bene_convid _id}}
																		<input value="{{../bene_convid}}" id="{{../_id}}" name="refAgendaConvid" />
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</div>
														<div class="form-group" >
															<div class="col-sm-5">
																<select class="col-sm-5" name="agendaBeneid" id="agendaBeneid" class="chosen-select" data-placeholder="Escolha..."  style="width: 400px;" onchange="javascript:selectConv()">
																	{{#each benes}}
																		<option value="{{_id}}">{{bene_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-12 col-sm-2">
														<label>Convênio</label>
														<div class="form-group"  >
															<div class="col-sm-6" style="width: 500px;">
																<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" name="agendaConvid"  id="agendaConvid" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each benes}}
																		{{#each ../convs}}
																			{{#ifEqual ../bene_convid _id}}
																				<option value="{{../bene_convid}}">{{conv_nome}}</option>
																			{{/ifEqual}}
																		{{/each}}
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Terapeuta</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 500px;">
																<select name="agendaUsuid" id="agendaUsuid" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each terapeutas}}
																	<option value="{{_id}}">{{usuario_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>												
													</div>
													<div class="col-xs-6">													
														<label>Terapia</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 600px;">
																<select name="agendaTerapiaid" id="agendaTerapiaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																	{{#each terapias}}
																		<option value="{{_id}}">{{terapia_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Salas</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 300px;">
																<select name="agendaSalaid" id="agendaSalaid" class="chosen-select" data-placeholder="Escolha...">
																	{{#each salas}}
																		<option value="{{_id}}">{{sala_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
															<!--<label class="pos-rel">
																<input type="checkbox" name="agendaMigrado" id="agendaMigrado" value="{{agenda.agenda_migrado}}" onchange="javascript:alteraMigrado()" />
																Realizado? 
															</label>
													<div class="col-xs-6">
														<label>Motivo</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 300px;">
																<select name="agendaTempMotivo" id="agendaTempMotivo" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:ajustaOption()">
																	<option style="background-color: yellow;" value="Falta">Falta</option>
																	<option style="background-color: orange;" value="Falta Justificada">Falta Justificada</option>
																	<option style="background-color: cyan;" value="Substituição">Substituição</option>
																	<option style="background-color: salmon;" value="Roberta Disponpivel">Roberta Disponpivel</option>
																</select>
															</div>
														</div>
													</div>-->
												</div>
												<div class="row" >
													<div class="col-xs-12 col-sm-6">													
														<label> Notificação de agenda</label>
														<div class="form-group">
															<div class="col-sm-6">
																<textarea style="width: 400px;" id="agendaObs" name="agendaObs" placeholder="" class="form-control">{{agenda.agenda_obs}}</textarea>
															</div>
														</div>
													</div>
												</div>
												
												<div id="divEvolucao" style="display: none;" class="row" >
													<div class="col-xs-12 col-sm-6">													
														<label> Evolução</label>
														<div class="form-group">
															<div class="col-sm-6">
																<textarea {{#isTrue selo}} readonly="true" {{/isTrue}} style="width: 400px;" id="agendaEvolucao" name="agendaEvolucao" placeholder="" class="form-control">{{agenda.agenda_evolucao}}</textarea>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">													
														<label class="pos-rel">
															{{#isTrue selo}}
															<input type="checkbox" style="display: none;" name="agendaSelo" id="agendaSelo" value="{{agenda.agenda_selo}}" />
															<b>Evolução Finalizada!</b>
															{{else}}
															<input type="checkbox" name="agendaSelo" id="agendaSelo" value="{{agenda.agenda_selo}}" onchange="javascript:selamento();" />
															Evolução Finalizada? <b>OBS: Após marcar este campo não será mais possível editar a evolução.</b>
															{{/isTrue}}
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="hidden">
										<input id="agendaSelamento" name="agendaSelamento" value="{{selo}}" />
										<input id="id" name="id" value="{{agenda._id}}" />
										<input id="isAgendaTerapeuta" name="isAgendaTerapeuta" value="{{isAgendaTerapeuta}}" />
										<input id="agendaTemp" name="agendaTemp" value="{{agenda.agenda_temp}}" />
										<input id="agendaIdTemp" name="agendaIdTemp" value="{{agenda.agenda_tempId}}" />
										<input id="agendaData" name="agendaData" /><!-- permanesce vazio para receber a data antes de salvar -->
										<input id="agendaDataEdi" name="agendaDataEdi" value="{{agenda.agenda_data_dia}}" />
										<input id="agendaHoraEdi" name="agendaHoraEdi" value="{{agenda.agenda_hora}}" />
										<input id="agendaOrgEdi" name="agendaOrgEdi" value="{{agenda.agenda_org}}" />
										<input id="agendaCategEdi" name="agendaCategEdi" value="{{agenda.agenda_categoria}}" />
										<input id="agendaBeneidEdi" name="agendaBeneidEdi" value="{{agenda.agenda_beneid}}" />
										<input id="agendaConvidEdi" name="agendaConvidEdi" value="{{agenda.agenda_convid}}" />
										<input id="agendaSalaidEdi" name="agendaSalaidEdi" value="{{agenda.agenda_salaid}}" />
										<input id="agendaTerapiaidEdi" name="agendaTerapiaidEdi" value="{{agenda.agenda_terapiaid}}" />
										<!--<input id="agendaTempMotivoEdi" name="agendaTempMotivoEdi" value="{{agenda.agenda_tempmotivo}}" />-->
										<input id="agendaUsuidEdi" name="agendaUsuidEdi" value="{{agenda.agenda_usuid}}" />
									</div>
									<div class="space-4"></div>							
									<div class="space-4"></div>
									<div class="form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>
