<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Agendamentos</title>
		<script type="text/javascript">
			/*function ajustaOption(){
				let valor;
				let categ = document.getElementById("agendaTempMotivo").value;
				console.log("categ: "+categ)
				if (categ == "Falta") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "yellow";
				} else if (categ == "Falta Justificada") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "orange";
				} else if (categ == "Substituição") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "cyan";
				} else if (categ == "Roberta Disponivel") {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "salmon";
				} else {
					document.getElementById("agendaTempMotivo").style.backgroundColor = "lightgreen";
				}
			}*/
			function mudamuda(cor){
				document.getElementById(cor).style.backgroundColor = cor;
			}
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("agendaBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("agendaConvid").value = v1;
			}
			function atualizaConvId(){
				let convId = document.getElementById("agendaConvid").value;
				console.log(convId)
			}
			function atualizaData(){
				var dataIso = document.getElementById("dataAg").value+"T"+document.getElementById("agendaHora").value+":00.000Z";
				var dataFmt = new Date(dataIso);
				console.log(dataIso);
				document.getElementById("agendaData").value = dataFmt;
				console.log(dataFmt);
			}
			function carregaBody(){
				document.getElementById("dataAg").value = document.getElementById("agendaDataEdi").value;
				document.getElementById("agendaHora").value = document.getElementById("agendaHoraEdi").value;
				document.getElementById("agendaBeneid").value = document.getElementById("agendaBeneidEdi").value;
				document.getElementById("agendaConvid").value = document.getElementById("agendaConvidEdi").value;
				document.getElementById("agendaTerapiaid").value = document.getElementById("agendaTerapiaidEdi").value;
				document.getElementById("agendaUsuid").value = document.getElementById("agendaUsuidEdi").value;
				document.getElementById("agendaSalaid").value = document.getElementById("agendaSalaidEdi").value;
				//document.getElementById("agendaTempMotivo").value = "Nenhuma Observação";//document.getElementById("agendaTempMotivoEdi").value;
				document.getElementById("agendaCateg").value = "Padrão";
				//ajustaOption();
				document.getElementById("divFalta").style.display = "none";
				atualizaData();
			}
			function CarregaIdFalta(){
				let alvo = document.getElementById("agendaAlvoFalta").value;
				if (alvo == "Terapeuta"){
					document.getElementById("agendaFaltaId").value = document.getElementById("agendaMergeterapeutaid").value;
				} else {
					document.getElementById("agendaFaltaId").value = document.getElementById("agendaBeneid").value;
				}
			}
			function alteraMigrado(){
				let chck = document.getElementById("agendaMigrado");
				if(chck.checked){
					chck.value="true";
					console.log(chck.value);
				} else {
					chck.value="false";
					console.log(chck.value);
				}
			}
			function ocultaDivFaltas(){
				if (document.getElementById("agendaCateg").value == "Falta" || document.getElementById("agendaCateg").value == "Falta Justificada"){
					document.getElementById("divFalta").style.display = "";
				} else {
					document.getElementById("divFalta").style.display = "none";
				}
			}
			//atualiza a tabela de sessões
			function selectSessao(){
				let beneId = document.getElementById("agendaBeneid").value;
				
				for (child of document.getElementById("blocoSessoes").children){
					child.remove();
				}
				
				document.getElementById("blocoSessoes").name = beneId;

				if (document.getElementById(beneId+"_sessao") != null){
					let elementoClonado = document.getElementById(beneId+"_sessao").cloneNode(true);
					console.log(beneId+"_sessao");
					elementoClonado.id = elementoClonado.id + "_clone";
					document.getElementById("blocoSessoes").append(elementoClonado);
				}
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:controlaNave();carregaBody();">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Agendamentos Editar</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/agenda/addTemp" method="POST">
								<div id="divCarrega" hidden>
								{{#each sessaos}}
									<div id="{{sessao_beneid}}_sessao">
										<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
											<thead>
												<tr role="row">
													<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th style="width: 50px;" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Liminar</th>
													<th style="width: 60px;" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" >Realizado</th>
													<th style="width: 30px;" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Saldo</th>
													<th style="width: 30px;" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Obs</th>
												</tr>
											</thead>
											<tbody>
												{{#each ../benes}}
													{{#ifEqual ../sessao_beneid this._id}}
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid01}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev01}}</td>
															<td>{{../sessao_qtterapiacon01}}</td>
															<td>{{../sessao_qtterapiasaldo01}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao01}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid02}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev02}}</td>
															<td>{{../sessao_qtterapiacon02}}</td>
															<td>{{../sessao_qtterapiasaldo02}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao02}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid03}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev03}}</td>
															<td>{{../sessao_qtterapiacon03}}</td>
															<td>{{../sessao_qtterapiasaldo03}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao03}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid04}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev04}}</td>
															<td>{{../sessao_qtterapiacon04}}</td>
															<td>{{../sessao_qtterapiasaldo04}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao04}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid05}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev05}}</td>
															<td>{{../sessao_qtterapiacon05}}</td>
															<td>{{../sessao_qtterapiasaldo05}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao05}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid06}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev06}}</td>
															<td>{{../sessao_qtterapiacon06}}</td>
															<td>{{../sessao_qtterapiasaldo06}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao06}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid07}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev07}}</td>
															<td>{{../sessao_qtterapiacon07}}</td>
															<td>{{../sessao_qtterapiasaldo07}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao07}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid08}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev08}}</td>
															<td>{{../sessao_qtterapiacon08}}</td>
															<td>{{../sessao_qtterapiasaldo08}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao08}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid09}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev09}}</td>
															<td>{{../sessao_qtterapiacon09}}</td>
															<td>{{../sessao_qtterapiasaldo09}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao09}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid10}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev10}}</td>
															<td>{{../sessao_qtterapiacon10}}</td>
															<td>{{../sessao_qtterapiasaldo10}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao10}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid11}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev11}}</td>
															<td>{{../sessao_qtterapiacon11}}</td>
															<td>{{../sessao_qtterapiasaldo11}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao11}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid12}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev12}}</td>
															<td>{{../sessao_qtterapiacon12}}</td>
															<td>{{../sessao_qtterapiasaldo12}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao12}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid13}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev13}}</td>
															<td>{{../sessao_qtterapiacon13}}</td>
															<td>{{../sessao_qtterapiasaldo13}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao13}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid14}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev14}}</td>
															<td>{{../sessao_qtterapiacon14}}</td>
															<td>{{../sessao_qtterapiasaldo14}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao14}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid15}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev15}}</td>
															<td>{{../sessao_qtterapiacon15}}</td>
															<td>{{../sessao_qtterapiasaldo15}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao15}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid16}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev16}}</td>
															<td>{{../sessao_qtterapiacon16}}</td>
															<td>{{../sessao_qtterapiasaldo16}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao16}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid17}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev17}}</td>
															<td>{{../sessao_qtterapiacon17}}</td>
															<td>{{../sessao_qtterapiasaldo17}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao17}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid18}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev18}}</td>
															<td>{{../sessao_qtterapiacon18}}</td>
															<td>{{../sessao_qtterapiasaldo18}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao18}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid20}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev20}}</td>
															<td>{{../sessao_qtterapiacon20}}</td>
															<td>{{../sessao_qtterapiasaldo20}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao20}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid21}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev21}}</td>
															<td>{{../sessao_qtterapiacon21}}</td>
															<td>{{../sessao_qtterapiasaldo21}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao21}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid22}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev22}}</td>
															<td>{{../sessao_qtterapiacon22}}</td>
															<td>{{../sessao_qtterapiasaldo22}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao22}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid23}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev23}}</td>
															<td>{{../sessao_qtterapiacon23}}</td>
															<td>{{../sessao_qtterapiasaldo23}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao23}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid24}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev24}}</td>
															<td>{{../sessao_qtterapiacon24}}</td>
															<td>{{../sessao_qtterapiasaldo24}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao24}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid25}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev25}}</td>
															<td>{{../sessao_qtterapiacon25}}</td>
															<td>{{../sessao_qtterapiasaldo25}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao25}}"></i>
																</a>
															</td>
														</tr>

													{{/ifEqual}}
												{{/each}}
											</tbody>
										</table>
									</div>
								{{/each}}
								</div>
								<div class="col-sm-6"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Agendamentos</h4>
											<input class="hidden" id="agendaId" name="agendaId" value="{{agenda._id}}" />
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Data Agendamento</label>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="dataAg" id="dataAg" type="date" style="width: 200px;" onchange="javascript:atualizaData()">
																</div>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Hora Agendamento</label>
														<div class="form-group">
															<div class="col-sm-8">
																<select name="agendaHora" id="agendaHora" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaData()">
																	{{#each horaages}}
																		<option value="{{horaage_hora}}">{{horaage_hora}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label>Origem Agendamento</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaOrg" name="agendaOrg" class="chosen-select" data-placeholder="Escolhaa a opção..." onchange="javascript:controlaCategoria()">
																	<option value="Administrativo">Administrativo</option>
																	<option value="Padrão">Padrão</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<label>Categoria</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaCateg" name="agendaCateg" class="chosen-select" data-placeholder="Escolha a opção..." value="Padrão" onchange="javascript:ocultaDivFaltas();">
																	<option style="background-color: yellow;" value="Falta">Falta</option>
																	<option style="background-color: orange;" value="Falta Justificada">Falta Justificada</option>
																	<option style="background-color: cyan;" value="Substituição">Substituição</option>
																	<option style="background-color: lightgrey;" value="Padrão" >Padrão</option>
																	<option style="background-color: salmon;" value="Roberta Disponivel">Roberta Disponivel</option>
																	<option style="background-color: lightpink;" value="Supervisor">Supervisor</option>
																	<option style="background-color: lightgreen;" value="Nenhuma Observação">Nenhuma Observação</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-xs-12 col-sm-6">
														<label>Beneficiário</label>
														<div class="hidden" class="col-sm-5">
															{{#each benes}}
																{{#each ../convs}}
																	{{#ifEqual ../bene_convid _id}}
																		<input value="{{../bene_convid}}" id="{{../_id}}" name="refAgendaConvid" />
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</div>
														<div class="form-group" >
															<div class="col-sm-5">
																<select class="col-sm-5" name="agendaBeneid" id="agendaBeneid" class="chosen-select" data-placeholder="Escolha..."  style="width: 400px;" onchange="javascript:selectConv();selectSessao();">
																	{{#each benes}}
																		<option value="{{_id}}">{{bene_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-12 col-sm-2">
														<label>Convênio</label>
														<div class="form-group"  >
															<div class="col-sm-6" style="width: 500px;">
																<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" name="agendaConvid"  id="agendaConvid" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each benes}}
																		{{#each ../convs}}
																			{{#ifEqual ../bene_convid _id}}
																				<option value="{{../bene_convid}}">{{conv_nome}}</option>
																			{{/ifEqual}}
																		{{/each}}
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Terapeuta</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 500px;">
																<select name="agendaUsuid" id="agendaUsuid" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each terapeutas}}
																	<option value="{{_id}}">{{usuario_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>												
													</div>
													<div class="col-xs-6">													
														<label>Terapia</label>
														<div class="form-group">
															<div class="col-sm-4" >
																<select name="agendaTerapiaid" id="agendaTerapiaid" class="chosen-select" data-placeholder="Escolha..." style="width: 200px;" onchange="javascript:carregaValores()">
																	{{#each terapias}}
																		<option value="{{_id}}">{{terapia_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Salas</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 300px;">
																<select name="agendaSalaid" id="agendaSalaid" class="chosen-select" data-placeholder="Escolha...">
																	{{#each salas}}
																		<option value="{{_id}}">{{sala_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>

															<!--<label class="pos-rel">
																<input type="checkbox" name="agendaMigrado" id="agendaMigrado" value="{{agenda.agenda_migrado}}" onchange="javascript:alteraMigrado()" />
																Realizado? 
															</label>
													<div class="col-xs-6">
														<label>Motivo</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 300px;">
																<select name="agendaTempMotivo" id="agendaTempMotivo" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:ajustaOption()">
																	
																</select>
															</div>
														</div>
													</div>-->
												</div>
												<div id="divFalta" class="row">
													<div class="col-xs-12" >
														<label>Turno</label>
														<div class="form-group" >
															<div class="col-sm-6">
																<select name="agendaTurnoFalta" id="agendaTurnoFalta" class="chosen-select" data-placeholder="Escolha..." >
																	<option value="Ambos">Ambos</option>
																	<option value="Manhã">Manhã</option>
																	<option value="Tarde">Tarde</option>
																</select>
															</div>
														</div>
														<label>Falta do:</label>
														<div class="form-group">
															<div class="col-sm-6">
																<input id="agendaFaltaId" name="agendaFaltaId" class="hidden" value="-" />
																<select id="agendaAlvoFalta" name="agendaAlvoFalta" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:CarregaIdFalta();">
																	<option value="Beneficiário">Beneficiário</option>
																	<option value="Terapeuta">Terapeuta</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-xs-12 col-sm-6">													
														<label> Notificação de agenda</label>
														<div class="form-group">
															<div class="col-sm-6">
																<textarea style="width: 400px;" id="agendaObs" name="agendaObs" placeholder="" class="form-control"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="hidden">
											<input id="agendaIdTemp" name="agendaIdTemp" value="{{agenda_tempId}}" />
											<!--<input id="agendaTempMotivoEdi" name="agendaTempMotivoEdi" value="{{agenda_tempmotivo}}" />-->
											<input id="agendaData" name="agendaData" /><!-- permanesce vazio para receber a data antes de salvar -->
											<input id="agendaDataEdi" name="agendaDataEdi" value="{{agenda.agenda_data_dia}}" />
											<input id="agendaHoraEdi" name="agendaHoraEdi" value="{{agenda.agenda_hora}}" />
											<input id="agendaBeneidEdi" name="agendaBeneidEdi" value="{{agenda.agenda_beneid}}" />
											<input id="agendaConvidEdi" name="agendaConvidEdi" value="{{agenda.agenda_convid}}" />
											<input id="agendaSalaidEdi" name="agendaSalaidEdi" value="{{agenda.agenda_salaid}}" />
											<input id="agendaTerapiaidEdi" name="agendaTerapiaidEdi" value="{{agenda.agenda_terapiaid}}" />
											<input id="agendaUsuidEdi" name="agendaUsuidEdi" value="{{agenda.agenda_usuid}}" />
										</div>
										<div class="space-4"></div>							
										<div class="space-4"></div>
										<div class="form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
													<i class="ace-icon fa fa-check bigger-110"></i>
													Salvar
												</button>
												&nbsp; &nbsp; &nbsp;
												<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
													<i class="ace-icon fa fa-undo bigger-110"></i>
													Voltar
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3"><!-- Widget de Exceções -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Exceções</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3"><!-- Widget Quadro de sessões -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Quadro de sessões</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
													<div id="blocoSessoes" name="nameless"><!-- Div que recebe a tabela pronta, escolhida pelo usuário, na hora do input do beneficiário -->
													</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>
