<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Agendamentos Cadastros</title>
		<script type="text/javascript">
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("agendaBeneid").value).value.toString();
				console.log(v1);
				document.getElementById("agendaConvid").value = v1;
			}
			function atualizaConvId(){
				let convId = document.getElementById("agendaConvid").value;
				console.log(convId);
			}
			function carregaBody(){
				let fulldate=(document.getElementById("carregaDataAno").value+"-"+document.getElementById("carregaDataMes").value+"-"+document.getElementById("carregaDataDia").value).toString();
				document.getElementById("agendaData").value = fulldate;
				document.getElementById("agendaHora").value = document.getElementById("carregaHora").value;
			}
			function alteraMigrado(){
				let chck = document.getElementById("agendaMigrado");
				if(chck.checked){
					chck.value="true";
					console.log(chck.value);
				} else {
					chck.value="false";
					console.log(chck.value);
				}
			}
			
		</script>
	</head>

	<body class="no-skin" onload="javascript:carregaBody();controlaNave();">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Agendamentos Cadastro</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/agenda/add" method="POST">

								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Agendamentos</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>

										<div class="widget-body">
											<div class="widget-main">

												<div class="row">

													<div class="col-xs-12 col-sm-4">
																		
														<label for="id-date-picker-1">Data Agendamento</label>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="agendaData" id="agendaData" type="date" style="width: 200px;" >
																</div>
															</div>
														</div>
																	
													</div><!-- /.span -->

													<div class="col-xs-12 col-sm-4">
														<div >


															<div>
																<div>
																	<div>
																		<label for="id-date-picker-1">Hora Agendamento</label>
																		<div class="form-group">
																				<div class="col-sm-8">
																					<select name="agendaHora" id="agendaHora" class="chosen-select" data-placeholder="Escolha..." >
																							{{#each horaages}}
																								<option value="{{horaage_hora}}">{{horaage_hora}}</option>
																							{{/each}}
																					</select>
																				</div>
																		</div>

																	</div>

																</div>
															</div>
														</div>
													</div><!-- /.span -->

													<div class="col-xs-12 col-sm-4"><!-- .div não utilizado, apenas para alertas adicionais -->
														<div >
															<div >
																<div>
																	<div>
																		<label class="pos-rel">
																			<input type="checkbox" name="agendaMigrado" id="agendaMigrado" value="false" onchange="javascript:alteraMigrado()" />
																		Realizado? 
																		</label>
																	</div>
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												
												</div>

												<div class="row" >

													<div class="col-xs-12 col-sm-6">
														<div >


															<div>
																<div>
																	<div>

																		<label>Beneficiário</label>
																			<div class="hidden" class="col-sm-5">
																				{{#each benes}}
																					{{#each ../convs}}
																						{{#ifEqual ../bene_convid _id}}
																							<input value="{{../bene_convid}}" id="{{../_id}}" name="refAgendaConvid" />
																						{{/ifEqual}}
																					{{/each}}
																				{{/each}}
																				<input id="carregaDataDia" name="carregaDataDia" value="{{agenda.data.dia}}" />
																				<input id="carregaDataMes" name="carregaDataMes" value="{{agenda.data.mes}}" />
																				<input id="carregaDataAno" name="carregaDataAno" value="{{agenda.data.ano}}" />
																				<input id="carregaHora" name="carregaHora" value="{{agenda.hora}}" />
																			</div>

																			<div class="form-group" >
																					<div class="col-sm-5">
																						<select class="col-sm-5" name="agendaBeneid" id="agendaBeneid" class="chosen-select" data-placeholder="Escolha..."  style="width: 400px;" onchange="javascript:selectConv()">
																								{{#each benes}}
																									<option value="{{_id}}">{{bene_nome}}</option>
																								{{/each}}
																						</select>
																					</div>
																			</div>

																	</div>

																</div>
															</div>
														</div>
													</div><!-- /.span -->

													<div class="col-xs-12 col-sm-2">
														<div >
															<div >
																<div>
																	<div>
																		
																		<label>Convênio</label>
																		<div class="form-group"  >
																				<div class="col-sm-6" style="width: 500px;">
																					<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" name="agendaConvid"  id="agendaConvid" class="chosen-select" data-placeholder="Escolha..." >
																							{{#each benes}}
																								{{#each ../convs}}
																									{{#ifEqual ../bene_convid _id}}
																										<option value="{{../bene_convid}}">{{conv_nome}}</option>
																									{{/ifEqual}}
																								{{/each}}
																							{{/each}}
																					</select>
																				</div>
																		</div>


																	</div>




																</div>
															</div>
														</div>
													</div><!-- /.span -->
												
													<div class="col-xs-12 col-sm-4">
														<div >
															<div >
																<div>
																	<div>
																		
																		<div class="alert alert-danger">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>

																			<strong>
																				<i class="ace-icon fa fa-times"></i>
																				Importante!
																			</strong>

																			O Convênio é preenchido automaticamente.
																			<br>
																		</div>
		


																	</div>




																</div>
															</div>
														</div>
													</div><!-- /.span -->
												

												</div>

												<div class="row">
													<div class="col-xs-6">

														<label>Terapeuta</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 500px;">
																<select name="agendaUsuid" id="agendaUsuid" class="chosen-select" data-placeholder="Escolha..." >
																		{{#each terapeutas}}
																		<option value="{{_id}}">{{usuario_nome}}</option>
																		{{/each}}
																</select>
															</div>
														</div>												
													</div>
													
													<div class="col-xs-6">													
														<label>Terapia</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 600px;">
																<select name="agendaTerapiaid" id="agendaTerapiaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																		{{#each terapias}}
																			<option value="{{_id}}">{{terapia_nome}}</option>
																		{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12">													
														<label>Salas</label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 300px;">
																<select name="agendaSalaid" id="agendaSalaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																		{{#each salas}}
																			<option value="{{_id}}">{{sala_nome}}</option>
																		{{/each}}
																</select>
															</div>
														</div>



													</div>
												</div>
												
												
											
											</div>
										
										</div>

								</div>
								<div class="hidden">
									<input id="agendaData" name="agendaData" type="date" />
								</div>

						
								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>
