<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Agendamentos Cadastro Fixo</title>
		<script type="text/javascript">
			function controlaCategoria(){
				let origem = document.getElementById("agendaOrg").value;
				if(origem == "Padrão"){
					document.getElementById("agendaCateg").value = "Padrão";
					document.getElementById("Padrão").style.display = "";
					document.getElementById("Falta").style.display = "none";
					document.getElementById("Apoio").style.display = "none";
					document.getElementById("Supervisão").style.display = "none";
					document.getElementById("Pais").style.display = "none";
					document.getElementById("Glosa").style.display = "none";
					document.getElementById("Extra").style.display = "none";
					document.getElementById("SubstitutoFixo").style.display = "none";
				} else {
					document.getElementById("agendaCateg").value = "Apoio";
					document.getElementById("Padrão").style.display = "none";
					document.getElementById("Falta").style.display = "";
					document.getElementById("Apoio").style.display = "";
					document.getElementById("Supervisão").style.display = "";
					document.getElementById("Pais").style.display = "";
					document.getElementById("Glosa").style.display = "";
					document.getElementById("Extra").style.display = "";
					document.getElementById("SubstitutoFixo").style.display = "";
				}
				this.mudaSubis();
			}
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("agendaBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("agendaConvid").value = v1;
			}
			function atualizaConvId(){
				let convId = document.getElementById("agendaConvid").value;
				console.log(convId)
			}
			function carregaBody(){
				let data= new Date();
				let mes = (data.getMonth()+1).toString();
				let dia = (data.getUTCDate()).toString();
				if (mes.length == 1){
					mes = "0"+mes;
				}
				if (dia.length == 1){
					dia = "0"+dia;
				}
				let fulldate=(data.getFullYear()+"-"+mes+"-"+dia).toString();
				document.getElementById("agendaData").value = fulldate;
				document.getElementById("agendaExtra").value = "false";
				document.getElementById("agendaExtra").checked = true;
				document.getElementById("agendaExtra").checked = false;
				console.log("carregou!");
			}
			function alteraMigrado(){
				let chck = document.getElementById("agendaMigrado");
				if(chck.checked){
					chck.value="true";
					console.log(chck.value);
				} else {
					chck.value="false";
					console.log(chck.value);
				}
			}
			function alteraCheck(checkboxid, elementoid){
				let chck = document.getElementById(checkboxid);
				let elemento = document.getElementById(elementoid);
				if(chck.checked){
					elemento.value="true";
				} else {
					elemento.value="false";
				}
			}
			function mudaSubis() {
				let tipodoc = document.getElementById("agendaCateg").value;
				console.log(tipodoc);
				if (tipodoc == "SubstitutoFixo") {
					document.getElementById('widgetboxSubs').style.display = 'block';
				} else {
					document.getElementById('widgetboxSubs').style.display = 'none';
					
				}
   			}
			//atualiza a tabela de sessões
			function selectSessao(){
				let beneId = document.getElementById("agendaBeneid").value;
				
				for (child of document.getElementById("blocoSessoes").children){
					child.remove();
				}
				
				document.getElementById("blocoSessoes").name = beneId;

				if (document.getElementById(beneId+"_sessao") != null){
					let elementoClonado = document.getElementById(beneId+"_sessao").cloneNode(true);
					console.log(beneId+"_sessao");
					elementoClonado.id = elementoClonado.id + "_clone";
					document.getElementById("blocoSessoes").append(elementoClonado);
				}
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody();controlaNave();controlaCategoria();">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Agendamentos Cadastro Fixo</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#compareString flash.sucesso "true"}}
						<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-block alert-success">
							<p>
								<strong>
									<i class="ace-icon fa fa-check"></i>
									{{flash.texto}}
								</strong>
								<button type="button" class="close" onclick="javascript:OcultaMsg()">
									<i class="ace-icon fa fa-times"></i>
								</button>
							</p>
						</div>
						<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-success">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
					{{else}}
						{{#compareString flash.sucesso "false"}}
							<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">
								<p>
									<strong>
										<i class="ace-icon fa fa-times"></i>
										{{flash.texto}}
									</strong>
									<button type="button" class="close" onclick="javascript:OcultaMsg()">
										<i class="ace-icon fa fa-times"></i>
									</button>
								</p>
							</div>
							<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
						{{else}}
						{{/compareString}}
					{{/compareString}}
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div id="divCarrega" hidden>
								{{#each sessaos}}
									<div id="{{sessao_beneid}}_sessao" >
										<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
											<thead>
												<tr role="row">
													<th tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th style="width: 50px;" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Liminar</th>
													<th style="width: 60px;" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" >Realizado</th>
													<th style="width: 30px;" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Saldo</th>
													<th style="width: 30px;" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Obs</th>
												</tr>
											</thead>
											<tbody>
												{{#each ../benes}}
													{{#ifEqual ../sessao_beneid this._id}}
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid01}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev01}}</td>
															<td>{{../sessao_qtterapiacon01}}</td>
															<td>{{../sessao_qtterapiasaldo01}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao01}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid02}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev02}}</td>
															<td>{{../sessao_qtterapiacon02}}</td>
															<td>{{../sessao_qtterapiasaldo02}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao02}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid03}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev03}}</td>
															<td>{{../sessao_qtterapiacon03}}</td>
															<td>{{../sessao_qtterapiasaldo03}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao03}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid04}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev04}}</td>
															<td>{{../sessao_qtterapiacon04}}</td>
															<td>{{../sessao_qtterapiasaldo04}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao04}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid05}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev05}}</td>
															<td>{{../sessao_qtterapiacon05}}</td>
															<td>{{../sessao_qtterapiasaldo05}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao05}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid06}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev06}}</td>
															<td>{{../sessao_qtterapiacon06}}</td>
															<td>{{../sessao_qtterapiasaldo06}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao06}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid07}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev07}}</td>
															<td>{{../sessao_qtterapiacon07}}</td>
															<td>{{../sessao_qtterapiasaldo07}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao07}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid08}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev08}}</td>
															<td>{{../sessao_qtterapiacon08}}</td>
															<td>{{../sessao_qtterapiasaldo08}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao08}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid09}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev09}}</td>
															<td>{{../sessao_qtterapiacon09}}</td>
															<td>{{../sessao_qtterapiasaldo09}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao09}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid10}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev10}}</td>
															<td>{{../sessao_qtterapiacon10}}</td>
															<td>{{../sessao_qtterapiasaldo10}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao10}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid11}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev11}}</td>
															<td>{{../sessao_qtterapiacon11}}</td>
															<td>{{../sessao_qtterapiasaldo11}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao11}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid12}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev12}}</td>
															<td>{{../sessao_qtterapiacon12}}</td>
															<td>{{../sessao_qtterapiasaldo12}}</td>
															<td>
																<a class="red" href="#" title="{{sessao_obssessao12}}" >
																	<i class="ace-icon fa fa-search bigger-130" ></i>
																	&nbsp;
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid13}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev13}}</td>
															<td>{{../sessao_qtterapiacon13}}</td>
															<td>{{../sessao_qtterapiasaldo13}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao13}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid14}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev14}}</td>
															<td>{{../sessao_qtterapiacon14}}</td>
															<td>{{../sessao_qtterapiasaldo14}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao14}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid15}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev15}}</td>
															<td>{{../sessao_qtterapiacon15}}</td>
															<td>{{../sessao_qtterapiasaldo15}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao15}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid16}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev16}}</td>
															<td>{{../sessao_qtterapiacon16}}</td>
															<td>{{../sessao_qtterapiasaldo16}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao16}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid17}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev17}}</td>
															<td>{{../sessao_qtterapiacon17}}</td>
															<td>{{../sessao_qtterapiasaldo17}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao17}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid18}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev18}}</td>
															<td>{{../sessao_qtterapiacon18}}</td>
															<td>{{../sessao_qtterapiasaldo18}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao18}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid20}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev20}}</td>
															<td>{{../sessao_qtterapiacon20}}</td>
															<td>{{../sessao_qtterapiasaldo20}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao20}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid21}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev21}}</td>
															<td>{{../sessao_qtterapiacon21}}</td>
															<td>{{../sessao_qtterapiasaldo21}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao21}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid22}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev22}}</td>
															<td>{{../sessao_qtterapiacon22}}</td>
															<td>{{../sessao_qtterapiasaldo22}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao22}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid23}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev23}}</td>
															<td>{{../sessao_qtterapiacon23}}</td>
															<td>{{../sessao_qtterapiasaldo23}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao23}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid24}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev24}}</td>
															<td>{{../sessao_qtterapiacon24}}</td>
															<td>{{../sessao_qtterapiasaldo24}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao24}}"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															{{#each ../../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../../sessao_terapiaid25}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{../sessao_qtterapiaprev25}}</td>
															<td>{{../sessao_qtterapiacon25}}</td>
															<td>{{../sessao_qtterapiasaldo25}}</td>
															<td>
																<a class="red" >
																	<i class="ace-icon fa fa-search bigger-130" title="{{sessao_obssessao25}}"></i>
																</a>
															</td>
														</tr>

													{{/ifEqual}}
												{{/each}}
											</tbody>
										</table>
									</div>
								{{/each}}
							</div>
							<form class="form-horizontal" role="form" action="/menu/agenda/add" method="POST">
								<div class="col-xs-12 col-sm-6"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Agendamentos Fixos</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label for="id-date-picker-1">Data Agendamento</label>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="agendaData" id="agendaData" type="date" style="width: 200px;" >
																</div>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-12 col-sm-4">
														<label for="id-date-picker-1">Hora Agendamento</label>
														<div class="form-group">
															<div class="col-sm-8">
																<select name="agendaHora" id="agendaHora" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each horaages}}
																		<option value="{{horaage_hora}}">{{horaage_hora}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-4">													
														<label style="color: crimson;">Extraordinário: </label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 300px;">
																<input class="hidden" id="agendaExtra" name="agendaExtra" value="false" />
																<input id="extra" name="extra" type="checkbox" onchange="javascript:alteraCheck('extra','agendaExtra');" />
																<label style="color: crimson;">Marque somente em caso de agendamento Extraordinário.</label>
																<span id="spamid" class="lbl"></span>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<label>Cobrar Extra</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaCobrarextra" name="agendaCobrarextra" class="chosen-select" value="false"  >
																	<option value="false">Não</option>
																	<option value="true">Sim</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label>Origem Agendamento</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaOrg" name="agendaOrg" class="chosen-select" data-placeholder="Escolhaa a opção..."  onchange="javascript:controlaCategoria()">
																	<option value="Padrão">Padrão</option>
																	<option value="Administrativo">Administrativo</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<label>Categoria</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaCateg" name="agendaCateg" class="chosen-select" data-placeholder="Escolha a opção..." onload="javascript:ajustaOption()"  onchange="javascript: mudaSubis()">
																	<option id="Apoio" value="Apoio">Apoio</option>
																	<option id="Extra" value="Extra">Extra</option>
																	<option id="Falta" value="Falta">Falta</option>
																	<option id="Glosa" value="Glosa">Glosa</option>
																	<option id="Padrão" value="Padrão" style="display: none;">Padrão</option>
																	<option id="Pais" value="Pais">Pais</option>
																	<option id="SubstitutoFixo" value="SubstitutoFixo">Substituto Fixo</option>
																	<option id="Supervisão" value="Supervisão">Supervisão</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-xs-12">
														<label>Beneficiário</label>
														<div class="hidden" class="col-sm-5">
															{{#each benes}}
																{{#each ../convs}}
																	{{#ifEqual ../bene_convid _id}}
																		<input value="{{../bene_convid}}" id="{{../_id}}" name="refAgendaConvid" />
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</div>
														<div class="form-group" >
															<div class="col-xs-9 col-sm-9">
																<select class="col-xs-9 col-sm-9" name="agendaBeneid" id="agendaBeneid" class="chosen-select" data-placeholder="Escolha..."  onchange="javascript:selectConv();selectSessao();">
																	<option value="766f69643132333435366964">-</option>
																	{{#each benes}}
																		<option value="{{_id}}">{{bene_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-9 col-sm-9">
														<label>Convênio</label>
														<div class="form-group"  >
															<div class="col-xs-9 col-sm-9" >
																<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" name="agendaConvid"  id="agendaConvid" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each benes}}
																		{{#each ../convs}}
																			{{#ifEqual ../bene_convid _id}}
																				<option value="{{../bene_convid}}">{{conv_nome}}</option>
																			{{/ifEqual}}
																		{{/each}}
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-9 col-sm-9">
														<label>Terapeuta</label>
														<div class="form-group">
															<div class="col-xs-9 col-sm-9">
																<select name="agendaUsuid" id="agendaUsuid" class="chosen-select" data-placeholder="Escolha..." >
																	<option value="766f69643132333435366964">-</option>
																	{{#each terapeutas}}
																	<option value="{{_id}}">{{usuario_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>												
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">													
														<label>Terapia</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select name="agendaTerapiaid" id="agendaTerapiaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																	<option value="766f69643132333435366964">-</option>
																	{{#each terapias}}
																		<option value="{{_id}}">{{terapia_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<div class="widget-box" name="widgetboxSubs" id="widgetboxSubs" style="display:none">
															<div class="widget-header">
																<h4 class="widget-title">Dados para Substituto Fixos</h4>
																<span class="widget-toolbar">
																	<a href="#" data-action="collapse">
																		<i class="ace-icon fa fa-chevron-up"></i>
																	</a>
																</span>
															</div>
															<div class="widget-body">
																<div class="widget-main">
																	<div class="alert alert-warning">
																		<button type="button" class="close" data-dismiss="alert">
																			<i class="ace-icon fa fa-times"></i>
																		</button>
																		<strong>Importante!</strong>
																		Dados necessárias para os agendamentos Substituto Fixo.<br>
																		Quando O terapeuta está sem carimbo ou não pode receber diretamente do plano pelo seu atendimento.<br>
																		Se faz necessário substituir por algum Terapeuta e Terapia elegível à cobrança junto aos planos.
																	</div>
																	<label>Terapeuta</label>
																	<div class="form-group">
																		<div class="col-sm-5">
																			<select id="agendaMergeterapeutaid" name="agendaMergeterapeutaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaMergeTerapeutaId()">
																				<option value="766f69643132333435366964">-</option>
																				{{#each terapeutas}}
																					<option value="{{_id}}">{{usuario_nome}}</option>
																				{{/each}}
																			</select>
																		</div>
																	</div>												
																	<label>Terapia</label>
																	<div class="form-group">
																		<div class="col-sm-4">
																			<select id="agendaMergeterapiaid" name="agendaMergeterapiaid" class="chosen-select" data-placeholder="Escolha..." onclick="javascript:carregaValoresMerge()">
																					<option value="766f69643132333435366964">-</option>
																					{{#each terapias}}
																						<option value="{{_id}}">{{terapia_nome}}</option>
																					{{/each}}
																			</select>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-6">													
														<label>Salas</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select name="agendaSalaid" id="agendaSalaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																	<option value="766f69643132333435366964">-</option>
																	{{#each salas}}
																		<option value="{{_id}}">{{sala_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">													
														<label> Observação de agenda</label>
														<div class="form-group">
															<div class="col-xs-12 ">
																<input type="text" id="agendaObs" name="agendaObs" class="form-control" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="hidden">
										<input id="agendaData" name="agendaData" type="date" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-3"><!-- Widget de Exceções -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Exceções</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3"><!-- Widget Quadro de sessões -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Quadro de sessões</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
													<div id="blocoSessoes" name="nameless"><!-- Div que recebe a tabela pronta, escolhida pelo usuário, na hora do input do beneficiário -->
													</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-offset-3 col-xs-12" style="align-items: center;">
									<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										Cancelar
									</button>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->

		
	
	</body>
</html>
