<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Substituição de Terapias</title>
		<script type="text/javascript">
			
			function formataDataIni(){
				let fulldate=(document.getElementById('dataIni').value+' 00:00:00.000Z').toString();
				document.getElementById('agendaDataIni').value = fulldate;
				//console.log("dataFinal:"+document.getElementById('dataFinal').value);
			}
			function formataDataFim(){
				let fulldate=(document.getElementById('dataFim').value+' 00:00:00.000Z').toString();
				document.getElementById('agendaDataFim').value = fulldate;
				//console.log("dataFinal:"+document.getElementById('dataFinal').value);
			}
		
		</script>
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Substituição de Terapias</a>
							</li>

							<li class="active"> - Pontual</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/agenda/agendaSubTerapiaEdi" method="POST">
								<div class="col-xs-12" name="ident" id="ident"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">
												<i class="red ace-icon fa fa-bookmark-o bigger-110"></i>
												Alteração de Terapia</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>
													<strong>Importante!</strong>
													Utilizado para correção de agenda e atendimentos. O alcance da alteração depende do que for preenchido na data e dados originais e a troca depende dos dados de substituto.
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Data Inicial</label>
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<input name="dataIni" id="dataIni" type="date" style="width: 200px;" onchange="javascript:formataDataIni();" >
																	<input class="hidden" name="agendaDataIni" id="agendaDataIni" >
																</div>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-12 col-sm-6">
														<label for="id-date-picker-1">Data Final</label>
														<div class="row">
															<div class="col-sm-6">
																<div class="input-group">
																	<input name="dataFim" id="dataFim" type="date" style="width: 200px;" onchange="javascript:formataDataFim();" >
																	<input class="hidden" name="agendaDataFim" id="agendaDataFim" >
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-12" >
														<label>Beneficiário</label>
														<div class="form-group" >
															<div class="col-sm-6">
																<select name="agendaBeneid" id="agendaBeneid" class="chosen-select" data-placeholder="Escolha..." >
																	<option value="-">-</option>
																	{{#each benes}}
																		<option value="{{_id}}">{{bene_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
														<label>Terapeuta Original</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select id="agendaTerapeutaid" name="agendaTerapeutaid" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	{{#each terapeutas}}
																		<option value="{{_id}}">{{usuario_nome}}</option>
																	{{/each}}
																</select>
															</div>
															<div class="col-xs-12 col-sm-6">
																<label>Terapeuta Substituto</label>
																<div class="row">
																	<div class="col-sm-6">
																		<select id="agendaTerapeutaSubsid" name="agendaTerapeutaSubsid" class="chosen-select" data-placeholder="Escolha...">
																			<option value="-">-</option>
																			{{#each terapeutas}}
																				<option value="{{_id}}">{{usuario_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12" >
														<label>Terapia Original</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select name="agendaTeraFindid" id="agendaTeraFindid" class="chosen-select" data-placeholder="Escolha..." >
																	<option value="-">-</option>
																	{{#each terapias}}
																		<option value="{{_id}}">{{terapia_nome}}</option>
																	{{/each}}
																</select>
															</div>
															<div class="col-xs-12 col-sm-6">
																<label>Terapia Substituto</label>
																<div class="row">
																	<div class="col-sm-6">
																		<select id="agendaTpiaSubsid" name="agendaTpiaSubsid" class="chosen-select" data-placeholder="Escolha...">
																			<option value="-">-</option>
																			{{#each terapias}}
																				<option value="{{_id}}">{{terapia_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12" >
														<label>Convênio Original</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select name="agendaConvid" id="agendaConvid" class="chosen-select" data-placeholder="Escolha..." >
																	<option value="-">-</option>
																	{{#each convs}}
																		<option value="{{_id}}">{{conv_nome}}</option>
																	{{/each}}
																</select>
															</div>
															<div class="col-xs-12 col-sm-6">
																<label>Convênio Substituto</label>
																<div class="row">
																	<div class="col-sm-6">
																		<select name="agendaConvSubsid" id="agendaConvSubsid"  class="chosen-select" data-placeholder="Escolha..." style="width: 500px;">
																			<option value="-">-</option>
																			{{#each convs}}
																				<option value="{{_id}}">{{conv_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12" >
														<label>Abrangência</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select id="agendaAbra" name="agendaAbra" class="chosen-select" data-placeholder="Escolha...">
																	<option value="-">-</option>
																	<option value="agenda">Somente Agenda</option>
																	<option value="atend">Somente Atendimento</option>
																	<option value="ambos">Ambos</option>
																</select>
															</div>
															<div class="col-xs-12 col-sm-6">
																<label>Categoria</label>
																<div class="row">
																	<div class="col-sm-6">
																		<select id="agendaCategoria" name="agendaCategoria" class="chosen-select" data-placeholder="Escolha a opção..." onload="javascript:ajustaOption()"  onchange="javascript: mudaSubis()">
																			<option value="-">-</option>
																			<option id="Apoio" value="Apoio">Apoio</option>
																			<option id="Extra" value="Extra">Extra</option>
																			<option id="Falta" value="Falta">Falta</option>
																			<option id="Glosa" value="Glosa">Glosa</option>
																			<option id="Padrão" value="Padrão">Padrão</option>
																			<option id="Pais" value="Pais">Pais</option>
																			<option id="Substituto" value="Substituto">Substituto</option>
																			<option id="SubstitutoFixo" value="SubstitutoFixo">Substituto Fixo</option>
																			<option id="Supervisão" value="Supervisão">Supervisão</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>
													<strong>Importante!</strong>
													Onde vai alterar, somente na agenda, somente no atendimentos já criados, ou em ambos.<br>
													Se não escolher uma das três opções válidas, a requisição de alteração não é processada.<br>
													Apenas preencha a categoria para alterar a mesma, se o campo <strong>Categoria</strong> estiver preenchido apenas ele será alterado.
												</div>
												<div class="row">
													<div class="col-xs-12" >
														<label>Valor da Terapia pelo Plano</label>
														<div class="form-group">
															<div class="col-sm-6">
																<input type="text" name="atendValorcre" id="atendValorcre" placeholder="" class="form-control" value="-" style="width: 500px;" />
															</div>
															<div class="col-xs-12 col-sm-6">
																<label>Valor da Terapia para o Terapeuta</label>
																<div class="row">
																	<div class="col-sm-6">
																		<input type="text" name="atendValordeb" id="atendValordeb" placeholder="" class="form-control" value="-" style="width: 500px;" />
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12" >
														<label>Terapeuta Substituto Fixo</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select id="agendaTerapeutaMergeSubsid" name="agendaTerapeutaMergeSubsid" class="chosen-select" data-placeholder="Escolha...">
																<option value="-">-</option>
																{{#each terapeutas}}
																	<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
															</div>
															<div class="col-xs-12 col-sm-6">
																<label>Terapia Substituto Fixo</label>
																<div class="row">
																	<div class="col-sm-6">
																		<select id="agendaTerapiaMergeSubsid" name="agendaTerapiaMergeSubsid" class="chosen-select" data-placeholder="Escolha...">
																			<option value="-">-</option>
																			{{#each terapias}}
																				<option value="{{_id}}">{{terapia_nome}}</option>
																			{{/each}}
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="alert alert-warning">
													<button type="button" class="close" data-dismiss="alert">
														<i class="ace-icon fa fa-times"></i>
													</button>
													<strong>Importante!</strong>
													Caso preencha os substitutos fixos a agenda e/ou atendimento receberá a categoria <strong>Substituto Fixo</strong> e apenas os dados <strong>Terapeuta Substituto Fixo</strong> e <strong>Terapia Substituto Fixo</strong> serão alterados.
												</div>
											</div>
										</div>		
									</div>
									<div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">
											<i class="ace-icon fa fa-times"></i>
										</button>
										<strong>Atenção!</strong>
										Cuidado com alterações em exercicios ou meses já apurados/encerrados o financeiro,
										pois essa rotina altera "TUDO" dentro do intervalo especificado.
										<strong>Confira tudo antes de Prosseguir.</strong>
									</div>
								</div>
			
							

								<div class="space-4"></div>							
								<div class="space-4"></div>
								<br>
								<div class="form-actions">
									
									<div class="col-xs-12" style="text-align: center;" >
										<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Alterar!
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>