<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Agendamentos Cadastro Fixo</title>
		<script type="text/javascript">
			function controlaCategoria(){
				let origem = document.getElementById("agendaOrg").value;
				if(origem == "Padrão"){
					document.getElementById("agendaCateg").value = "Padrão";
					document.getElementById("Padrão").style.display = "";
					document.getElementById("Falta").style.display = "none";
					document.getElementById("Apoio").style.display = "none";
					document.getElementById("Supervisão").style.display = "none";
					document.getElementById("Pais").style.display = "none";
					document.getElementById("Glosa").style.display = "none";
					document.getElementById("Extra").style.display = "none";
					document.getElementById("SubstitutoFixo").style.display = "none";
				} else {
					document.getElementById("agendaCateg").value = "Apoio";
					document.getElementById("Padrão").style.display = "none";
					document.getElementById("Falta").style.display = "";
					document.getElementById("Apoio").style.display = "";
					document.getElementById("Supervisão").style.display = "";
					document.getElementById("Pais").style.display = "";
					document.getElementById("Glosa").style.display = "";
					document.getElementById("Extra").style.display = "";
					document.getElementById("SubstitutoFixo").style.display = "";
				}
				this.mudaSubis();
			}
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("agendaBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("agendaConvid").value = v1;
			}
			function atualizaConvId(){
				let convId = document.getElementById("agendaConvid").value;
				console.log(convId)
			}
			function carregaBody(){
				let data= new Date();
				let mes = (data.getMonth()+1).toString();
				let dia = (data.getUTCDate()).toString();
				if (mes.length == 1){
					mes = "0"+mes;
				}
				if (dia.length == 1){
					dia = "0"+dia;
				}
				let fulldate=(data.getFullYear()+"-"+mes+"-"+dia).toString();
				document.getElementById("agendaData").value = fulldate;
				document.getElementById("agendaExtra").value = "false";
				document.getElementById("agendaExtra").checked = true;
				document.getElementById("agendaExtra").checked = false;
				console.log("carregou!");
			}
			function alteraMigrado(){
				let chck = document.getElementById("agendaMigrado");
				if(chck.checked){
					chck.value="true";
					console.log(chck.value);
				} else {
					chck.value="false";
					console.log(chck.value);
				}
			}
			function alteraCheck(checkboxid, elementoid){
				let chck = document.getElementById(checkboxid);
				let elemento = document.getElementById(elementoid);
				if(chck.checked){
					elemento.value="true";
				} else {
					elemento.value="false";
				}
			}
			function mudaSubis() {
				let tipodoc = document.getElementById("agendaCateg").value;
				console.log(tipodoc);
				if (tipodoc == "SubstitutoFixo") {
					document.getElementById('widgetboxSubs').style.display = 'block';
				} else {
					document.getElementById('widgetboxSubs').style.display = 'none';
					
				}
   			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody();controlaNave();controlaCategoria();">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Agendamentos Cadastro Fixo</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#compareString flash.sucesso "true"}}
						<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-block alert-success">
							<p>
								<strong>
									<i class="ace-icon fa fa-check"></i>
									{{flash.texto}}
								</strong>
								<button type="button" class="close" onclick="javascript:OcultaMsg()">
									<i class="ace-icon fa fa-times"></i>
								</button>
							</p>
						</div>
						<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-success">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
					{{else}}
						{{#compareString flash.sucesso "false"}}
							<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">
								<p>
									<strong>
										<i class="ace-icon fa fa-times"></i>
										{{flash.texto}}
									</strong>
									<button type="button" class="close" onclick="javascript:OcultaMsg()">
										<i class="ace-icon fa fa-times"></i>
									</button>
								</p>
							</div>
							<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
						{{else}}
						{{/compareString}}
					{{/compareString}}
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/agenda/add" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Agendamentos Fixos</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row">
													<div class="col-xs-12 col-sm-4">
														<label for="id-date-picker-1">Data Agendamento</label>
														<div class="row">
															<div class="col-sm-4">
																<div class="input-group">
																	<input name="agendaData" id="agendaData" type="date" style="width: 200px;" >
																</div>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-12 col-sm-4">
														<label for="id-date-picker-1">Hora Agendamento</label>
														<div class="form-group">
															<div class="col-sm-8">
																<select name="agendaHora" id="agendaHora" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each horaages}}
																		<option value="{{horaage_hora}}">{{horaage_hora}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-4">													
														<label style="color: crimson;">Extraordinário: </label>
														<div class="form-group">
															<div class="col-sm-4" style="width: 300px;">
																<input class="hidden" id="agendaExtra" name="agendaExtra" value="false" />
																<input id="extra" name="extra" type="checkbox" onchange="javascript:alteraCheck('extra','agendaExtra');" />
																<label style="color: crimson;">Marque somente em caso de agendamento Extraordinário.</label>
																<span id="spamid" class="lbl"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<label>Origem Agendamento</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaOrg" name="agendaOrg" class="chosen-select" data-placeholder="Escolhaa a opção..."  onchange="javascript:controlaCategoria()">
																	<option value="Padrão">Padrão</option>
																	<option value="Administrativo">Administrativo</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<label>Categoria</label>
														<div class="form-group">
															<div class="col-sm-9">
																<select id="agendaCateg" name="agendaCateg" class="chosen-select" data-placeholder="Escolha a opção..." onload="javascript:ajustaOption()"  onchange="javascript: mudaSubis()">
																	<option id="Apoio" value="Apoio">Apoio</option>
																	<option id="Extra" value="Extra">Extra</option>
																	<option id="Falta" value="Falta">Falta</option>
																	<option id="Glosa" value="Glosa">Glosa</option>
																	<option id="Padrão" value="Padrão" style="display: none;">Padrão</option>
																	<option id="Pais" value="Pais">Pais</option>
																	<option id="SubstitutoFixo" value="SubstitutoFixo">Substituto Fixo</option>
																	<option id="Supervisão" value="Supervisão">Supervisão</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row" >
													<div class="col-xs-12">
														<label>Beneficiário</label>
														<div class="hidden" class="col-sm-5">
															{{#each benes}}
																{{#each ../convs}}
																	{{#ifEqual ../bene_convid _id}}
																		<input value="{{../bene_convid}}" id="{{../_id}}" name="refAgendaConvid" />
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</div>
														<div class="form-group" >
															<div class="col-xs-9 col-sm-9">
																<select class="col-xs-9 col-sm-9" name="agendaBeneid" id="agendaBeneid" class="chosen-select" data-placeholder="Escolha..."  onchange="javascript:selectConv()">
																	<option value="766f69643132333435366964">-</option>
																	{{#each benes}}
																		<option value="{{_id}}">{{bene_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
													<div class="col-xs-9 col-sm-9">
														<label>Convênio</label>
														<div class="form-group"  >
															<div class="col-xs-9 col-sm-9" >
																<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" name="agendaConvid"  id="agendaConvid" class="chosen-select" data-placeholder="Escolha..." >
																	{{#each benes}}
																		{{#each ../convs}}
																			{{#ifEqual ../bene_convid _id}}
																				<option value="{{../bene_convid}}">{{conv_nome}}</option>
																			{{/ifEqual}}
																		{{/each}}
																	{{/each}}
																</select>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-9 col-sm-9">
														<label>Terapeuta</label>
														<div class="form-group">
															<div class="col-xs-9 col-sm-9">
																<select name="agendaUsuid" id="agendaUsuid" class="chosen-select" data-placeholder="Escolha..." >
																	<option value="766f69643132333435366964">-</option>
																	{{#each terapeutas}}
																	<option value="{{_id}}">{{usuario_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>												
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">													
														<label>Terapia</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select name="agendaTerapiaid" id="agendaTerapiaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																	<option value="766f69643132333435366964">-</option>
																	{{#each terapias}}
																		<option value="{{_id}}">{{terapia_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-sm-6">
														<div class="widget-box" name="widgetboxSubs" id="widgetboxSubs" style="display:none">
															<div class="widget-header">
																<h4 class="widget-title">Dados para Substituto Fixos</h4>
																<span class="widget-toolbar">
																	<a href="#" data-action="collapse">
																		<i class="ace-icon fa fa-chevron-up"></i>
																	</a>
																</span>
															</div>
															<div class="widget-body">
																<div class="widget-main">
																	<div class="alert alert-warning">
																		<button type="button" class="close" data-dismiss="alert">
																			<i class="ace-icon fa fa-times"></i>
																		</button>
																		<strong>Importante!</strong>
																		Dados necessárias para os agendamentos Substituto Fixo.<br>
																		Quando O terapeuta está sem carimbo ou não pode receber diretamente do plano pelo seu atendimento.<br>
																		Se faz necessário substituir por algum Terapeuta e Terapia elegível à cobrança junto aos planos.
																	</div>
																	<label>Terapeuta</label>
																	<div class="form-group">
																		<div class="col-sm-5">
																			<select id="agendaMergeterapeutaid" name="agendaMergeterapeutaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaMergeTerapeutaId()">
																				<option value="766f69643132333435366964">-</option>
																				{{#each terapeutas}}
																					<option value="{{_id}}">{{usuario_nome}}</option>
																				{{/each}}
																			</select>
																		</div>
																	</div>												
																	<label>Terapia</label>
																	<div class="form-group">
																		<div class="col-sm-4">
																			<select id="agendaMergeterapiaid" name="agendaMergeterapiaid" class="chosen-select" data-placeholder="Escolha..." onclick="javascript:carregaValoresMerge()">
																					<option value="766f69643132333435366964">-</option>
																					{{#each terapias}}
																						<option value="{{_id}}">{{terapia_nome}}</option>
																					{{/each}}
																			</select>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div><!-- /.span -->
												</div>
												<div class="row">
													<div class="col-xs-6">													
														<label>Salas</label>
														<div class="form-group">
															<div class="col-sm-6">
																<select name="agendaSalaid" id="agendaSalaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																	<option value="766f69643132333435366964">-</option>
																	{{#each salas}}
																		<option value="{{_id}}">{{sala_nome}}</option>
																	{{/each}}
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">													
														<label> Observação de agenda</label>
														<div class="form-group">
															<div class="col-xs-12 ">
																<input type="text" id="agendaObs" name="agendaObs" class="form-control" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								<div class="hidden">
									<input id="agendaData" name="agendaData" type="date" />
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>
								<div class="form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>
										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Cancelar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>
