<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Agenda Beneficiário</title>
		<meta name="description" content="Static &amp; Dynamic Tables">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- page specific plugin styles -->
		<!-- text fonts -->
		<link rel="stylesheet" href="../../assets/css/fonts.googleapis.com.css">
		<!-- ace styles -->
		<link rel="stylesheet" href="../../assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">
		<link rel="stylesheet" href="../../assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<link rel="stylesheet" href="../../assets/css/ace-skins.min.css">
		<link rel="stylesheet" href="../../assets/css/ace-rtl.min.css">
 	    <link rel="stylesheet" href="../../assets/css/ace-ie.min.css" />
		<!-- inline styles related to this page -->
		<!-- ace settings handler -->	
		<script src="../../assets/js/ace-extra.min.js"></script>
		<style>@keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-moz-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-webkit-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-ms-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-o-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}.ace-save-state{animation-duration:10ms;-o-animation-duration:10ms;-ms-animation-duration:10ms;-moz-animation-duration:10ms;-webkit-animation-duration:10ms;animation-delay:0s;-o-animation-delay:0s;-ms-animation-delay:0s;-moz-animation-delay:0s;-webkit-animation-delay:0s;animation-name:nodeInserted;-o-animation-name:nodeInserted;-ms-animation-name:nodeInserted;-moz-animation-name:nodeInserted;-webkit-animation-name:nodeInserted}</style>
		<script src="../../assets/js/html5shiv.min.js"></script>
		<script src="../../assets/js/respond.min.js"></script>

		<script type="text/javascript">
			function atualizaData(){
				var dataIso = document.getElementById("dataAg").value+"T"+document.getElementById("agendaHora").value+":00.000Z";
				var dataFmt = new Date(dataIso);
				console.log(dataIso);
				document.getElementById("agendaData").value = dataFmt;
			}
			function carregaBody(){
				let dias = ["seg","ter","qua","qui","sex"];
				try{
					dias.forEach((dia)=>{
						console.log("dia:"+dia)
						document.getElementsByName(dia).forEach((e)=>{
							let id = "hora"+e.id;
							let valor = e.value;
							console.log("valor")
							console.log(valor)
							//console.log("id")
							//console.log(id)
							if(valor != "766f69643132333435366964"){
								if(e.id.indexOf("TerapiaId_") != -1){
									let val = document.getElementById(valor).cloneNode(true);
									val.id = val.id+"x";
									//console.log("val")
									//console.log(val)
									document.getElementById(id).append(val);
								} else if(e.id.indexOf("TeraId_") != -1){//caso não seja ação precisa obter o nome do bene/tera pelos outros registros através do atributo valor q armazena o ID do mesmo
									let val = document.getElementById(valor).cloneNode(true);
									val.id = val.id+"x";
									//console.log("val")
									//console.log(val)
									document.getElementById(id).append(val);
								}
							}
						})
						document.getElementsByName(dia).forEach((e)=>{
							if(e.id.indexOf("AcaoId_") != -1){//se for a ação vai retornar a posição da string e caso não -1
								let id = "hora"+e.id;//td para receber o append
								console.log("id:"+id)
								let el = document.getElementById(e.id);//elemento da acao
								console.log("el:"+el)
								document.getElementById(id).append(el);
								//elemento td recebendo acao
							}
						})
					})
					//horasegTerapiaId_
				} catch(err){
					console.log(err)
				}
			}
			function formataData(){
				let dat = new Date(document.getElementById('dataFil').value);
				let mes = (dat.getMonth()+1).toString();
				let dia = (dat.getUTCDate()).toString();
				if (mes.length == 1){
					mes = "0"+mes;
				}
				if (dia.length == 1){
					dia = "0"+dia;
				}
				let fulldate=(dat.getFullYear()+"-"+mes+"-"+dia+' 00:00:00.000Z').toString();
				document.getElementById('dataFinal').value = fulldate;
				console.log("dataFinal:"+document.getElementById('dataFinal').value);
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody();">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Agenda Beneficiário</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#if error}}
						<div class="alert alert-danger">{{error}}</div>
					{{else}}
					{{/if}}
					<div class="hidden" id="divCarrega" name="divCarrega">
						<input id="766f69643132333435366964" value="&nbsp;" />
						{{#each agendas}}
							{{#compareThis agenda_terapiaid "766f69643132333435366964"}}
							<!-- VOID -->
							{{else}}
							<input id="{{agenda_data_semana}}TerapiaId_{{agenda_hora}}" name="{{agenda_data_semana}}" value="{{agenda_terapiaid}}" />
							<input id="{{agenda_data_semana}}TeraId_{{agenda_hora}}" name="{{agenda_data_semana}}" value="{{agenda_usuid}}" />
							<div style="display: block;padding-top:2px;padding-bottom:2px;" id="{{agenda_data_semana}}AcaoId_{{agenda_hora}}" name="{{agenda_data_semana}}">
								<a class="blue" href="/menu/agenda/edi/{{_id}}">
									<i class="ace-icon fa fa-pencil bigger-130"></i>
								</a>
								<a class="red" href="/menu/agenda/del/{{_id}}">
									<i class="ace-icon fa fa-trash-o bigger-130"></i>
								</a>
							</div>
							{{/compareThis}}
						{{/each}}
						{{#each terapeutas}}
							<input style="width:85px;border:0px;margin-bottom: 2px;" readonly="true" id="{{_id}}" value="{{usuario_nome}}" />
						{{/each}}
						{{#each terapias}}
							<input style="width:85px;border:0px;margin-bottom: 2px;" readonly="true" id="{{_id}}" value="{{terapia_nome}}" />
						{{/each}}
					</div>
					<form class="form-horizontal" role="form" action="/menu/agenda/filB" method="POST">
						<div class="breadcrumbs" id="pesquisaAge" style="height: 125px;">
							<div class="col-xs-20 col-sm-3">
								<div>
									<label id="beneFilDiv">Beneficiário:</label>
									<select id="agendaBeneid" name="agendaBeneid" data-placeholder="Escolha...">
										{{#each benes}}
											<option value="{{_id}}">{{bene_apelido}}</option>
										{{/each}}
									</select>
									<!--<input class="hidden" style="height: 30px; width:295px;" id="filtro" name="filtro" type="text">-->
								</div>
								<div>
									<label>Data:</label>
									<input style="height: 30px;" id="dataFil" name="dataFil" type="date" onchange="javascript:formataData()">
									<input class="hidden" id="dataFinal" name="dataFinal" />
									<button name="acaoPesquisar" id="acaoPesquisar" type="submit" style="margin-left: 25px;">
										<i class="ace-icon fa fa-search-plus "></i>
									</button>
								</div>
							</div>
							<!--
							<div class="col-xs-16 col-sm-3">	
								<div class="alert alert-danger">
									<strong>
									Agenda
									</strong>
									<br>
									{{#each agendas}}
										{{#isNull agenda_obs}}
										{{else}}
											<label>{{agenda_data_semana}} : {{agenda_hora}} - {{agenda_obs}}</label>
											<br>
										{{/isNull}}
									{{/each}}
									<br>
								</div>
							</div>
							-->
							<div class="col-xs-16 col-sm-3">	
								<div class="alert alert-warning">
									<strong>
									Beneficiário
									</strong>
									<br>
									{{bene.bene_obs}}
									<br>
								</div>
							</div>
						</div>
					</form>
						<div class="tab-content"><!-- .tab-contente -->
							<div class="row">
								<div class="col-xs-16 col-sm-9">
									<div id="seg" class="tab-pane fade active in"><!-- .fade-tab-seg -->
										<table class="table table-sm table-bordered" style="font-size: 9px;"  id="dynamic-table" role="grid" aria-describedby="dynamic-table_info">
											<thead>
												<tr role="row">
													<th class="center" class="colgroup" aria-controls="dynamic-table" rowspan="1" colspan="16">
														<b>	
															<form class="form-horizontal" role="form" action="/menu/agenda/copiaDia" method="POST">
																<input class="hidden" id="data" name="data" value="" />
																<div>{{benenomeconv}}</div><!-- se for tipo tera colocar nome do tecnico só-->
															</form>
														</b> 
													</th>
												</tr>
												<tr role="row">
													<th style="width: 50px;" tabindex="0" rowspan="1" colspan="1" >&nbsp;</th>
													<th tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{segunda}}</th>
													<th tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{terca}}</th>
													<th tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{quarta}}</th>
													<th tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{quinta}}</th>
													<th tabindex="5" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{sexta}}</th>
												</tr>
												<tr role="row">	
													<th style="width: 50px;" tabindex="0" rowspan="1" colspan="1" ><b>Hora</b></th>
													<th tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
													<th tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Ação&ensp;</th>
													<th tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
													<th tabindex="5" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th tabindex="6" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Ação&ensp;</th>
													<th tabindex="7" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
													<th tabindex="8" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th tabindex="9" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Ação&ensp;</th>
													<th tabindex="10" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
													<th tabindex="11" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th tabindex="12" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Ação&ensp;</th>
													<th tabindex="13" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
													<th tabindex="14" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th tabindex="15" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Ação&ensp;</th>
												</tr>
											</thead>
											{{#each horaages}}
											<tbody>
												<tr role="row" class="odd">
													<td style="width: 50px;">{{horaage_hora}}</td>
													<td id="horasegTeraId_{{horaage_hora}}"></td>
													<td id="horasegTerapiaId_{{horaage_hora}}"></td>
													<td id="horasegAcaoId_{{horaage_hora}}"></td>
													<td id="horaterTeraId_{{horaage_hora}}"></td>
													<td id="horaterTerapiaId_{{horaage_hora}}"></td>
													<td id="horaterAcaoId_{{horaage_hora}}"></td>
													<td id="horaquaTeraId_{{horaage_hora}}"></td>
													<td id="horaquaTerapiaId_{{horaage_hora}}"></td>
													<td id="horaquaAcaoId_{{horaage_hora}}"></td>
													<td id="horaquiTeraId_{{horaage_hora}}"></td>
													<td id="horaquiTerapiaId_{{horaage_hora}}"></td>
													<td id="horaquiAcaoId_{{horaage_hora}}"></td>
													<td id="horasexTeraId_{{horaage_hora}}"></td>
													<td id="horasexTerapiaId_{{horaage_hora}}"></td>
													<td id="horasexAcaoId_{{horaage_hora}}"></td>										
												</tr>
											</tbody>
											{{/each}}
										</table>
									</div>
								</div>
								<div class="col-xs-16 col-sm-3">	
									<div class="alert alert">
										<br>
										<br>
										<br>
									</div>
								</div>
								<!--
								<div class="col-xs-16 col-sm-3">	
									<div class="alert alert-info">
										<strong>
										Técnico
										</strong>
										<br>
										
										<br>
									</div>
								</div>
								-->
							</div>
						</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
	</body>
</html>