<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Agenda Fixa</title>
		
		<script type="text/javascript">
			function mudaAcao(acaoNome){
				document.getElementById("acaoForm").action = acaoNome;
				document.getElementById("acaoForm").submit();
			}
			function atualizaData(){
				var dataIso = document.getElementById("dataAg").value+"T"+document.getElementById("agendaHora").value+":00.000Z";
				var dataFmt = new Date(dataIso);
				//console.log(dataIso);
				document.getElementById("agendaData").value = dataFmt;
			}
			function carregaBody(){
				let dias = ["seg","ter","qua","qui","sex"];
				let ds = [];
				try{
					console.log("carrega bode")
					document.getElementsByName("sala_id").forEach((si)=>{
						//console.log(si);
						dias.forEach((dia)=>{
							//console.log("dia_salaid:"+dia+"_"+si)
							ds.push(dia+"_"+si.value);
						})
					})
					console.log("pos foreche")
					
					ds.forEach((dia_sala)=>{
						let dia_sala_tipo = dia_sala + "_Bene"
						document.getElementsByName(dia_sala_tipo).forEach((e)=>{
							let id = "hora"+e.id;//td para receber o append
							
								let valor = e.value;//valor para indexar no td
								//console.log("valor:"+valor)
								//console.log("ELEMENTO VALOR:"+document.getElementById(valor))
								if(document.getElementById(valor) != null){
									let val = document.getElementById(valor).cloneNode(true);
									val.id = val.id+"x";
									document.getElementById(id).append(val);
									let br = document.getElementById("quebraLinhas").cloneNode(true)
									document.getElementById(id).append(br);
								}
						})
								
					
						dia_sala_tipo = dia_sala + "_Tera"
						document.getElementsByName(dia_sala_tipo).forEach((e)=>{
							let id = "hora"+e.id;//td para receber o append
							
								let valor = e.value;//valor para indexar no td
								//console.log("valor:"+valor)
								let val = document.getElementById(valor).cloneNode(true);
								val.id = val.id+"x";
								document.getElementById(id).append(val);
								let br = document.getElementById("quebraLinhas").cloneNode(true)
								document.getElementById(id).append(br);
						})
					
						dia_sala_tipo = dia_sala + "_Acao"
						document.getElementsByName(dia_sala_tipo).forEach((e)=>{
							let id = "hora"+e.id;//td para receber o append
								let val = e.cloneNode(true);
								val.id = val.id+"x";
								document.getElementById(id).append(val);
						})
					})
				} catch(err){
					console.log(err)
				}
			}
			function formataData(){
				let fulldate=(document.getElementById('dataFil').value+' 00:00:00.000Z').toString();
				document.getElementById('dataFinal').value = fulldate;
				console.log("dataFinal:"+document.getElementById('dataFinal').value);
			}
			function testeConfirmCopia(acao){
				if(confirm("Tem certeza que quer copiar a semana?")){
					alert("Aguarde alguns instantes, isso pode demorar um pouco");
					this.mudaAcao(acao);
					document.getElementById("acaoForm").submit();
				}
			}
			function testeConfirmConvert(acao, msg){
				if(confirm(msg)){
					if(document.getElementById("dataFil").value == ''){
						alert("O campo de data é utilizado para determinar a semana e precisa ser preenchido!");
					} else {
						alert("Aguarde alguns instantes, isso pode demorar um pouco");
						this.mudaAcao(acao);
						document.getElementById("acaoForm").submit();
					}
				}
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody();controlaNave();">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Agenda Fixa</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#if error}}
						<div class="alert alert-danger">{{error}}</div>
					{{else}}
					{{/if}}
					<div class="hidden" id="divCarrega" name="divCarrega">
						<input id="766f69643132333435366964" value="&nbsp;" />
						<i id="icone_pessoa" class="fa-solid fa-circle-user"></i>
						<br id="quebraLinhas">
						{{#each agendas}}
							<input id="{{agenda_data_semana}}BeneId_{{agenda_hora}}_{{agenda_salaid}}" name="{{agenda_data_semana}}_{{agenda_salaid}}_Bene" value="{{agenda_beneid}}" />
							<input id="{{agenda_data_semana}}TeraId_{{agenda_hora}}_{{agenda_salaid}}" name="{{agenda_data_semana}}_{{agenda_salaid}}_Tera" value="{{agenda_usuid}}" />
							<div style="display: block;padding-top:2px;padding-bottom:2px;" id="{{agenda_data_semana}}AcaoId_{{agenda_hora}}_{{agenda_salaid}}" name="{{agenda_data_semana}}_{{agenda_salaid}}_Acao">
								<a class="blue" href="/menu/agenda/edi/{{_id}}">
									<i class="ace-icon fa fa-pencil bigger-130"></i>
								</a>
								<a class="red" href="/menu/agenda/del/{{_id}}">
									<i class="ace-icon fa fa-trash-o bigger-130"></i>
								</a>
							</div>
						{{/each}}
						
						{{#each benes}}
							<label style="width:85px;border:0px;margin-bottom: 2px;font-size:10px;" id="{{_id}}">{{bene_apelido}}</label>
						{{/each}}

						{{#each terapeutas}}
							<label style="width:85px;border:0px;margin-bottom: 2px;font-size:10px;" id="{{_id}}">{{usuario_nome}}</label>
						{{/each}}
					</div>
					<form id="acaoForm" class="form-horizontal" role="form" action="/menu/agenda/filF" method="POST">
						<div class="breadcrumbs" id="pesquisaAge">
							<div class="row">
								<div class="col-xs-12" style="text-align: center;" >
									
									<div class="col-xs-3">
										<div class="input-group">
											<label>Data: </label>
											<input style="height: 30px;" id="dataFil" name="dataFil" type="date" onchange="javascript:formataData();">
											<input class="hidden" id="dataFinal" name="dataFinal" />
											<button name="acaoPesquisar" id="acaoPesquisar" type="button" class="btn btn-xs btn-info " style="margin-left: 25px;" onclick="javascript:mudaAcao('/menu/agenda/filF');">
												<i class="ace-icon fa fa-search-plus "></i>
											</button>
											<input class="hidden" id="data" name="data" value="{{dtFill}}" />
											{{data}}
										</div>
									</div>
									<div class="col-xs-2">
										<div class="input-group">
											<button name="acaoCopiar" id="acaoCopiar" type="button" class="btn btn-xs btn-danger" onclick="javascript:testeConfirmCopia('/menu/agenda/copiaSemana');">
											<i class="ace-icon fa fa-bolt bigger-110"></i>
											Copiar Semana
											</button>
											<input class="hidden" id="data2" name="data2" value="{{data}}" style="margin-left: 25px;" />
										</div>
									</div>
									<div class="col-xs-3">
										<button name="acaoConverte" id="acaoConverte" type="button" class="btn btn-xs btn-warning" style="margin-left: 25px;" onclick="javascript:testeConfirmConvert('/menu/agenda/converteDia', 'Tem certeza que quer converter a semana em atendimento?');">
											<i class="ace-icon fa fa-fire bigger-110"></i>
											Converter Semana em Atendimento
										</button>
									</div>
									<div class="col-xs-2">
										<button name="acaoExtra" id="acaoExtra" type="button" class="btn btn-xs btn-info"  onclick="javascript:testeConfirmConvert('/menu/agenda/copiaExtraordinario','Tem certeza que quer converter os agendamentos extraordinarios em extras?');">
											<i class="ace-icon fa fa-fire bigger-110"></i>
											Exportar Extras da Semana
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="tab-content"><!-- .tab-contente -->
						<div class="row">
							<div class="col-xs-16 col-sm-12">
								<div id="seg" class="tab-pane fade active in"><!-- .fade-tab-seg -->
									{{#each salas}}
									<input class="hidden" name="sala_id" value="{{_id}}" />
									<table class="table table-sm table-bordered" style="font-size: 9px;"  id="dynamic-table" role="grid" aria-describedby="dynamic-table_info">
										<thead>
											<tr role="row">
												<th id="{{_id}}_SALA" class="center" class="colgroup" aria-controls="dynamic-table" rowspan="1" colspan="16">{{sala_nome}}</th>
											</tr>
											<tr  role="row">
												<th style="width: 50px;" tabindex="0" rowspan="1" colspan="1" >&nbsp;</th>
												<th style="text-align: center;" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{../segunda}}</th>
												<th style="text-align: center;" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{../terca}}</th>
												<th style="text-align: center;" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{../quarta}}</th>
												<th style="text-align: center;" tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{../quinta}}</th>
												<th style="text-align: center;" tabindex="5" aria-controls="dynamic-table" rowspan="1" colspan="3" >{{../sexta}}</th>
											</tr>
											<tr  role="row">	
												<th style="width: 50px;" tabindex="0" rowspan="1" colspan="1" ><b>Hora</b></th>
												<th tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
												<th tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" >Bene</th>
												<th tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Acao&ensp;</th>
												<th tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
												<th tabindex="5" aria-controls="dynamic-table" rowspan="1" colspan="1" >Bene</th>
												<th tabindex="6" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Acao&ensp;</th>
												<th tabindex="7" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
												<th tabindex="8" aria-controls="dynamic-table" rowspan="1" colspan="1" >Bene</th>
												<th tabindex="9" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Acao&ensp;</th>
												<th tabindex="10" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
												<th tabindex="11" aria-controls="dynamic-table" rowspan="1" colspan="1" >Bene</th>
												<th tabindex="12" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Acao&ensp;</th>
												<th tabindex="13" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
												<th tabindex="14" aria-controls="dynamic-table" rowspan="1" colspan="1" >Bene</th>
												<th tabindex="15" aria-controls="dynamic-table" rowspan="1" colspan="1" >&ensp;Acao&ensp;</th>
											</tr>
										</thead>
										{{#each ../horaages}}
										<tbody>
											<tr role="row" class="odd">
												<td style="width: 50px;">{{horaage_hora}}</td>
												<td id="horasegTeraId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horasegBeneId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horasegAcaoId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaterTeraId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaterBeneId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaterAcaoId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaquaTeraId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaquaBeneId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaquaAcaoId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaquiTeraId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaquiBeneId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horaquiAcaoId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horasexTeraId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horasexBeneId_{{horaage_hora}}_{{../_id}}"></td>
												<td id="horasexAcaoId_{{horaage_hora}}_{{../_id}}"></td>										
											</tr>
										</tbody>
										{{/each}}
									</table>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
	</body>
</html>