<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Atendimentos</title>
		<script type="text/javascript">
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("atendBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("atendConvid").value = v1;
				let convId = document.getElementById("atendConvid").value;
				console.log(convId)
				document.getElementById("tabilConvid").value = convId;
				console.log("feito!")
			}
			function carregaValores(){
				let teraId = document.getElementById("atendTerapiaid").value;
				document.getElementById("creditTerapiaid").value = teraId;
				document.getElementById("debitTerapiaid").value = teraId;
				if (document.getElementById("atendConvid").value == "X"){
					alert("Convênio não selecionado!");
				} else {
					try{
						let convId = document.getElementById("atendConvid").value
						document.getElementById("atendValorcre").value = document.getElementById(convId+"/"+teraId+"/cre").value;
						document.getElementById("atendValordeb").value = document.getElementById(convId+"/"+teraId+"/deb").value;
						document.getElementById("tabilValorcredit").value = document.getElementById(convId+"/"+teraId+"/cre").value;
						document.getElementById("tabilValordebit").value = document.getElementById(convId+"/"+teraId+"/deb").value;
					} catch(err){
						document.getElementById("atendValorcre").value = "0,00";
						document.getElementById("atendValordeb").value = "0,00";
						document.getElementById("tabilValorcredit").value = "0,00";
						document.getElementById("tabilValordebit").value = "0,00";
					}
				}
			}
			function carregaValoresMerge(){
				let teraId = document.getElementById("atendMergeTerapiaid").value;
				document.getElementById("creditMergeTerapiaid").value = teraId;
				document.getElementById("debitMergeTerapiaid").value = teraId;
				document.getElementById("tabilMergeTerapiaid").value = teraId;
				if (document.getElementById("atendConvid").value == "X"){
					alert("Convênio não selecionado!");
				} else {
					try{
						let convId = document.getElementById("atendConvid").value
						document.getElementById("atendMergevalorcre").value = document.getElementById(convId+"/"+teraId+"/cre").value;
						document.getElementById("atendMergevalordeb").value = document.getElementById(convId+"/"+teraId+"/deb").value;
					} catch(err){
						document.getElementById("atendMergevalorcre").value = "0,00";
						document.getElementById("atendMergevalordeb").value = "0,00";
					}
				}
			}
			function atualizaTerapeutaId(){
				console.log("X");
				console.log(document.getElementById("atendTerapeutaid").value);
				let ati = document.getElementById("atendTerapeutaid").value;
				console.log("C");
				console.log(document.getElementById("tabilTerapeutaId").value);
				document.getElementById("tabilTerapeutaId").value = ati;
			}
			function atualizaMergeTerapeutaId(){
				console.log(document.getElementById("atendMergeTerapeutaid").value);
				console.log("X");
				let amti = document.getElementById("atendMergeTerapeutaid").value;
			}
			function controlaCategoria(){
				let origem = document.getElementById("atendOrg").value;
				if(origem == "Padrão"){
					document.getElementById("atendCategoria").value = "Padrão";
					document.getElementById("Padrão").style.display = "";
					document.getElementById("Falta").style.display = "none";
					document.getElementById("Apoio").style.display = "none";
					document.getElementById("Supervisão").style.display = "none";
					document.getElementById("Pais").style.display = "none";
					document.getElementById("Substituto").style.display = "none";
					document.getElementById("Glosa").style.display = "none";
					document.getElementById("Extra").style.display = "none";
				} else {
					document.getElementById("atendCategoria").value = "Apoio";
					document.getElementById("Padrão").style.display = "none";
					document.getElementById("Falta").style.display = "";
					document.getElementById("Apoio").style.display = "";
					document.getElementById("Supervisão").style.display = "";
					document.getElementById("Pais").style.display = "";
					document.getElementById("Substituto").style.display = "";
					document.getElementById("Glosa").style.display = "";
					document.getElementById("Extra").style.display = "";
				}
			}
			function ajustaOption(){
				document.getElementById("Padrão").style.display = "none";
			}
			function carregaBody(){
				atualizaDataEdi();
				document.getElementById("atendHora").value = document.getElementById("atendHoraEdi").value;
				document.getElementById("atendOrg").value = document.getElementById("atendOrgEdi").value;
				document.getElementById("atendCategoria").value = document.getElementById("atendCategoriaEdi").value;
				document.getElementById("atendBeneid").value = document.getElementById("atendBeneidEdi").value;
				document.getElementById("atendConvid").value = document.getElementById("atendConvidEdi").value;
				document.getElementById("atendTerapeutaid").value = document.getElementById("atendTerapeutaidEdi").value;
				document.getElementById("atendTerapiaid").value = document.getElementById("atendTerapiaidEdi").value;
				document.getElementById("atendValorcre").value = document.getElementById("atendValorcreEdi").value;
				document.getElementById("atendValordeb").value = document.getElementById("atendValordebEdi").value;
				document.getElementById("atendEvolucao").value = document.getElementById("atendEvolucaoEdi").value;
				document.getElementById("atendMergeTerapeutaid").value = document.getElementById("atendMergeTerapeutaidEdi").value;
				document.getElementById("atendMergeTerapiaid").value = document.getElementById("atendMergeTerapiaidEdi").value;
				document.getElementById("atendMergevalorcre").value = document.getElementById("atendMergevalorcreEdi").value;
				document.getElementById("atendMergevalordeb").value = document.getElementById("atendMergevalordebEdi").value;
			}
			function atualizaData(){
				var data = document.getElementById("atenddata").value+"T"+document.getElementById("atendHora").value+":00.000Z";
				console.log("data:"+data);
				var datafmt = new Date(data);
				console.log("datafmt:"+datafmt);
				document.getElementById("atendAtenddata").value = datafmt.toISOString();
				//
				var dataIso = document.getElementById("dataAg").value+"T"+document.getElementById("agendaHora").value+":00.000Z";
				var dataFmt = new Date(dataIso);
				console.log(dataIso);
				document.getElementById("agendaData").value = dataFmt;
			}
			function atualizaDataEdi(){
				document.getElementById("atenddata").value = formataData(document.getElementById("atendAtenddataEdi").value);
			}
			function formataData(date) {//yyyy-MM-dd
				var d = new Date(date),
					month = '' + (d.getMonth() + 1),
					day = '' + d.getDate(),
					year = d.getFullYear();

				if (month.length == 1) {
					month = '0' + month;
				}
					
				if (day.length == 1) {
					day = '0' + day;
				}

				return [year, month, day].join('-');
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody()">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Atendimentos Cadastro</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/atendimento/atendadm/atualizar" method="POST">
								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Atendimento</h4>
											<div class="hidden">
												<input id="nextNum" name="nextNum" type="number"  value="{{atendEdi.atend_num}}" />
												<input id="atendId" name="atendId" type="number"  value="{{atendEdi._id}}" />
											</div>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												
												<label > Usuário </label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" id="atendUsuid" name="atendUsuid" class="form-control"  readonly="true" value="Usuário Atual"/>
													</div>
												</div>
												<label for="id-date-picker-1">Data Atendimento</label>
												<div class="row">
													<div class="col-sm-4">
														<div class="input-group">
															<input name="atenddata" id="atenddata" type="date" onchange="javascript:atualizaData()" />
														</div>
													</div>
												</div>
												<label for="id-date-picker-1">Hora Atendimento</label>
												<div class="row">
													<div class="col-sm-8">
														<select name="atendHora" id="atendHora" class="chosen-select" data-placeholder="Escolha..." >
															{{#each horaages}}
																<option value="{{horaage_hora}}">{{horaage_hora}}</option>
															{{/each}}
														</select>
													</div>
												</div>
												<label>Origem Atendimento</label>
												<div class="form-group">
														<div class="col-sm-9">
															<select id="atendOrg" name="atendOrg" class="chosen-select" data-placeholder="Escolhaa a opção..." onchange="javascript:controlaCategoria()">
																<option value="Administrativo">Administrativo</option>
																<option value="Padrão">Padrão</option>
															</select>
														</div>
												</div>
												<label>Categoria</label>
												<div class="form-group">
													<div class="col-sm-9">
														<select id="atendCategoria" name="atendCategoria" class="chosen-select" data-placeholder="Escolha a opção..." onload="javascript:ajustaOption()">
															<option id="Apoio" value="Apoio">Apoio</option>
															<option id="Extra" value="Extra">Extra</option>
															<option id="Falta" value="Falta">Falta</option>
															<option id="Falta Justificada" value="Falta Justificada">Falta Justificada</option>
															<option id="Glosa" value="Glosa">Glosa</option>
															<option id="Padrão" value="Padrão" style="display: none;">Padrão</option>
															<option id="Pais" value="Pais">Pais</option>
															<option id="Substituição" value="Substituição">Substituto</option>
															<option id="Supervisão" value="Supervisão">Supervisão</option>
														</select>
													</div>
													<input type="text" name="tabilCategoria" id="tabilCategoria" class="hidden" value="Padrão"/>
												</div>
												<label>Beneficiário</label>
												<div class="hidden">
													{{#each benes}}
														{{#each ../convs}}
															{{#ifEqual ../bene_convid _id}}
																<input value="{{../bene_convid}}" id="{{../_id}}" name="refBeneConv" />
															{{/ifEqual}}
														{{/each}}
													{{/each}}
													<input value="X" id="X" name="refBeneConv" />
												</div>
												<div class="form-group">
													<div class="col-sm-4">
														<select id="atendBeneid" name="atendBeneid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:selectConv()">
																<option value="X"></option>
																{{#each benes}}
																<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
														</select>
													</div>
												</div>
												<label>Convênio</label>
												<div class="hidden" id="divTabil">
													<input class="hidden" id="tabilConvid" name="tabilConvid" value="" />
												</div>
												<div class="form-group">
														<div class="col-sm-4">
															<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" id="atendConvid" name="atendConvid" class="chosen-select" data-placeholder="Escolha...">
																	<option value="X"></option>
																	{{#each benes}}
																		{{#each ../convs}}
																			{{#ifEqual ../bene_convid _id}}
																				<option value="{{../bene_convid}}">{{conv_nome}}</option>
																			{{/ifEqual}}
																		{{/each}}
																	{{/each}}
															</select>
														</div>
												</div>
												<label>Sala</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select id="atendSalaid" name="atendSalaid" class="chosen-select" data-placeholder="Escolha...">
																{{#each salas}}
																	<option value="{{_id}}">{{sala_nome}}</option>
																{{/each}}
														</select>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<!-- PAGE CONTENT BEGINS -->
														<div class="form-horizontal" role="form" method="POST">
															<div class="row">
																<div class="col-xs-12 col-sm-6">
																	<div class="widget-box">
																		<div class="widget-header">
																			<h4 class="widget-title">Dados Básicos</h4>
																			<div class="widget-toolbar">
																				<a href="#" data-action="collapse">
																					<i class="ace-icon fa fa-chevron-up"></i>
																				</a>
																			</div>
																		</div>
																		<div class="widget-body">
																			<div class="widget-main">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																				<strong>Importante!</strong>
																				Dados necessárias para os atendimentos
																				administrativos quanto padrões.<br>
																		</div>
																		<label>Terapeuta</label>
																		<div class="form-group">
																			<div class="col-sm-4">
																				<select id="atendTerapeutaid" name="atendTerapeutaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaTerapeutaId()">
																						<option value="X"></option>
																						{{#each usuarios}}
																						<option value="{{_id}}">{{usuario_nome}}</option>
																						{{/each}}
																				</select>
																			</div>
																		</div>											
																		<label>Terapia</label>
																		<div class="hidden" id="TerapiasVal">
																			{{#each terapias}}
																				{{#each ../convcres}}
																					{{#ifEqual convcre_terapiaid ../_id}}
																						<input class="hidden" id="{{convcre_convid}}/{{../_id}}/cre" value="{{convcre_valor}}" />
																					{{/ifEqual}}
																				{{/each}}
																			{{/each}}
																			{{#each terapias}}
																				{{#each ../convdebs}}
																					{{#ifEqual convdeb_terapiaid ../_id}}
																						<input class="hidden" id="{{convdeb_convid}}/{{../_id}}/deb" value="{{convdeb_valor}}" />
																					{{/ifEqual}}
																				{{/each}}
																			{{/each}}
																		</div>
																		<div class="hidden" id="TerapiaFinan">
																			<input class="hidden" id="creditTerapiaid" name="creditTerapiaid" value="" />
																			<input class="hidden" id="debitTerapiaid" name="debitTerapiaid" value="" />
																			
																			<input class="hidden" id="debitTerapeutaid" name="debitTerapeutaid" value="" />


																		</div>
																		<div class="form-group">
																			<div class="col-sm-4">
																				<select id="atendTerapiaid" name="atendTerapiaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																						<option value="X"></option>
																						{{#each terapias}}
																						<option value="{{_id}}">{{terapia_nome}}</option>
																						{{/each}}
																				</select>
																			</div>
																		</div>
																		<label class="blue"> Valor da Terapia pelo Plano</label>
																		<div class="form-group">
																			<div class="col-sm-6">
																				<input type="text" id="atendValorcre" name="atendValorcre" placeholder="0,00"  class="blue" class="form-control" />
																			</div>
																		</div>
																		<label class="red"> Valor da Terapia para o Terapeuta</label>
																		<div class="form-group">
																			<div class="col-sm-6">
																				<input type="text" id="atendValordeb" name="atendValordeb" placeholder="0,00"  class="red" class="form-control" />
																			</div>
																		</div>
																			</div>
																		</div>
																	</div>
																</div><!-- /.span -->
																<div class="col-xs-12 col-sm-6">
																	<div class="widget-box">
																		<div class="widget-header">
																			<h4 class="widget-title">Dados de Merge</h4>
																			<span class="widget-toolbar">
																				<a href="#" data-action="collapse">
																					<i class="ace-icon fa fa-chevron-up"></i>
																				</a>
																			</span>
																		</div>
																		<div class="widget-body">
																			<div class="widget-main">
																		<div class="alert alert-warning">
																			<button type="button" class="close" data-dismiss="alert">
																				<i class="ace-icon fa fa-times"></i>
																			</button>
																			<strong>Importante!</strong>
																			Dados necessárias para os atendimentos
																			administrativos que requer informações adicionais.<br>
																		</div>
																		<label>Terapeuta</label>
																		<div class="form-group">
																			<div class="col-sm-4">
																				<select id="atendMergeTerapeutaid" name="atendMergeTerapeutaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaMergeTerapeutaId()">
																						<option value="X"></option>
																						{{#each usuarios}}
																						<option value="{{_id}}">{{usuario_nome}}</option>
																						{{/each}}
																				</select>
																			</div>
																		</div>												
																		<label>Terapia</label>
																		<div class="hidden" id="TerapiaMergeFinan">
																			<input class="hidden" id="creditMergeTerapiaid" name="creditMergeTerapiaid" value="" />
																			<input class="hidden" id="debitMergeTerapiaid" name="debitMergeTerapiaid" value="" />
																			<input class="hidden" id="tabilMergeTerapiaid" name="tabilMergeTerapiaid" value="" />
																		</div>
																		<div class="form-group">
																				<div class="col-sm-4">
																					<select id="atendMergeTerapiaid" name="atendMergeTerapiaid" class="chosen-select" data-placeholder="Escolha..." onclick="javascript:carregaValoresMerge()">
																							<option value="X"></option>
																							{{#each terapias}}
																							<option value="{{_id}}">{{terapia_nome}}</option>
																							{{/each}}
																					</select>
																				</div>
																		</div>
																		<label class="blue"> Valor da Terapia pelo Plano</label>
																		<div class="form-group">
																			<div class="col-sm-6">
																				<input type="text" id="atendMergevalorcre" name="atendMergevalorcre" placeholder="0,00" class="blue" class="form-control" />
																			</div>
																		</div>
																		<label class="red"> Valor da Terapia para o Terapeuta</label>
																		<div class="form-group">
																			<div class="col-sm-6">
																				<input type="text" id="atendMergevalordeb" name="atendMergevalordeb" placeholder="0,00" class="red" class="form-control" />
																			</div>
																		</div>
																			</div>
																		</div>
																	</div>
																</div><!-- /.span -->
															</div><!-- /.row -->
														</div>
													</div><!-- /.col -->
												</div><!-- /.row -->
												<label> Evolução atendimento</label>
												<div class="form-group">
													<div class="col-sm-12">
														<textarea type="text" id="atendEvolucao" name="atendEvolucao" placeholder="" class="form-control"rows="3" class="col-sm-12" data-iconlibrary="fa">
														</textarea>
													</div>
												</div>
												<div id="divTabil" name="divTabil" class="hidden">
													<div id="tabilTerapeutaId" name="tabilTerapeutaId" value=""></div>
													<div id="tabilValorcredit" name="tabilValorcredit" value=""></div>
													<div id="tabilValordebit" name="tabilValordebit" value=""></div>
												</div>
												<div id="divCarrega" name="divCarrega" class="hidden">
													<input id="atendAtenddataEdi" name="atendAtenddataEdi" value="{{atendEdi.atend_atenddata}}"/>
													<input id="atendOrgEdi" name="atendOrgEdi" value="{{atendEdi.atend_org}}"/>
													<input id="atendCategoriaEdi" name="atendCategoriaEdi" value="{{atendEdi.atend_categoria}}"/>
													<input id="atendBeneidEdi" name="atendBeneidEdi" value="{{atendEdi.atend_beneid}}"/>
													<input id="atendConvidEdi" name="atendConvidEdi" value="{{atendEdi.atend_convid}}"/>
													<input id="atendTerapeutaidEdi" name="atendTerapeutaidEdi" value="{{atendEdi.atend_terapeutaid}}"/>
													<input id="atendTerapiaidEdi" name="atendTerapiaidEdi" value="{{atendEdi.atend_terapiaid}}"/>
													<input id="atendValorcreEdi" name="atendValorcreEdi" value="{{atendEdi.atend_valorcre}}"/>
													<input id="atendValordebEdi" name="atendValordebEdi" value="{{atendEdi.atend_valordeb}}"/>
													<input id="atendMergeTerapeutaidEdi" name="atendMergeTerapeutaidEdi" value="{{atendEdi.atend_mergeterapeutaid}}"/>
													<input id="atendMergeTerapiaidEdi" name="atendMergeTerapiaidEdi" value="{{atendEdi.atend_mergeterapiaid}}"/>
													<input id="atendMergevalorcreEdi" name="atendMergevalorcreEdi" value="{{atendEdi.atend_mergevalorcre}}"/>
													<input id="atendMergevalordebEdi" name="atendMergevalordebEdi" value="{{atendEdi.atend_mergevalordeb}}"/>
													<input id="atendEvolucaoEdi" name="atendEvolucaoEdi" value="{{atendEdi.atend_evolucao}}"/>
													<input id="atendHoraEdi" name="atendHoraEdi" value="{{atendEdi.atend_atendhora}}"/>
													<input id="atendAtenddata"  name="atendAtenddata" value="{{atend.atend_atenddata}}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>
									<div class="form-actions">
										<div class="col-xs-12" style="text-align: center;" >
											<button class="btn btn-info" name="acao" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Salvar
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-warning"  href="/menu/financeiro/atendadm/lis">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Voltar
											</button>
										</div>
									</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
		<!-- Script do editor de texto -->
	</body>
</html>
