<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Static &amp; Dynamic Tables">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>Tabela de Sessões</title>
		
		<script type="text/javascript">
	

			function selectConv(){
			let	v1 = document.getElementById(document.getElementById("sessaoBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("sessaoConvid").value = v1;
			}

			function atualizaConvId(){
			let	convId = document.getElementById("sessaoConvid").value;
				console.log(convId)
			}



		</script>
		
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs " id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Tabela de Sessões</li>
						</ul><!-- /.breadcrumb -->

					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form"  action="/menu/beneficiario/sessao/add" method="POST">
								<div class="form-horizontal" role="form">
									<div class="col-sm-12" style="padding-top: 50px;"><!-- Widget Dados Básicos -->
										<div class="widget-box">
											<div class="widget-header">
												<h4 class="widget-title">Cadastro das Tabelas de Sessoes de Terapias</h4>

												<span class="widget-toolbar">

													<a href="#" data-action="reload">
														<i class="ace-icon fa fa-refresh"></i>
													</a>

													<a href="#" data-action="collapse">
														<i class="ace-icon fa fa-chevron-up"></i>
													</a>

												</span>
											</div>
											<div class="widget-body">
												<div class="widget-main">

												<label>Beneficiário</label>
												<div class="hidden">
													{{#each benes}}
														{{#each ../convs}}
															{{#ifEqual ../bene_convid _id}}
																<input value="{{../bene_convid}}" id="{{../_id}}" name="refBeneConv" />
															{{/ifEqual}}
														{{/each}}
													{{/each}}
													<input value="X" id="X" name="refBeneConv" />
												</div>
												<div class="form-group">
													<div class="col-sm-4">
														<select id="sessaoBeneid" name="sessaoBeneid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:selectConv()">
																<option value="X"></option>
																{{#each benes}}
																<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
														</select>
													</div>
												</div>

												<label>Convênio</label>		
												<div class="form-group">
														<div class="col-sm-4">
															<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" id="sessaoConvid" name="sessaoConvid" class="chosen-select" data-placeholder="Escolha...">
																	<option value="X"></option>
																	{{#each benes}}
																		{{#each ../convs}}
																			{{#ifEqual ../bene_convid _id}}
																				<option value="{{../bene_convid}}">{{conv_nome}}</option>
																			{{/ifEqual}}
																		{{/each}}
																	{{/each}}
															</select>
														</div>
												</div>

													<div class="row">
														<div class="col-sm-12">
															<div class="alert alert-danger">
																<button type="button" class="close" data-dismiss="alert">
																	<i class="ace-icon fa fa-times"></i>
																</button>
																	<span><b>Ao selecionar a Terapia tenha em mente que:</b></span>
																	<hr>
																	<span>- Há Terapias remuneradas e não remuneradas pelos convênios.</span>
																	<br>
																	<span>- Há Terapias remuneradas e suas quantidades devem ser cadastradas <b>primeiro</b>.</span>
																	<br>
																	<span>- Toda Terapias não remuneradas e suas quantidades devem haver terapias substitutas com respectivas quantidades reservadas.</span>
																	<br>
																	<span>- Há terapias que não sáo remuneradas pelo convênio do beneficiário escolhido, então, cabe a você determinar qual terapia ira substituir.</span>
																	<br>	
																	&nbsp;&nbsp;&nbsp;<span> a) em caso de terapias substitutas, a quantidade de sessões pode variar em relação a quantidade substituida.</span>
																	<br>
																	&nbsp;&nbsp;&nbsp;<span>Exemplo: 5 sessões de Musicoterapia: que normalmente deve se substituida. ao invés de 5 sessões de ABA para substituir poderá haver, 2 de ABA e 3 de Fono.<br></span>
																	&nbsp;&nbsp;&nbsp;<span>pois em determinados casos o programa de sessões e terapias, não comporta a quantidade substituida, devendo distribuir para outras terapias.</span>
																	<br>
																	<span>- Há Terapias específicas para beneficiários específicos, pois os valores a ele referenciado tanto para receita como para pagamento a terapeutas são diferentes.</span>
																	<br>
																	
																	<span>- A quantidade de sessões é Semanal e não mensal.</span>
																	<br>
																	<span>- A quantidade de sessões totais não pode ultrapassar a quantidade de sessões estipuladas pelo laudo ou ação judicial.</span>
																	<br>
																	
															</div>
														</div>
													</div>	
													<label>Terapia</label>
													<div class="input-group">
															<div >
																<select name="sessaoTerapiaid" id="sessaoTerapiaid"  class="chosen-select" data-placeholder="Escolha..." style="width: 300px;">
																		<option value="X">&nbsp;</option>
																		{{#each terapias}}
																		<option value="{{_id}}">{{terapia_nome}}</option>
																		{{else}}
																		{{/each}}
																</select>
															</div>
													</div>



													<label> Qt Sessões Previstas </label>
													<div class="input-group">
														<div >
															<input type="text" name="sessaoQtterapiaprev" id="sessaoQtterapiaprev" placeholder="" class="form-control" style="width: 200px;"/>
														</div>
													</div>

													<label> Qt Sessões Realizadas </label>
													<div class="input-group">
														<div >
															<input type="text" name="sessaoQtterapiacon" id="sessaoQtterapiacon" placeholder="" class="form-control" style="width: 200px;"/>
														</div>
													</div>

													<label> Saldo </label>
													<div class="input-group">
														<div >
															<input type="text" name="sessaoQtterapiasaldo" id="sessaoQtterapiasaldo" placeholder="" class="form-control" style="width: 200px;"/>
														</div>
													</div>


												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>

								<div class="form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info"  name="acao" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning"  type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>
							</form>

							
						</div><!-- /.col -->
					</div><!-- /.row -->




				</div>
			</div><!-- /.main-content -->


		</div><!-- /.main-container -->





		<!-- basic scripts -->

	</body>
		<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Soft</span>
							Route © 2022
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

						</span>
					</div>
				</div>
	</div>

</html>
