<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<title>Lista de Sessões por Beneficiários</title>
	</head>
	<body onload="javascript:controlaNave();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Lista de Quadro de Sessões por Beneficiários</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#each error}}
					<div class="alert alert-danger">{{texto}}{{error}}</div>
					{{else}}
					{{/each}}
					<div class="page-content"><!-- .page-content -->
						<div class="row"><!--.row -->
							<div class="col-xs-12 col-sm-12">
								<!-- PAGE CONTENT BEGINS -->
								<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
											
											<thead>
												<tr role="row">
													<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Beneficiário</th>
												</tr>
											</thead>
											<tbody>
												{{#each benes}}
													<tr role="row" class="odd">
														<td><label class="hidden">{{bene_nome}}</label>
															<div class="widget-box collapsed">
																<div class="widget-header">
																	<h6 class="widget-title" >{{bene_nome}}</h6>
																	
																	<span class="widget-toolbar">
																		<a href="#" data-action="reload">
																			<i class="ace-icon brown fa fa-refresh bigger-130"></i>
																		</a>
																		<a href="#" data-action="collapse">
																			<i class="ace-icon fa fa-chevron-up bigger-130"></i>
																		</a>
																	</span>
																	<span class="widget-toolbar">
																		<a class="blue" name="acaoEdi" id="acaoEdi" href="/menu/beneficiario/sessao/cad">
																			<i class="ace-icon fa fa-plus bigger-130"></i>
																		</a>
																		<a class="orange" name="acaoEdi" id="acaoEdi" href="/menu/beneficiario/sessao/edi/{{_id}}">
																			<i class="ace-icon fa fa-pencil bigger-130"></i>
																		</a>
																	</span>
																		<span class="widget-toolbar">
																		<a name="acaoViz" id="acaoViz">
																			{{#each ../sessaos}}
																				{{#ifEqual ../_id sessao_beneid}}
																					<i class="ace-icon green fa fa-check bigger-130"></i>
																					{{else}}
																					<i class="ace-icon red fa fa-ban bigger-130" title="Ainda não foram cadastradas sessões para esse beneficiário."></i>
																				{{/ifEqual}}
																			
																		</a>
																	</span>
																</div>
																
																<div class="widget-body">
																	<div class="widget-main">
																		<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
																			<thead>
																				<tr role="row">
																					<th style="width: 30%;" class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
																					<th style="width: 5%;" class="sorting" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Liminar</th>
																					<th style="width: 5%;" class="sorting" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" >Realizado</th>
																					<th style="width: 5%;" class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Saldo</th>
																					<th>Obs</th>
																					
																				</tr>
																			</thead>
																			<tbody>
																				
																					{{#ifEqual this.sessao_beneid ../_id}}
																						{{#isNull sessao_terapiaid01}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid01}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev01}}</td>
																							<td>{{sessao_qtterapiacon01}}</td>
																							<td>{{sessao_qtterapiasaldo01}}</td>
																							<td>{{sessao_obssessao01}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid02}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid02}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev02}}</td>
																							<td>{{sessao_qtterapiacon02}}</td>
																							<td>{{sessao_qtterapiasaldo02}}</td>
																							<td>{{sessao_obssessao02}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid03}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid03}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev03}}</td>
																							<td>{{sessao_qtterapiacon03}}</td>
																							<td>{{sessao_qtterapiasaldo03}}</td>
																							<td>{{sessao_obssessao03}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid04}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid04}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev04}}</td>
																							<td>{{sessao_qtterapiacon04}}</td>
																							<td>{{sessao_qtterapiasaldo04}}</td>
																							<td>{{sessao_obssessao04}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid05}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid05}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev05}}</td>
																							<td>{{sessao_qtterapiacon05}}</td>
																							<td>{{sessao_qtterapiasaldo05}}</td>
																							<td>{{sessao_obssessao05}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid06}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid06}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev06}}</td>
																							<td>{{sessao_qtterapiacon06}}</td>
																							<td>{{sessao_qtterapiasaldo06}}</td>
																							<td>{{sessao_obssessao06}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid07}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid07}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev07}}</td>
																							<td>{{sessao_qtterapiacon07}}</td>
																							<td>{{sessao_qtterapiasaldo07}}</td>
																							<td>{{sessao_obssessao07}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid08}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid08}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev08}}</td>
																							<td>{{sessao_qtterapiacon08}}</td>
																							<td>{{sessao_qtterapiasaldo08}}</td>
																							<td>{{sessao_obssessao08}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid09}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid09}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev09}}</td>
																							<td>{{sessao_qtterapiacon09}}</td>
																							<td>{{sessao_qtterapiasaldo09}}</td>
																							<td>{{sessao_obssessao09}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid10}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid10}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev10}}</td>
																							<td>{{sessao_qtterapiacon10}}</td>
																							<td>{{sessao_qtterapiasaldo10}}</td>
																							<td>{{sessao_obssessao10}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid11}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid11}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev11}}</td>
																							<td>{{sessao_qtterapiacon11}}</td>
																							<td>{{sessao_qtterapiasaldo11}}</td>
																							<td>{{sessao_obssessao11}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid12}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid12}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev12}}</td>
																							<td>{{sessao_qtterapiacon12}}</td>
																							<td>{{sessao_qtterapiasaldo12}}</td>
																							<td>{{sessao_obssessao12}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid13}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid13}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev13}}</td>
																							<td>{{sessao_qtterapiacon13}}</td>
																							<td>{{sessao_qtterapiasaldo13}}</td>
																							<td>{{sessao_obssessao13}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid14}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid14}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev14}}</td>
																							<td>{{sessao_qtterapiacon14}}</td>
																							<td>{{sessao_qtterapiasaldo14}}</td>
																							<td>{{sessao_obssessao14}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid15}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid15}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev15}}</td>
																							<td>{{sessao_qtterapiacon15}}</td>
																							<td>{{sessao_qtterapiasaldo15}}</td>
																							<td>{{sessao_obssessao15}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid16}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid16}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev16}}</td>
																							<td>{{sessao_qtterapiacon16}}</td>
																							<td>{{sessao_qtterapiasaldo16}}</td>
																							<td>{{sessao_obssessao16}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid17}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid17}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev17}}</td>
																							<td>{{sessao_qtterapiacon17}}</td>
																							<td>{{sessao_qtterapiasaldo17}}</td>
																							<td>{{sessao_obssessao17}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid18}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid18}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev18}}</td>
																							<td>{{sessao_qtterapiacon18}}</td>
																							<td>{{sessao_qtterapiasaldo18}}</td>
																							<td>{{sessao_obssessao18}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid19}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid19}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev19}}</td>
																							<td>{{sessao_qtterapiacon19}}</td>
																							<td>{{sessao_qtterapiasaldo19}}</td>
																							<td>{{sessao_obssessao19}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid20}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid20}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev20}}</td>
																							<td>{{sessao_qtterapiacon20}}</td>
																							<td>{{sessao_qtterapiasaldo20}}</td>
																							<td>{{sessao_obssessao20}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid21}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid21}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev21}}</td>
																							<td>{{sessao_qtterapiacon21}}</td>
																							<td>{{sessao_qtterapiasaldo21}}</td>
																							<td>{{sessao_obssessao21}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid22}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid22}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev22}}</td>
																							<td>{{sessao_qtterapiacon22}}</td>
																							<td>{{sessao_qtterapiasaldo22}}</td>
																							<td>{{sessao_obssessao22}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid23}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid23}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev23}}</td>
																							<td>{{sessao_qtterapiacon23}}</td>
																							<td>{{sessao_qtterapiasaldo23}}</td>
																							<td>{{sessao_obssessao23}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid24}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid24}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev24}}</td>
																							<td>{{sessao_qtterapiacon24}}</td>
																							<td>{{sessao_qtterapiasaldo24}}</td>
																							<td>{{sessao_obssessao24}}</td>
																						</tr>
																						{{/isNull}}
																						{{#isNull sessao_terapiaid25}}
																						{{else}}
																						<tr role="row" class="odd">
																							{{#each ../../terapias}}<!-- Ok -->
																								{{#ifEqual this._id ../sessao_terapiaid25}}
																									<td>{{terapia_nome}}</td>
																								{{/ifEqual}}
																							{{/each}}
																							<td>{{sessao_qtterapiaprev25}}</td>
																							<td>{{sessao_qtterapiacon25}}</td>
																							<td>{{sessao_qtterapiasaldo25}}</td>
																							<td>{{sessao_obssessao25}}</td>
																						</tr>
																						{{/isNull}}
																					{{/ifEqual}}
																				{{/each}}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</td>
														





													</tr>
												{{/each}}
											</tbody>
										</table>
								
								
								<!-- PAGE CONTENT END -->	
							</div>
						</div>
					</div><!-- /.page-content -->
				</div><!-- /.main-content-inner -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container ace-save-state --><!-- basic scripts --><!--[if !IE]> -->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<!-- basic scripts -->

		<!-- page specific plugin scripts -->
		<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
		

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(document).ready(function() {
			$("#dynamic-table").DataTable({
			"language": { "url": "/js/lang/datatable-pt-br.json" },
			"aaSorting": [],
			"aoColumns": [null],
			"responsive": true,
			"lengthMenu": [ 100, 200],
			"lengthChange": true,
			"autoWidth": false,
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			
			select: {
						style: 'multi'
					}
			});
		});
		$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
		</script>
	</body>
</html>