<!DOCTYPE html>
<html lang="en"><head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<title>Lista de Sessões</title>

		
	</head>

	<body onload="javascript:controlaNave();" class="no-skin">


		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Lista de Sessões</li>
						</ul><!-- /.breadcrumb -->
					</div>
					{{#each error}}
						<div class="alert alert-danger">{{texto}}{{error}}</div>
					{{else}}
					{{/each}}
					<div class="page-content"><!-- .page-content -->
						<div class="row"><!--.row -->
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
											<div class="clearfix" >
												<div class="pull-right tableTools-container">


												</div>
											</div>

											<div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
											</div>
											
											<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
												
												<thead>

													<tr>
														<th class="center" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="5" aria-label="Terapia: activate to sort column ascending">
																
																
																
																	{{bene.bene_nome}}
																
																
																
														</th>
													</tr>
													<tr role="row">


														<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Terapia: activate to sort column ascending">Terapia</th>
														<th class="sorting" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Qt.Liminar:     activate to sort column ascending">Liminar</th>
														
														<th class="sorting" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Realizado: activate to sort column ascending">Realizado</th>
														<th class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Saldo:     activate to sort column ascending">Saldo</th>
							

							
														<th>Ação</th>

													</tr>
													
												</thead>
												
												<tbody>
													{{#each sessaos}}
														<tr role="row" class="odd">


															{{#each ../terapias}}<!-- Ok -->
																{{#ifEqual this._id ../sessao_terapiaid}}
																	<td>{{terapia_nome}}</td>
																{{/ifEqual}}
															{{/each}}
															<td>{{sessao_qtterapiaprev}}</td>
															<td>{{sessao_qtterapiacon}}</td>
															<td>{{sessao_qtterapiasaldo}}</td>
															
															<td>
																<div class="action-buttons">
																	<a class="green" name="acaoEdi" id="acaoEdi" href="/menu/beneficiario/sessao/edi/{{_id}}">
																		<i class="ace-icon fa fa-pencil bigger-130"></i>
																	</a>

																	<a class="blue" name="acaolis" id="acaolis" href="/menu/beneficiario/sessao/lis">
																		<i class="ace-icon fa fa-reply bigger-130"></i>
																	</a>

																	<a class="red" name="acaoDel" id="acaoDel" href="/menu/beneficiario/sessao/lisdel/{{_id}}">
																		<i class="ace-icon fa fa-trash-o bigger-130"></i>
																	</a>

																	
																</div>

																<div class="hidden-md hidden-lg">
																</div>
															</td>
												
														</tr>
													{{/each}}
												</tbody>

											</table>


										
										
										
									</div>
								</div>				
							</div>
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content-inner -->
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Soft</span>
							Route
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

		
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container ace-save-state -->

		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		
	<!-- page specific plugin scripts -->
		<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
		

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(document).ready(function() {
			$("#dynamic-table").DataTable({
			"language": { "url": "/js/lang/datatable-pt-br.json" },
			"aaSorting": [],
			"aoColumns": [ null, null, null, null, { "bSortable": false }],
			"responsive": true,
			"lengthMenu": [ 50, 100, 200],
			"lengthChange": true,
			"autoWidth": false,
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			
			select: {
						style: 'multi'
					}
			});
		});
		$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
		</script>

	</body>

</html>