<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Peculiaridades da Fichas de Frequência - Exceções</title>
			<style>
				.spanAzul {
					display: inline-block;
					position: relative;
					font-weight: 400;
					vertical-align: baseline;
					white-space: nowrap;
					background-color: #91b8d0;color: #fff;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
					padding: 4px 22px 5px 9px;
					margin-bottom: 3px;
					margin-right: 3px;
				}
				.aClose {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					width: 18px;
					height: auto;
					line-height: 25px;
					text-align: center;
				}
			</style>
			<script type="text/javascript">
				function selectConv(){
					let	v1 = document.getElementById(document.getElementById("excecaoBeneid").value).value.toString();
					console.log(v1)
					document.getElementById("excecaoConvid").value = v1;
				}

				function atualizaConvId(){
				let	convId = document.getElementById("excecaoConvid").value;
					console.log(convId)
				}

				$(document).ready(function(){
					$(".chosen-select-especial").chosen({allow_single_deselect:true});
				});

				function preencheDivComSpansSubs() {
					// Obtém o elemento com o ID "excecaoTerapeutaid"
					let excecaoSubsElement = document.getElementById("excecaoSubstitutoid");

					// Verifica se o elemento foi encontrado e se a propriedade 'value' está presente
					if (excecaoSubsElement && excecaoSubsElement.value) {
						// Obtém a array de excecaoTerapeutaid e verifica se não está vazia
						let excecaoSubsidArray = excecaoSubsElement.value.split(",");
						console.log("excecaoSubsidArray:", excecaoSubsidArray);

						if (excecaoSubsidArray.length > 0) {
							let divExcecaoSubstituto = document.getElementById("divExcecaoSubstituto");
							document.getElementById("spanShowSubsTera").style ="display: none";

							excecaoSubsidArray.forEach(function (idValue, index) {
								console.log("Criando span para:", idValue);
								console.log("idValue: "+idValue)
								let spanSub =  document.getElementById(idValue+"_cloneSubs").cloneNode(true);
								spanSub.id = ""+spanSub.id+"Tera";
								divExcecaoSubstituto.appendChild(spanSub);

								// Adiciona uma vírgula entre os spans, exceto no último
								if (index < excecaoSubsidArray.length - 1) {
									let separator = document.createTextNode(" ");
									divExcecaoSubstituto.appendChild(separator);
								}
							});
						}
						console.log("Finalizado. divExcecaoSubstituto contém:", divExcecaoSubstituto.innerHTML);
					} else {
						console.error("Elemento com o ID 'excecaoTerapeutaid' não encontrado ou não possui a propriedade 'value'.");
					}
				}

				function preencheDivComSpansTera() {
					// Obtém o elemento com o ID "excecaoTerapeutaid"
					let excecaoTerapeutaidElement = document.getElementById("excecaoTerapeutaid");

					// Verifica se o elemento foi encontrado e se a propriedade 'value' está presente
					if (excecaoTerapeutaidElement && excecaoTerapeutaidElement.value) {
						// Obtém a array de excecaoTerapeutaid e verifica se não está vazia
						let excecaoTerapeutaidArray = excecaoTerapeutaidElement.value.split(",");
						//console.log("excecaoTerapeutaidArray:", excecaoTerapeutaidArray);

						if (excecaoTerapeutaidArray.length > 0) {
							let divExceTera = document.getElementById("divExcecaoTerapeuta");
							document.getElementById("spanShowExceTera").style ="display: none";

							excecaoTerapeutaidArray.forEach(function (idValue, index) {
								console.log("Criando span para:", idValue);
								console.log("idValue: "+idValue)
								let spanTera =  document.getElementById(idValue+"_cloneExce").cloneNode(true);
								spanTera.id = ""+spanTera.id+"Tera";
								divExceTera.appendChild(spanTera);

								// Adiciona uma vírgula entre os spans, exceto no último
								if (index < excecaoTerapeutaidArray.length - 1) {
									let separator = document.createTextNode(" ");
									divExceTera.appendChild(separator);
								}
							});
						}
						//console.log("Finalizado. divExceTera contém:", divExceTera.innerHTML);
					} else {
						//console.error("Elemento com o ID 'excecaoTerapeutaid' não encontrado ou não possui a propriedade 'value'.");
					}
				}

				function addExcecaoTerapeutaid(){
					let id = document.getElementById("excecaoTerapeutaidselect");
					let excecaoSubid = document.getElementById("excecaoTerapeutaid");
					let span = document.getElementById(id.value+"_cloneExce").cloneNode(true);
					span.id = ""+span.id+"Tera";
					document.getElementById("divExcecaoTerapeuta").append(span);
					
					if (excecaoSubid.value == ""){
						excecaoSubid.value = ""+id.value+"";
					} else {
						excecaoSubid.value = ""+excecaoSubid.value+","+id.value+"";
					}
					document.getElementById("spanShowExceTera").style ="display: none";
					id.value = "766f69643132333435366964";
				}

				function addSubstitutoTerapeutaid(){
					let id = document.getElementById("excecaoSubstitutoidselect");
					let excecaoSubid = document.getElementById("excecaoSubstitutoid");
					let span = document.getElementById(id.value+"_cloneSubs").cloneNode(true);
					span.id = ""+span.id+"Tera";
					document.getElementById("divExcecaoSubstituto").append(span);
					
					if (excecaoSubid.value == ""){
						excecaoSubid.value = ""+id.value+"";
					} else {
						excecaoSubid.value = ""+excecaoSubid.value+","+id.value+"";
					}
					document.getElementById("spanShowSubsTera").style ="display: none";
					id.value = "766f69643132333435366964";
				}

				function removeExcecaoTerapeutaid(id){
					document.getElementById("excecaoTerapeutaid").value = (document.getElementById("excecaoTerapeutaid").value.replace((","+id+""), "").replace((""+id+","), "").replace((",,"), ",").replace((id), ""));
					document.getElementById(id+"_cloneExceTera").remove();
					if (document.getElementById("excecaoTerapeutaid").value == ""){
						document.getElementById("spanShowExceTera").style ="display: ''";
					}
				}

				function removeExcecaoSubstitutoid(id){
					document.getElementById("excecaoSubstitutoid").value = (document.getElementById("excecaoSubstitutoid").value.replace((","+id+""), "").replace((""+id+","), "").replace((",,"), ",").replace((id), ""));
					document.getElementById(id+"_cloneSubsTera").remove();
					if (document.getElementById("excecaoSubstitutoid").value == ""){
						document.getElementById("spanShowSubsTera").style ="display: ''";
					}
				}

				function deletaTodosExceTera() {
					let lisExceTeraId = document.getElementById("excecaoTerapeutaid").value;
					if (lisExceTeraId && lisExceTeraId != ""){
						arrayExceTeraId = lisExceTeraId.split(",");
						arrayExceTeraId.forEach((a)=>{
							document.getElementById(a+"_cloneExceTera").remove();
						})
					}
					document.getElementById("spanShowExceTera").style = "display: ''";
					document.getElementById("excecaoTerapeutaid").value = "";
				}

				function deletaTodosSubsTera() {
					let lisSubsTeraId = document.getElementById("excecaoSubstitutoid").value;
					if (lisSubsTeraId && lisSubsTeraId != ""){
						arraySubsTeraId = lisSubsTeraId.split(",");
						arraySubsTeraId.forEach((a)=>{
							document.getElementById(a+"_cloneSubsTera").remove();
						})
					}
					document.getElementById("spanShowSubsTera").style = "display: ''";
					document.getElementById("excecaoSubstitutoid").value = "";
				}

				function carregaBody(){
					
					document.getElementById("excecaoBeneid").value = document.getElementById("excecaoBeneidEdi").value;
					document.getElementById("excecaoConvid").value = document.getElementById("excecaoConvidEdi").value;
					
					document.getElementById("excecaoTerapiaid").value = document.getElementById("excecaoTerapiaidEdi").value;
					document.getElementById("excecaoObs").value = document.getElementById("excecaoObsEdi").value;
					
					preencheDivComSpansTera();
					preencheDivComSpansSubs();
				}
				
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
	</head>
	<body onload="javascript:controlaNave();carregaBody();" class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Peculiaridades da Fichas de Frequência - Exceções</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/beneficiario/excecao/atualizar" method="POST">
								<div hidden id="divCarrega" >
									<input id="excecaoId" name="excecaoId" value="{{excecao._id}}" />
									<!-- Controles de Passagem --> 
									<input type="text" id="excecaoBeneidEdi" name="excecaoBeneidEdi" style="width: 400px;" value="{{excecao.excecao_beneid}}"/>
									<input type="text" id="excecaoConvidEdi" name="excecaoConvidEdi" style="width: 400px;" value="{{excecao.excecao_convid}}"/>
									<input type="text" id="excecaoTerapiaidEdi" name="excecaoTerapiaidEdi" style="width: 400px;" value="{{excecao.excecao_terapiaid}}"/>
										<input type="text" id="excecaoObsEdi" name="excecaoObsEdi" style="width: 400px;" value="{{excecao.excecao_obs}}"/>
									<!-- Controles de Busca e referencia Id para Nomes --> 
									{{#each terapeutas}}
										{{#ifEqual _id excecao.excecao_terapeutaid}}
											<label type="text" id="{{_id}}" name="terapeutaid" style="width: 400px;" >{{usuario_nome}}</label>
										{{/ifEqual}}
										<span id="{{_id}}_cloneExce" class="spanAzul">{{usuario_nome}}<a onclick="javascript:removeExcecaoTerapeutaid('{{_id}}');" class="fa fa-times aClose" ></a></span>
									{{else}}
									{{/each}}

									{{#each terapeutas}}
										{{#ifEqual _id excecao.excecao_substitutoid}}
											<label type="text" id="{{_id}}" name="substitutoid" style="width: 400px;" >{{usuario_nome}}</label>
										{{/ifEqual}}
										<span id="{{_id}}_cloneSubs" class="spanAzul">{{usuario_nome}}<a onclick="javascript:removeExcecaoSubstitutoid('{{_id}}');" class="fa fa-times aClose" ></a></span>
									{{else}}
									{{/each}}
									<!-- Controles de Atualização de Cadastro -->
									<input type="text" id="excecaoTerapeutaid" name="excecaoTerapeutaid" style="width: 400px;"  value="{{excecao.excecao_terapeutaid}}"/>
									<input type="text" id="excecaoSubstitutoid" name="excecaoSubstitutoid" style="width: 400px;" value="{{excecao.excecao_substitutoid}}"/>
								</div>	
								<div class="col-sm-12" ><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Peculiaridades da Fichas de Frequência - Exceções</h4>
											<span class="widget-toolbar">
												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>
												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<label>Beneficiário</label>
												<div class="hidden">
													{{#each benes}}
														{{#each ../convs}}
															{{#ifEqual ../bene_convid _id}}
																<input value="{{../bene_convid}}" id="{{../_id}}" name="refBeneConv" />
															{{/ifEqual}}
														{{/each}}
													{{/each}}
													<input value="X" id="X" name="refBeneConv" />
												</div>
												<div class="form-group">
													<div class="col-sm-10">
														<select id="excecaoBeneid" name="excecaoBeneid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:selectConv()">
															<option value="766f69643132333435366964"></option>
															{{#each benes}}
															<option value="{{_id}}">{{bene_nome}}</option>
															{{/each}}
														</select>
													</div>
												</div>
												<label>Convênio</label>		
												<div class="form-group">
													<div class="col-sm-4">
														<select style="pointer-events: none;touch-action: none;" tabindex="-1" aria-disabled="true" id="excecaoConvid" name="excecaoConvid" class="chosen-select" data-placeholder="Escolha...">
																<option value="766f69643132333435366964"></option>
																{{#each benes}}
																	{{#each ../convs}}
																		{{#ifEqual ../bene_convid _id}}
																			<option value="{{../bene_convid}}">{{conv_nome}}</option>
																		{{/ifEqual}}
																	{{/each}}
																{{/each}}
														</select>
													</div>
												</div>
												<table id="dynamic-table" class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th style="width: 10%;"colspan="1"><label>Terapia</label></th>
															<th style="width: 30%;"colspan="1"><label>Terapeutas </label></th>
															<th style="width: 30%;"colspan="1"><label>Substitutos</label></th>
															<th style="width: 40%;" colspan="1"><label>Observação </label></th>
														</tr>
													</thead>
													<tbody>
														<tr><!-- 1AReg -->
															<td>
																<select name="excecaoTerapiaid" id="excecaoTerapiaid"  class="chosen-select" data-placeholder="Escolha..." >
																	<option value="766f69643132333435366964">-</option>
																	{{#each terapias}}
																	<option value="{{_id}}">{{terapia_nome}}</option>
																	{{else}}
																	{{/each}}
																</select>
															</td>
															<td>
																<div>
																	<select name="excecaoTerapeutaidselect" id="excecaoTerapeutaidselect" onchange="addExcecaoTerapeutaid();">
																		<option value="766f69643132333435366964">-</option>
																		{{#each terapeutas}}
																		<option value="{{_id}}">{{usuario_nome}}</option>
																		{{else}}
																		{{/each}}
																	</select>
																	<button type="button" class="btn btn-sm btn-danger" data-toggle="button" onclick="javascript:deletaTodosExceTera();">Deleta todos os selecionados</button>
																	<div id="divExcecaoTerapeuta" name="excecaoTerapeutaidTemp" style="display: block;width: 446px;min-height: 30px;max-height: 500px;text-align: left;padding: 4px;">
																		<span id="spanShowExceTera" class="spanAzul">Escolha o Terapeuta</span>
																	</div>
																</div>
																
															</td>
															<td style="align-items: center;">
																<div>
																	<select name="excecaoSubstitutoidselect" id="excecaoSubstitutoidselect" onchange="addSubstitutoTerapeutaid();">
																		<option value="766f69643132333435366964">-</option>
																		{{#each terapeutas}}
																		<option value="{{_id}}">{{usuario_nome}}</option>
																		{{else}}
																		{{/each}}
																	</select>
																	<button type="button" class="btn btn-sm btn-danger" data-toggle="button" onclick="javascript:deletaTodosSubsTera();">Deleta todos os selecionados</button>
																	<br>
																	<div id="divExcecaoSubstituto" name="excecaoSubstitutoidTemp" style="display: block; width: 446px; min-height: 30px;max-height: 500px;text-align: left;padding: 4px;" >
																		<span id="spanShowSubsTera" class="spanAzul" >Escolha o Terapeuta</span>
																	</div>
																	
																</div>
															</td>
															<td>
																<textarea type="text" name="excecaoObs" id="excecaoObs" placeholder="" class="form-control" style="font-size: 12px;"></textarea>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12" style="text-align: center;"><!-- Widget Dados Básicos -->
									<button class="btn btn-info"  name="acao" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Salvar
									</button>

								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
		<!-- basic scripts -->
						
		
	</body>
</html>
