<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Atendimentos</title>
		<script type="text/javascript">
			function selectConv(){
				var v1 = document.getElementById(document.getElementById("atendBeneid").value).value.toString();
				console.log(v1)
				document.getElementById("atendConvid").value = v1;
			}
			function carregaValores(){
				let teraId = document.getElementById("atendTerapiaid").value;
				
				document.getElementById("creditTerapiaid").value = teraId;
				document.getElementById("debitTerapiaid").value = teraId;
				document.getElementById("tabilTerapiaid").value = teraId;

				try{
					let convId = document.getElementById("atendConvid").value;
					document.getElementById("atendValorcre").value = document.getElementById(convId+"/"+teraId+"/cre").value;
					document.getElementById("atendValordeb").value = document.getElementById(convId+"/"+teraId+"/deb").value;
					document.getElementById("tabilValorcredit").value = document.getElementById(convId+"/"+teraId+"/cre").value;
					document.getElementById("tabilValordebit").value = document.getElementById(convId+"/"+teraId+"/deb").value;
				} catch(err){
					document.getElementById("atendValorcre").value = "0,00";
					document.getElementById("atendValordeb").value = "0,00";
					document.getElementById("tabilValorcredit").value = "0,00";
					document.getElementById("tabilValordebit").value = "0,00";
				}
			}
			function atualizaConvId(){
				let convId = document.getElementById("atendConvid").value;
				console.log(convId)
				document.getElementById("creditConvid").value = convId;
				document.getElementById("debitConvid").value = convId;
				document.getElementById("tabilConvid").value = convId;
			}
			function atualizaTerapeutaId(){
				document.getElementById("tabilTerapeutaId").value = document.getElementById("atendTerapeutaid").value
			}
			function atualizaData(){
				var hora = "00:00"
				var data = document.getElementById("atenddata").value+"T"+hora+":00.000Z";
				var datafmt = new Date(data);
				document.getElementById("atendAtenddata").value = datafmt.toISOString();
			}
			function OcultaMsg(){
				document.getElementById("alertMsgFlash").hidden = true;
			}
		</script>
	</head>

	<body class="no-skin">


		<div class="main-container ace-save-state" id="main-container">


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li class="active">Atendimentos Cadastro</li>
						</ul><!-- /.breadcrumb -->
						<input class="hidden" id="flash_texto" name="flash_texto" value="{{flash.texto}}" />
						<input class="hidden" id="flash_sucesso" name="flash_sucesso" value="{{flash.sucesso}}" />
					</div>
					{{#compareString flash.sucesso "true"}}
					<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-block alert-success">
						<p>
							<strong>
								<i class="ace-icon fa fa-check"></i>
								{{flash.texto}}
							</strong>
							<button type="button" class="close" onclick="javascript:OcultaMsg()">
								<i class="ace-icon fa fa-times"></i>
							</button>
						</p>
					</div>
					<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-success">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
					{{else}}
						{{#compareString flash.sucesso "false"}}
					<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">
						<p>
							<strong>
								<i class="ace-icon fa fa-times"></i>
								{{flash.texto}}
							</strong>
							<button type="button" class="close" onclick="javascript:OcultaMsg()">
								<i class="ace-icon fa fa-times"></i>
							</button>
						</p>
					</div>
					<!--<div id="alertMsgFlash" name="alertMsgFlash" class="alert alert-danger">{{flash.texto}}<button onclick="javascript:OcultaMsg()">X</button></div>-->
						{{else}}
						{{/compareString}}
					{{/compareString}}
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" action="/menu/atendimento/add" method="POST">

								<div class="col-sm-12"><!-- Widget Dados Básicos -->
									<div class="widget-box">
										<div class="widget-header">
											<h4 class="widget-title">Atendimento</h4>

											<span class="widget-toolbar">

												<a href="#" data-action="reload">
													<i class="ace-icon fa fa-refresh"></i>
												</a>

												<a href="#" data-action="collapse">
													<i class="ace-icon fa fa-chevron-up"></i>
												</a>

											</span>
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<div class="hidden">
													<input id="nextNum" name="nextNum" type="number"  value="{{atend.atend_num}}" />
												</div>

											
												<div class="form-group" class="hidden">
													<div class="col-sm-6" class="hidden">
														<input class="hidden" type="text" name="atendUsuid" id="atendUsuid" class="form-control"  readonly="true" value="Usuário Atual"/>
													</div>
												</div>

												<label for="id-date-picker-1">Data Atendimento</label>
												<div class="row">
													<div class="col-sm-4">
														<div class="input-group">
															<input name="atenddata" id="atenddata" type="date" onchange="javascript:atualizaData()" />
														</div>
													</div>
												</div>

												<label > Origem Atendimento </label>
												<div class="form-group">
													<div class="col-sm-6">
														<input type="text" name="atendOrg" id="atendOrg" placeholder="Padrão" class="form-control"  readonly="true" value="Padrão"/>
													</div>
												</div>
												
												<div class="hidden">
													<label > Categoria </label>
													<div class="form-group">
														<div class="col-sm-6">
															<input type="text" name="atendCategoria" id="atendCategoria" placeholder="Padrão" class="form-control" readonly="true" value="Padrão"/>
															<input type="text" name="creditCategoria" id="creditCategoria" class="hidden" value="Padrão"/>
															<input type="text" name="debitCategoria" id="debitCategoria" class="hidden" value="Padrão"/>
															<input type="text" name="tabilCategoria" id="tabilCategoria" class="hidden" value="Padrão"/>
														</div>
													</div>
												</div>
												<label>Beneficiário</label>
												<div class="hidden">
													{{#each benes}}
														{{#each ../convs}}
															{{#ifEqual ../bene_convid _id}}
																<input value="{{../bene_convid}}" id="{{../_id}}" name="refBeneConv" />
															{{/ifEqual}}
														{{/each}}
													{{/each}}
												</div>
												<div class="form-group">
														<div class="col-sm-8">
															<select name="atendBeneid" id="atendBeneid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:selectConv()">
																{{#each benes}}
																	<option value="{{_id}}">{{bene_nome}}</option>
																{{/each}}
															</select>
														</div>
												</div>
												<label>Convênio</label>
												<div class="hidden" id="ConvenioFinan">
													<input class="hidden" id="creditConvid" name="creditConvid" value="" />
													<input class="hidden" id="debitConvid" name="debitConvid" value="" />
													<input class="hidden" id="tabilConvid" name="tabilConvid" value="" />
												</div>
												<div class="form-group">
													<div class="col-sm-4">
														<select style="pointer-events: none; touch-action: none;" tabindex="-1" aria-disabled="true" name="atendConvid"  id="atendConvid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaConvId()">
															{{#each benes}}
																{{#each ../convs}}
																	{{#ifEqual ../bene_convid _id}}
																		<option value="{{../bene_convid}}">{{conv_nome}}</option>
																	{{/ifEqual}}
																{{/each}}
															{{/each}}
														</select>
													</div>
												</div>
												<label>Sala</label>
												<div class="form-group">
													<div class="col-sm-4">
														<select id="atendSalaid" name="atendSalaid" class="chosen-select" data-placeholder="Escolha...">
																{{#each salas}}
																	<option value="{{_id}}">{{sala_nome}}</option>
																{{/each}}
														</select>
													</div>
												</div>
												<label>Terapeuta</label>
												<div class="form-group">
														<div class="col-sm-4">
															<select name="atendTerapeutaid" id="atendTerapeutaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:atualizaTerapeutaId()">
																{{#each usuarios}}
																<option value="{{_id}}">{{usuario_nome}}</option>
																{{/each}}
															</select>
														</div>
												</div>												
																								
												<label>Terapia</label>
												<div class="hidden" id="TerapiasVal">
													{{#each terapias}}
														{{#each ../convcres}}
															{{#ifEqual convcre_terapiaid ../_id}}
																<input class="hidden" id="{{convcre_convid}}/{{../_id}}/cre" value="{{convcre_valor}}" />
															{{/ifEqual}}
														{{/each}}
													{{/each}}
													{{#each terapias}}
														{{#each ../convdebs}}
															{{#ifEqual convdeb_terapiaid ../_id}}
																<input class="hidden" id="{{convdeb_convid}}/{{../_id}}/deb" value="{{convdeb_valor}}" />
															{{/ifEqual}}
														{{/each}}
													{{/each}}
												</div>
												<div class="hidden" id="TerapiaFinan">
													<input class="hidden" id="creditTerapiaid" name="creditTerapiaid" value="" />
													<input class="hidden" id="debitTerapiaid" name="debitTerapiaid" value="" />
													<input class="hidden" id="tabilTerapiaid" name="tabilTerapiaid" value="" />
												</div>
												<div class="form-group">
														<div class="col-sm-4">
															<select name="atendTerapiaid" id="atendTerapiaid" class="chosen-select" data-placeholder="Escolha..." onchange="javascript:carregaValores()">
																	{{#each terapias}}
																		<option value="{{_id}}">{{terapia_nome}}</option>
																	{{/each}}
															</select>
														</div>
												</div>
												
	


												<label> Valor da Terapia pelo Plano</label>
												<div class="form-group">
													<div class="col-sm-2">
														<input type="text" name="atendValorcre" id="atendValorcre" placeholder="" class="form-control" readonly="true"  />
													</div>
												</div>
												
												<label> Valor da Terapia para o Terapeuta</label>
												<div class="form-group">
													<div class="col-sm-2">
														<input type="text" name="atendValordeb" id="atendValordeb" placeholder="" class="form-control" readonly="true"  />
													</div>
												</div>
												
												<label> Descrição do Atendimento / Evolução</label>
												<div class="form-group">
													<div class="col-sm-9">
														<textarea type="text" name="atendEvolucao" id="atendEvolucao" placeholder="" class="form-control" rows="3" class="col-sm-9" data-iconlibrary="fa">

														</textarea>
													</div>
												</div>
												<div id="divTabil" name="divTabil" class="hidden">
													<div id="tabilTerapeutaId" name="tabilTerapeutaId" value=""></div>
													<div id="tabilValorcredit" name="tabilValorcredit" value=""></div>
													<div id="tabilValordebit" name="tabilValordebit" value=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div>
									<input class="hidden" id="atendAtenddata"  name="atendAtenddata" />
								</div>
								<div class="space-4"></div>							
								<div class="space-4"></div>

									<div class="form-actions">
										<div class="col-xs-12" style="text-align: center;" >
										<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Salvar
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn btn-warning" name="acaoCancelar" id="acaoCancelar" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Voltar
										</button>
									</div>
								</div>
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
	</body>
</html>
