<!DOCTYPE html>
<html lang="pt-br"><head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<title>Lista de Atendimentos</title>

		<meta name="description" content="Static &amp; Dynamic Tables">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../assets/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="../../../assets/css/fonts.googleapis.com.css">

		<!-- ace styles -->
		<link rel="stylesheet" href="../../../assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../../assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="../../../assets/css/ace-skins.min.css">
		<link rel="stylesheet" href="../../../assets/css/ace-rtl.min.css">

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../../../assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="../../../assets/js/ace-extra.min.js"></script><style>@keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-moz-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-webkit-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-ms-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}@-o-keyframes nodeInserted{from{outline-color:#fff}to{outline-color:#000}}.ace-save-state{animation-duration:10ms;-o-animation-duration:10ms;-ms-animation-duration:10ms;-moz-animation-duration:10ms;-webkit-animation-duration:10ms;animation-delay:0s;-o-animation-delay:0s;-ms-animation-delay:0s;-moz-animation-delay:0s;-webkit-animation-delay:0s;animation-name:nodeInserted;-o-animation-name:nodeInserted;-ms-animation-name:nodeInserted;-moz-animation-name:nodeInserted;-webkit-animation-name:nodeInserted}</style>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../../../assets/js/html5shiv.min.js"></script>
		<script src="../../../assets/js/respond.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			function ajustaData(){
				let fullDatas = document.getElementsByName("fullData")

				fullDatas.forEach((elementox)=>{
					let id = "atenddata"+elementox.id;
					let dat = new Date(elementox.value);
					let mes = (dat.getMonth()+1).toString();
					let dia = (dat.getUTCDate()).toString();

					if (mes.length == 1){
						mes = "0"+mes;
					}
					if (dia.length == 1){
						dia = "0"+dia;
					}

					let fulldate=(dia+"/"+mes+"/"+dat.getFullYear()).toString();
				})
			}
			function formataData(){
				let dat = new Date(document.getElementById('dataFil').value);
				let mes = (dat.getMonth()+1).toString();
				let dia = (dat.getUTCDate()).toString();
				if (mes.length == 1){
					mes = "0"+mes;
				}
				if (dia.length == 1){
					dia = "0"+dia;
				}
				let fulldate=(dat.getFullYear()+"-"+mes+"-"+dia+' 00:00:00.000Z').toString();
				document.getElementById('dataFinal').value = fulldate;
				console.log("dataFinal:"+document.getElementById('dataFinal').value);
			}
			function trocaFiltroData(){
				let fill = document.getElementById("tipoData").value;
				if(fill == "Ano/Mes"){
					document.getElementById("divAnoAtend").hidden = false;
					document.getElementById("divMesAtend").hidden = false;
					document.getElementById("divDataFil").hidden = true;
				} else {
					document.getElementById("divAnoAtend").hidden = true;
					document.getElementById("divMesAtend").hidden = true;
					document.getElementById("divDataFil").hidden = false;
				}
			}
			function carregaBody(){
				document.getElementById("divDataFil").hidden = true;
			}
		</script>
	</head>
	<body class="no-skin" onload="javascript:carregaBody()">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
						<div class="espace">
						</div>
						<div class="page-header">
							<h1>
								Lista de Atendimentos
							</h1>
						</div><!-- /.page-header -->

					{{#each error}}
						<div class="alert alert-danger">{{texto}}{{error}}</div>
					{{else}}
					{{/each}}
					<div class="page-content"><!-- .page-content -->
						<div class="col-xs-12" class="row">
							<div class="col-sm-2">
								<div class="row">
									<div class="input-group">
										<label>Tipo Filtro Data:&nbsp;</label>
										<select name="tipoData" id="tipoData" class="chosen-select" data-placeholder="Escolha..." value="Ano/Mes" onchange="javascript:trocaFiltroData()">
											<option value="Ano/Mes">Ano/Mes</option>
											<option value="Dia">Dia</option>
										</select>
									</div>
								</div>
							</div>
							<div class="hidden col-sm-2">
								<div class="row">
									<div class="input-group">
										<label> Filial:&nbsp;</label>
										<select name="empresaFilial" id="empresaFilial" class="chosen-select" data-placeholder="Escolha..." value="Natriz">
											<option value="Matriz">Matriz</option>
											<option value="Filial 1">Filial 1</option>
											<option value="Filial 2">Filial 2</option>
											<option value="Filial 3">Filial 3</option>
											<option value="Filial 4">Filial 4</option>
										</select>
									</div>
								</div>
							</div>
							<div id="divAnoAtend" class="col-xs-12 col-sm-2">
								<div class="row">
									<div class="input-group">
										<label for="id-date-picker-1">Ano:&nbsp;</label>
										<select name="anoAtend" id="anoAtend" class="chosen-select" data-placeholder="Escolha..." value="2023">
											<option value="2022">2022</option>
											<option value="2023">2023</option>
											<option value="2022">2024</option>
											<option value="2023">2025</option>
										</select>
									</div>
								</div>
							</div>
							<div id="divMesAtend" class="col-xs-12 col-sm-2">
								<div class="row">
									<div class="input-group">
										<label for="id-date-picker-1">Mês:&nbsp;</label>
										<select name="mesAtend" id="mesAtend" class="chosen-select" data-placeholder="Escolha..." value="Sem Info">
											<option value="Sem Info">Sem Informação</option>
											<option value="Janeiro">Janeiro</option>
											<option value="Fevereiro">Fevereiro</option>
											<option value="Março">Março</option>
											<option value="Abril">Abril</option>
											<option value="Maio">Maio</option>
											<option value="Junho">Junho</option>
											<option value="Julho">Julho</option>
											<option value="Agosto">Agosto</option>
											<option value="Setembro">Setembro</option>
											<option value="Outubro">Outubro</option>
											<option value="Novembro">Novembro</option>
											<option value="Dezembro">Dezembro</option>
										</select>
									</div>
								</div>
							</div>
							<div id="divDataFil" class="col-xs-12 col-sm-2">
								<div class="input-group">
									<label>Data: </label>
									<input style="height: 30px;" id="dataFil" name="dataFil" type="date" onchange="javascript:formataData();">
									<input class="hidden" id="dataFinal" name="dataFinal" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-2">
								<div class="row">
									<div class="input-group">
										<label>Terapeuta:&nbsp;</label>
										<select name="tipoFiltro" id="tipoFiltro" class="chosen-select" data-placeholder="Escolha..." value="Geral">
											{{#each terapeutas}}
												<option value="{{_id}}">{{usuario_nome}}</option>
											{{/each}}
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-2">
								<div class="row">
									<div class="input-group">
										<label>Beneficiário:&nbsp;</label>
										<select name="atendBeneId" id="atendBeneId" class="chosen-select" data-placeholder="Escolha..." value="Geral">
											{{#each benes}}
												<option value="{{_id}}">{{bene_nome}}</option>
											{{/each}}
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="row">
									<div class="input-group">
										<label>Tipo Filtro:&nbsp;</label>
										<select name="atendTerapeutaId" id="atendTerapeutaId" class="chosen-select" data-placeholder="Escolha..." value="Geral">
											<option value="Geral">Geral</option>
											<option value="Beneficiário">Beneficiário</option>
											<option value="Terapeuta">Terapeuta</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<button name="acaoPesquisar" id="acaoPesquisar" type="submit" class="btn btn-xs btn-info" style="margin-left: 25px;">
								<i class="ace-icon fa fa-search-plus "></i>
								</button>
							</div>
							<hr>
						</div>
						<div class="row"><!--.row -->
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<div class="clearfix" >
											<div class="pull-right tableTools-container">
											</div>
										</div>
										<div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
										</div>
										<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
											<thead>
												<tr role="row">
													<th class="center">
														<label class="pos-rel">
															<input type="checkbox" class="ace" />
															<span class="lbl"></span>
														</label>
													</th>
													<th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" >Data</th>
													<th class="sorting" tabindex="1" aria-controls="dynamic-table" rowspan="1" colspan="1" >Hora</th>
													<th class="sorting" tabindex="2" aria-controls="dynamic-table" rowspan="1" colspan="1" >Beneficiário</th>
													<th class="sorting" tabindex="3" aria-controls="dynamic-table" rowspan="1" colspan="1" >Convênio</th>
													<th class="sorting" tabindex="4" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapia</th>
													<th class="sorting" tabindex="5" aria-controls="dynamic-table" rowspan="1" colspan="1" >Terapeuta</th>
													<th class="sorting" tabindex="6" aria-controls="dynamic-table" rowspan="1" colspan="1" >Origem</th>
													<th class="sorting" tabindex="7" aria-controls="dynamic-table" rowspan="1" colspan="1" >Cred</th>
													<th class="sorting" tabindex="8" aria-controls="dynamic-table" rowspan="1" colspan="1" >Deb</th>
													<th tabindex="9" aria-controls="dynamic-table" rowspan="1" colspan="1"style="width: 100px;">Ação</th>
												</tr>
											</thead>
											<tbody>
												{{#each atends}}
													<tr role="row" class="odd">
														<td class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</td>
														<td>
															<input style="border: none; width: 80px;" readonly="true" id="atenddata{{atend_num}}" value="{{data}}" />
														</td>	
														<td>
															<input style="border: none; width: 80px;" readonly="true" id="atenddata{{atend_num}}" value="{{hora}}" />
														</td>				
														{{#each ../benes}}
															{{#ifEqual this._id ../atend_beneid}}
																<td>{{bene_nome}}</td>
															{{/ifEqual}}
														{{/each}}
														{{#each ../convs}}<!-- Ok -->	
															{{#ifEqual this._id ../atend_convid}}
																<td>{{conv_nome}}</td>
															{{/ifEqual}}
														{{/each}}
														{{#each ../terapias}}<!-- Ok -->
															{{#ifEqual this._id ../atend_terapiaid}}
																<td>{{terapia_nome}}</td>
															{{/ifEqual}}
														{{/each}}
														{{#each ../usuarios}}
															{{#ifEqual this._id ../atend_terapeutaid}}
																<td>{{usuario_nome}}</td> <!-- Nome Usuário que é Terapeuta -->	
															{{/ifEqual}}
														{{/each}}
														<td>{{atend_org}}</td><!-- Deve aparecer a terapia e não o id -->
														<td>{{atend_valorcre}}</td>
														<td>{{atend_valordeb}}</td> <!-- Nome Usuário que é Terapeuta -->	
														<td>
															<div class="action-buttons">
																<a class="green" name="acaoEdi" id="acaoEdi" href="/menu/atendimento/edi/{{_id}}">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>
																<a class="red" name="acaoDel" id="acaoDel" href="/menu/atendimento/del/{{_id}}">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
																{{#each ../benes}}
																	{{#ifEqual this._id ../atend_beneid}}
																		<a class="blue" name="acaoDel" id="acaoDel" href="/menu/atendimento/relatendInd/{{this._id}}">
																	<i class="ace-icon fa fa-file-o bigger-130"></i>
																</a>
																	{{/ifEqual}}
																{{/each}}
															</div>
															<div class="hidden-md hidden-lg">
															</div>
														</td>
													</tr>
												{{/each}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content-inner -->
			</div><!-- /.main-content -->
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container ace-save-state -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="../../../assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="../../../assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../../assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../../../assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
		<script src="../../../assets/js/jquery.dataTables.bootstrap.min.js"></script>
		<script src="../../../assets/js/dataTables.buttons.min.js"></script>
		<script src="../../../assets/js/buttons.flash.min.js"></script>
		<script src="../../../assets/js/buttons.html5.min.js"></script>
		<script src="../../../assets/js/buttons.print.min.js"></script>
		<script src="../../../assets/js/buttons.colVis.min.js"></script>
		<script src="../../../assets/js/dataTables.select.min.js"></script>

		<!-- ace scripts -->
		<script src="../../../assets/js/ace-elements.min.js"></script>
		<script src="../../../assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable = 
				$('#dynamic-table')
				//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [ { "bSortable": false }, null, null, null, null, null, null, null, null, null,{ "bSortable": false }],
					"aaSorting": [],
					
					
					//"bProcessing": true,
			        //"bServerSide": true,
			        //"sAjaxSource": "http://127.0.0.1/table.php"	,
			
					//,
					//"sScrollY": "200px",
					"bPaginate": true,
			
					//"sScrollX": "100%",
					//"sScrollXInner": "120%",
					//"bScrollCollapse": true,
					//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
					//you may want to wrap the table inside a "div.dataTables_borderWrap" element
			
					//"iDisplayLength": 50
			
			
					select: {
						style: 'multi'
					}
			    } );
			
				
				
			
			
				$(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
					e.stopImmediatePropagation();
					e.stopPropagation();
					e.preventDefault();
				});
				
				
				
				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				var active_class = 'active';
				$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header
					
					$(this).closest('table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
						else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
					});
				});
				
				//select/deselect a row when the checkbox is checked/unchecked
				$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
					var $row = $(this).closest('tr');
					if($row.is('.detail-row ')) return;
					if(this.checked) $row.addClass(active_class);
					else $row.removeClass(active_class);
				});
			
				
			
				/********************************/
				//add tooltip for small view action buttons in dropdown menu
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				
				//tooltip placement on right or left
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $source.offset();
					//var w2 = $source.width();
			
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}
				
				
				
				
				/***************/
				$('.show-details-btn').on('click', function(e) {
					e.preventDefault();
					$(this).closest('tr').next().toggleClass('open');
					$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
				});
				/***************/
				

			
			})
		</script>
	

	</body>

</html>