<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Relatório de Atendimentos e Valores</title>
		<script type="text/javascript">
			function atualizaDataIni(){
				let fulldate = (document.getElementById('dataFilDe').value+' 00:00:00.000Z').toString();
				document.getElementById('dataIni').value = fulldate;
			}
			function atualizaDataFin(){
				let fulldate = (document.getElementById('dataFilAte').value+' 00:00:00.000Z').toString();
				document.getElementById('dataFim').value = fulldate;
			}
			function carregaBody(){
				/*
				let sessoes = document.getElementsByName("sessoes")
				let valores = document.getElementsByName("valor")
				sessoes.forEach((s)=>{
					let subTotal = s.value * (document.getElementById("valor"+s.id).value);
					document.getElementById("subtotal"+s.id).value = subTotal;
				})*/
			}
		</script>
	</head>
	<body class="no-skin">
		<div class="main-container ace-save-state" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Relatório de Atendimentos e Valores</li>
						</ul><!-- /.breadcrumb -->
					</div>
					<form role="form" action="/menu/atendimento/relatendvals" method="POST">
						<div class="breadcrumbs" id="breadcrumbs" style="align-items: center;" style="text-align: center;" />
							<ul class="breadcrumb" >
								<label>Período de:</label>
								<input style="height: 30px;" id="dataFilDe" name="dataFilDe" type="date" onchange="javascript:atualizaDataIni()">
								<input class="hidden" id="dataIni" name="dataIni" />
								<label>até:</label>
								<input style="height: 30px;" id="dataFilAte" name="dataFilAte" type="date" onchange="javascript:atualizaDataFin()">
								<input class="hidden" id="dataFim" name="dataFim" />
								<label>Convênio: </label>
								<select style="height: 30px; width:300px;" name="relConvid"  id="relConvid" class="chosen-select" data-placeholder="Escolha...">
									{{#each convs}}
										<option value="{{_id}}">{{conv_nome}}</option>
									{{/each}}
								</select>
								<button class="btn btn-info" name="acaoSalvar" id="acaoSalvar" type="submit">
									<i class="ace-icon fa fa-search bigger-110"></i>
									Pesquisar
								</button>
							</ul><!-- /.breadcrumb -->
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="space-6"></div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="widget-box transparent">
									<div style="text-align: center;">
										<img width="140" height="60" alt="150x150" style="alight center" src="/images/Logos/logoRoutecentro.png">
									</div>
										<div class="widget-header widget-header-large">
											<h3 class="widget-title grey lighter">
												<i class="ace-icon fa fa-leaf green"></i>
												Atendimentos e Valores
											</h3>
										</div>
									<div class="widget-body">
										<div class="widget-main padding-24">
											<div class="row">
												<div class="col-sm-12">
													<div class="row">
														<div class="col-xs-12 label label-lg label-info arrowed-in arrowed-right">
															<b>Informações do Prestador</b>
														</div>
													</div>
													<div>
														<ul class="list-unstyled">
															<li>
																<i class="ace-icon fa fa-caret-right blue"></i><b>Prestador: </b>Route Centro de Terapia e Apoio Infantil
															</li>
															<li>
																<i class="ace-icon fa fa-caret-right blue"></i><b>CNPJ: </b> 33.346.423/0001-17
															</li>
														</ul>
													</div>
													<div class="row">
														<div class="col-xs-12 label label-lg label-success arrowed-in arrowed-right">
															<b>Informações do Relatório</b>
														</div>
													</div>
													<div>
														<ul class="list-unstyled ">
															<li>
																<i class="ace-icon fa fa-caret-right green"></i><b>Periodo de: </b>{{periodoDe}}<b> até: </b>{{periodoAte}}
															</li>
															<li>
																<i class="ace-icon fa fa-caret-right green"></i><b>Convênio:</b> {{conv_nome}}
															</li>
														</ul>
													</div>
													<div class="row">
														<div class="col-xs-12 label label-lg label-warning arrowed-in arrowed-right">
															<b>Informações dos Atendimentos</b>
														</div>
													</div>
											</div><!-- /.row -->
											<div>
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th class="center">#</th>
															<th>Terapia</th>
															<th>Sessões</th>
															<th>Valor da Sessão</th>
															<th>Valor Total</th>															
														</tr>
													</thead>
													{{#each rels}}
														<tbody>
															<tr>
																<td class="center">#</td>
																{{#each ../terapias}}
																	{{#ifEqual this._id ../nomecid}}
																		<td>{{terapia_nomecid}}</td>
																	{{/ifEqual}}
																{{/each}}
																<td>{{sessoes}}</td>
																<td>{{valor}}</td>		
																<td>{{total}}</td>				
															</tr>
														</tbody>
													{{/each}}
													<footer>
														<tr class="hr-double">
															<td class="right">5</td>
															<td><b>Total</b></td>
															<td><b>{{total.sessoes}}</b></td>
															<td><b>-</b></td>		
															<td><b>{{total.total}}</b></td>					
														</tr>
													</footer>
												</table>
											</div>
											<div class="row"><!-- Área reservada para Assinaturas -->
												<div class="space space-32"></div>
												<div class="col-xs-4 col-sm-4">
													<div class=""></div>
													<label></label>
												</div>
												<div class="col-xs-4 col-sm-4">
													<div class=""></div>
													<label></label>
												</div>
												<div class="col-xs-4 col-sm-4">
													<div class="hr"></div>
													<label>Assinatura da Clínica</label>
												</div>
											</div><!-- /.Área reservada para Assinaturas -->					
										</div>
									</div>
								</div>
							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container --><!-- basic scripts -->
	</body>
</html>
